---
title: Breadcrumb with collapsed sidebar
categories: 
---
<script type="text/javascript">

    $(document).ready(function(){

      $('body').addClass('sidebar-collapsed');

    });

</script>

<div id="page-nav" class="main-nav">

    <div id="page-breadcrumb">
        <a href="#" title="Dashboard">
            <i class="glyph-icon icon-dashboard"></i>
            Dashboard
        </a>
        <a href="#" title="Elements">
            <i class="glyph-icon icon-laptop"></i>
            Elements
        </a>
        <span class="current">
            Example breadcrumb
        </span>
    </div>
    <div id="page-nav-right">
        <a href="#" title="" class="btn btn-success">
            <i class="glyph-icon icon-cogs"></i>
            Statistics
        </a>
        <a href="#" title="" class="btn btn-blue-alt">
            <i class="glyph-icon icon-cogs"></i>
            Chat
        </a>
    </div>

</div><!-- #page-nav -->