---
title: Horizontal & sidebar collapsed menus
categories: 
---

<script type="text/javascript">

    $(document).ready(function(){

      $('body').addClass('horizontal-menu sidebar-collapsed');

    });

</script>

    <div id="page-nav" class="main-nav">

        <ul>
            <li>
                <a href="#" title="Dashboards examples">
                    <i class="glyph-icon icon-dashboard"></i>
                    <span>Dashboards</span>
                </a>
                <ul>
                    <li>
                        <a href="index.html" title="Dashboard example 1">
                            Dashboard 1
                        </a>
                    </li>
                    <li>
                        <a href="index_alt.html" title="Dashboard example 2">
                            Dashboard 2
                        </a>
                    </li>
                    <li>
                        <a href="index_alt2.html" title="Dashboard example 3">
                            Dashboard 3
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" title="Layout API">
                    <i class="glyph-icon icon-folder-open"></i>
                    <span>Layout API</span>
                </a>
                <ul>
                    <li class="header">Navigation</li>
                    <li>
                        <a href="page-horizontal-menu.html" title="Page with horizontal menu">
                            Only horizontal menu
                        </a>
                    </li>
                    <li>
                        <a href="page-centered-menu.html" title="Blank page">
                            Centered horizontal menu
                        </a>
                    </li>
                    <li>
                        <a href="page-both-menu.html" title="Blank page">
                            Horizontal &amp; Sidebar menus
                        </a>
                    </li>
                    <li>
                        <a href="page-blank.html" title="Blank page">
                            Horizontal &amp; collapsed sidebar menus
                        </a>
                    </li>
                    <li>
                        <a href="page-blank.html" title="Blank page">
                            Colapsed sidebar menu
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="header">Pages</li>
                    <li>
                        <a href="page-blank.html" title="Blank page">
                            Blank page
                        </a>
                    </li>
                    <li>
                        <a href="page-wrapper.html" title="Page without wrapper">
                            Page without wrapper
                        </a>
                    </li>
                    <li>
                        <a href="page-multi.html" title="Page with multiple wrappers">
                            Page with multiple wrappers
                        </a>
                    </li>
                    <li>
                        <a href="page-tabs.html" title="Page with tabs">
                            Page with tabs
                        </a>
                    </li>
                    <li>
                        <a href="page-container.html" title="Page with tabs">
                            Page with container
                        </a>
                    </li>
                    <li>
                        <a href="page-tabs.html" title="Page with tabs">
                            Custom scrollbar
                        </a>
                    </li>
                </ul>

            </li>
            <li>
                <a href="#" title="Pages">
                    <i class="glyph-icon icon-folder-open"></i>
                    <span>Extra Pages</span>
                </a>
                <ul>
                    <li>
                        <a href="grid.html" title="Grid Layouts">
                            Grid Layouts
                        </a>
                    </li>
                    <li>
                        <a href="helper_classes.html" title="Helpers">
                            Helpers
                        </a>
                    </li>
                    <li>
                        <a href="animations.html" title="Animations">
                            Animations
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="login.html" title="Lockscreen">
                            Lockscreen
                        </a>
                    </li>
                    <li>
                        <a href="login.html" title="Login example 1">
                            Login example 1
                        </a>
                    </li>
                    <li>
                        <a href="login-alt.html" title="Login example 2">
                            Login example 2
                        </a>
                    </li>
                    <li>
                        <a href="login-alt.html" title="Login example 3">
                            Login example 3
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="header">Error pages</li>
                    <li>
                        <a href="page-404.html" title="Error 404">
                            Error 404
                        </a>
                    </li>
                    <li>
                        <a href="page-500.html" title="Error 404">
                            Error 500
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div><!-- #page-nav -->

