---
title: Page with custom scrollbar
categories: 
---

<script type="text/javascript">

    jQuery(document).ready(function() {
        jQuery("#sb-site").niceScroll({
            horizrailenabled: false,
            cursorborder: "0",
            cursorwidth: "18px",
            cursorcolor: "#363636",
            zindex: "5555",
            autohidemode: true,
            bouncescroll: true,
            mousescrollstep: '40',
            scrollspeed: '100',
            background: "#cdcdcd",
            cursoropacitymax: "0.6",
            cursorborderradius: "55px"
        });
    });

</script>

<div id="page-content">
    <div class="page-box">
        <h3 class="page-title">
            {{title }}
            <small>
                View all kinds of {{title }} examples below.
            </small>
        </h3>
        <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
    </div>

    <div class="row mrg20T">
        <div class="col-md-6">
            <div class="page-box">
                <h3 class="page-title">
                    Blank page
                    <small>
                        This page has no content and can be your starting canvas
                    </small>
                </h3>
                <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-box">
                <h3 class="page-title">
                    Blank page
                    <small>
                        This page has no content and can be your starting canvas
                    </small>
                </h3>
                <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
            </div>
        </div>
    </div>

    <div class="row mrg20T">
        <div class="col-md-6">
            <div class="page-box">
                <h3 class="page-title">
                    Blank page
                    <small>
                        This page has no content and can be your starting canvas
                    </small>
                </h3>
                <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="page-box">
                <h3 class="page-title">
                    Blank page
                    <small>
                        This page has no content and can be your starting canvas
                    </small>
                </h3>
                <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
            </div>
        </div>
    </div>

</div><!-- #page-content -->