---
title: Page with container
categories: 
---

<div id="page-content">

    <div class="container">
        <div class="page-box">
            <h3 class="page-title">
                Page with container
                <small>
                    This page has the content wrapped in a responsive container.
                </small>
            </h3>

            <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>

        </div>
    </div>

</div><!-- #page-content -->