---
title: Multiple wrapper layout
categories: 
---
    <div id="page-content">
        <div class="page-box">
            <h3 class="page-title">
                {{title }}
                <small>
                    View all kinds of {{title }} examples below.
                </small>
            </h3>
            <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
        </div>

        <div class="row mrg20T">
            <div class="col-md-6">
                <div class="page-box">
                    <h3 class="page-title">
                        Blank page
                        <small>
                            This page has no content and can be your starting canvas
                        </small>
                    </h3>
                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                </div>
            </div>
            <div class="col-md-6">
                <div class="page-box">
                    <h3 class="page-title">
                        Blank page
                        <small>
                            This page has no content and can be your starting canvas
                        </small>
                    </h3>
                    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page with the content inside a white background wrapper element.</h1>
                </div>
            </div>
        </div>

    </div><!-- #page-content -->