---
title: Panel boxes
categories: Framework
tags: Elements
---
    <h2 class="title-hero">
        Panel boxes
    </h2>
    <p class="title-lead">Panel boxes are modular components that use the framework grid system to create components.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/panel-box.css - Contains the CSS needed for the panel boxes structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {{> theming  }}

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">Use the markups below to create panel boxes.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-6">
                <div class="panel-layout">
                    <div class="panel-box col-xs-4 bg-green">
                        <div class="panel-content">
                            <h4>Overview</h4>
                            <p class="opacity-60">Example panel box</p>
                        </div>
                    </div>
                    <div class="panel-box col-xs-8">

                        <div class="panel-content  bg-black">
                            <div class="sparkline-big">183,579,180,311,240,180,311,450,302,370,210,610</div>
                        </div>
                        <div class="panel-content bg-white">
                            <div class="center-vertical">

                                <ul class="center-content nav nav-justified">
                                    <li>
                                        <h4 class="font-green">+$39,45</h4>
                                        <p class="font-gray">Overdue orders</p>
                                    </li>
                                    <li>
                                        <h4>
                                            <i class="glyph-icon opacity-60 icon-caret-up"></i>
                                            217
                                        </h4>
                                        <p class="font-gray">Pending orders</p>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="panel-layout">
                    <div class="panel-box col-xs-6">

                        <div class="panel-content bg-white">
                            <canvas id="icon-cloud" width="80" height="80"></canvas>
                        </div>
                        <div class="panel-content bg-black">
                            <div class="center-vertical">

                                <ul class="center-content nav nav-justified">
                                    <li>
                                        <h4>
                                            <i class="glyph-icon font-green opacity-80 icon-chevron-down"></i>
                                            7 &ordm;
                                        </h4>
                                        <p class="opacity-80 text-transform-upr font-size-11 mrg5T">Low</p>
                                    </li>
                                    <li>
                                        <h4>
                                            <i class="glyph-icon font-red opacity-80 icon-chevron-up"></i>
                                            21 &ordm;
                                        </h4>
                                        <p class="opacity-80 text-transform-upr font-size-11 mrg5T">High</p>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    <div class="panel-box col-xs-6 bg-blue-alt">
                        <div class="panel-content">
                            <h3>Bucharest</h3>
                            <h4 class="opacity-60">Romania</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="panel-layout">
                    <div class="panel-box">

                        <div class="panel-content bg-red">

                            <div class="">
                                <img src="http://placehold.it/50x50" alt="" class="img-bordered border-red img-circle mrg10B">
                                <h5 class="font-bold mrg5B">Johnny Anderson</h5>
                                <span>Frondend Developer</span>
                            </div>

                        </div>
                        <div class="panel-content pad15A bg-white">
                            <div class="center-vertical">

                                <ul class="center-content list-group list-group-separator row mrg0A">
                                    <li class="col-md-6">
                                        <a href="#" title="">
                                            <i class="glyph-icon opacity-60 icon-inbox"></i>
                                            <p class="mrg5T">Inbox</p>
                                        </a>
                                    </li>
                                    <li class="col-md-6">
                                        <a href="#" title="">
                                            <i class="glyph-icon opacity-60 icon-group"></i>
                                            <p class="mrg5T">Groups</p>
                                        </a>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="panel-layout">
                    <div class="panel-box">

                        <div class="panel-content clearfix bg-azure">

                            <div class="float-left">
                                <i class="glyph-icon icon-chevron-up"></i>
                                23 &ordm;
                                <div class="opacity-80 text-transform-upr font-size-11 mrg5T">High</div>
                            </div>
                            <div class="float-right">
                                <i class="glyph-icon icon-chevron-down"></i>
                                7 &ordm;
                                <div class="opacity-80 text-transform-upr font-size-11 mrg5T">Low</div>
                            </div>

                            <div class="center-vertical">

                                <div class="center-content mrg15T font-size-23">
                                    <canvas id="icon-clear-2" width="64" height="64"></canvas>
                                    <div class="mrg10T opacity-60">18 &ordm;</div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="row">
                    <div class="col-md-6">

                        <div class="panel-layout">
                            <div class="panel-box">

                                <div class="panel-content bg-facebook">

                                    <i class="glyph-icon font-size-35 icon-facebook"></i>

                                </div>
                                <div class="panel-content pad15A bg-white">
                                    <div class="center-vertical">

                                        <ul class="center-content list-group list-group-separator row mrg0A">
                                            <li class="col-md-6">
                                                <b>1,456</b>
                                                <p class="font-gray">Friends</p>
                                            </li>
                                            <li class="col-md-6">
                                                <b>593</b>
                                                <p class="font-gray">Likes</p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="panel-layout">
                            <div class="panel-box">

                                <div class="panel-content bg-twitter">

                                    <i class="glyph-icon font-size-35 icon-twitter"></i>

                                </div>
                                <div class="panel-content pad15A bg-white">
                                    <div class="center-vertical">

                                        <ul class="center-content list-group list-group-separator row mrg0A">
                                            <li class="col-md-6">
                                                <b>356</b>
                                                <p class="font-gray">Followers</p>
                                            </li>
                                            <li class="col-md-6">
                                                <b>981</b>
                                                <p class="font-gray">Tweets</p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-layout">
                                <div class="panel-box col-xs-4 bg-green">
                                    <div class="panel-content">
                                        <h4>Overview</h4>
                                        <p class="opacity-60">Example panel box</p>
                                    </div>
                                </div>
                                <div class="panel-box col-xs-8">

                                    <div class="panel-content  bg-black">
                                        <div class="sparkline-big">183,579,180,311,240,180,311,450,302,370,210,610</div>
                                    </div>
                                    <div class="panel-content bg-white">
                                        <div class="center-vertical">

                                            <ul class="center-content nav nav-justified">
                                                <li>
                                                    <h4 class="font-green">+$39,45</h4>
                                                    <p class="font-gray">Overdue orders</p>
                                                </li>
                                                <li>
                                                    <h4>
                                                        <i class="glyph-icon opacity-60 icon-caret-up"></i>
                                                        217
                                                    </h4>
                                                    <p class="font-gray">Pending orders</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                            <div class="panel-layout">
                                <div class="panel-box col-xs-6">

                                    <div class="panel-content bg-white">
                                        <canvas id="icon-cloud" width="80" height="80"></canvas>
                                    </div>
                                    <div class="panel-content bg-black">
                                        <div class="center-vertical">

                                            <ul class="center-content nav nav-justified">
                                                <li>
                                                    <h4>
                                                        <i class="glyph-icon font-green opacity-80 icon-chevron-down"></i>
                                                        7 &ordm;
                                                    </h4>
                                                    <p class="opacity-80 text-transform-upr font-size-11 mrg5T">Low</p>
                                                </li>
                                                <li>
                                                    <h4>
                                                        <i class="glyph-icon font-red opacity-80 icon-chevron-up"></i>
                                                        21 &ordm;
                                                    </h4>
                                                    <p class="opacity-80 text-transform-upr font-size-11 mrg5T">High</p>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                                <div class="panel-box col-xs-6 bg-blue-alt">
                                    <div class="panel-content">
                                        <h3>Bucharest</h3>
                                        <h4 class="opacity-60">Romania</h4>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="panel-layout">
                                <div class="panel-box">

                                    <div class="panel-content bg-red">

                                        <div class="">
                                            <img src="http://placehold.it/50x50" alt="" class="img-bordered border-red img-circle mrg10B">
                                            <h5 class="font-bold mrg5B">Johnny Anderson</h5>
                                            <span>Frondend Developer</span>
                                        </div>

                                    </div>
                                    <div class="panel-content pad15A bg-white">
                                        <div class="center-vertical">

                                            <ul class="center-content list-group list-group-separator row mrg0A">
                                                <li class="col-md-6">
                                                    <a href="#" title="">
                                                        <i class="glyph-icon opacity-60 icon-inbox"></i>
                                                        <p class="mrg5T">Inbox</p>
                                                    </a>
                                                </li>
                                                <li class="col-md-6">
                                                    <a href="#" title="">
                                                        <i class="glyph-icon opacity-60 icon-group"></i>
                                                        <p class="mrg5T">Groups</p>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-layout">
                                <div class="panel-box">

                                    <div class="panel-content clearfix bg-azure">

                                        <div class="float-left">
                                            <i class="glyph-icon icon-chevron-up"></i>
                                            23 &ordm;
                                            <div class="opacity-80 text-transform-upr font-size-11 mrg5T">High</div>
                                        </div>
                                        <div class="float-right">
                                            <i class="glyph-icon icon-chevron-down"></i>
                                            7 &ordm;
                                            <div class="opacity-80 text-transform-upr font-size-11 mrg5T">Low</div>
                                        </div>

                                        <div class="center-vertical">

                                            <div class="center-content mrg15T font-size-23">
                                                <canvas id="icon-clear-2" width="64" height="64"></canvas>
                                                <div class="mrg10T opacity-60">18 &ordm;</div>
                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="panel-layout">
                                        <div class="panel-box">

                                            <div class="panel-content bg-facebook">

                                                <i class="glyph-icon font-size-35 icon-facebook"></i>

                                            </div>
                                            <div class="panel-content pad15A bg-white">
                                                <div class="center-vertical">

                                                    <ul class="center-content list-group list-group-separator row mrg0A">
                                                        <li class="col-md-6">
                                                            <b>1,456</b>
                                                            <p class="font-gray">Friends</p>
                                                        </li>
                                                        <li class="col-md-6">
                                                            <b>593</b>
                                                            <p class="font-gray">Likes</p>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="panel-layout">
                                        <div class="panel-box">

                                            <div class="panel-content bg-twitter">

                                                <i class="glyph-icon font-size-35 icon-twitter"></i>

                                            </div>
                                            <div class="panel-content pad15A bg-white">
                                                <div class="center-vertical">

                                                    <ul class="center-content list-group list-group-separator row mrg0A">
                                                        <li class="col-md-6">
                                                            <b>356</b>
                                                            <p class="font-gray">Followers</p>
                                                        </li>
                                                        <li class="col-md-6">
                                                            <b>981</b>
                                                            <p class="font-gray">Tweets</p>
                                                        </li>
                                                    </ul>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>


    <h3 class="title-hero">
        Meta boxes
    </h3>
    <p class="title-lead">Use the markups below to add meta boxes to panels. To align the text at the bottom use the <code>.meta-box-bottom</code> CSS class.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-4">

                <div class="panel-layout">
                    <div class="panel-box">

                        <div class="panel-content image-box">

                            <div class="image-content font-white">

                                <div class="center-vertical">
                                    <div class="meta-box center-content">
	                                    <h4 class="meta-subheading">Ultimate backend programmer</h4>
	                                    <h3 class="meta-heading">Alex Rosenberg</h3>
	                                    <p class="meta-desc">Lorem ipsum dolor sic amet dixit tu dolor sic amet dixit tu</p>
                                    </div>
                                </div>

                            </div>
                            <img src="assets-minified/dummy-images/bg31.jpg" alt="">

                        </div>
                        <div class="panel-content bg-white">
                            You can put here other elements or texts !
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="panel-layout">
                    <div class="panel-box">

                        <div class="panel-content image-box">

                            <div class="image-content font-white">

                                <div class="meta-box meta-box-bottom">
                                    <h4 class="meta-subheading">Ultimate backend programmer</h4>
                                    <h3 class="meta-heading">Alex Rosenberg</h3>
                                    <p class="meta-desc">Lorem ipsum dolor sic amet dixit tu dolor sic amet dixit tu</p>
                                </div>

                            </div>
                            <img src="assets-minified/dummy-images/bg31.jpg" alt="">

                        </div>
                        <div class="panel-content bg-white">
                            You can put here other elements or texts !
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-4">

                <div class="panel-layout">
                    <div class="panel-box">

                        <div class="panel-content image-box">

                            <div class="image-content font-white">

                                <div class="meta-box">
                                    <h4 class="meta-subheading">Ultimate backend programmer</h4>
                                    <h3 class="meta-heading">Alex Rosenberg</h3>
                                    <p class="meta-desc">Lorem ipsum dolor sic amet dixit tu dolor sic amet dixit tu</p>
                                </div>

                            </div>
                            <img src="assets-minified/dummy-images/bg31.jpg" alt="">

                        </div>
                        <div class="panel-content bg-white">
                            You can put here other elements or texts !
                        </div>

                    </div>
                </div>

            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="row">
                        <div class="col-md-4">

                            <div class="panel-layout">
                                <div class="panel-box">

                                    <div class="panel-content image-box">

                                        <div class="image-content font-white">

                                            <div class="center-vertical">
                                                <div class="meta-box center-content">
                                                    <h4 class="meta-subheading">Ultimate backend programmer</h4>
                                                    <h3 class="meta-heading">Alex Rosenberg</h3>
                                                    <p class="meta-desc">Lorem ipsum dolor sic amet dixit tu dolor sic amet dixit tu</p>
                                                </div>
                                            </div>

                                        </div>
                                        <img src="assets-minified/dummy-images/bg31.jpg" alt="">

                                    </div>
                                    <div class="panel-content bg-white">
                                        asdasdasd
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="panel-layout">
                                <div class="panel-box">

                                    <div class="panel-content image-box">

                                        <div class="image-content font-white">

                                            <div class="meta-box meta-box-bottom">
                                                <h4 class="meta-subheading">Ultimate backend programmer</h4>
                                                <h3 class="meta-heading">Alex Rosenberg</h3>
                                                <p class="meta-desc">Lorem ipsum dolor sic amet dixit tu dolor sic amet dixit tu</p>
                                            </div>

                                        </div>
                                        <img src="assets-minified/dummy-images/bg31.jpg" alt="">

                                    </div>
                                    <div class="panel-content bg-white">
                                        asdasdasd
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="panel-layout">
                                <div class="panel-box">

                                    <div class="panel-content image-box">

                                        <div class="image-content font-white">

                                            <div class="meta-box">
                                                <h4 class="meta-subheading">Ultimate backend programmer</h4>
                                                <h3 class="meta-heading">Alex Rosenberg</h3>
                                                <p class="meta-desc">Lorem ipsum dolor sic amet dixit tu dolor sic amet dixit tu</p>
                                            </div>

                                        </div>
                                        <img src="assets-minified/dummy-images/bg31.jpg" alt="">

                                    </div>
                                    <div class="panel-content bg-white">
                                        asdasdasd
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>