---
title: Progress bars
categories: Framework
tags: Elements
---

<!-- jQueryUI Progress Bar -->

<!--<link rel="stylesheet" type="text/css" href="assets-minified/widgets/progressbar-ui/progressbar.css">-->
<script type="text/javascript" src="assets-minified/widgets/progressbar-ui/progressbar.js"></script>

    <h2 class="title-hero">
        Progress bars
    </h2>
    <p class="title-lead">To set the progress bar width add to <code>.progressbar</code> the <code>data-value="75"</code> parameter with options between 0 and 100.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">Javascript</h4>
                    <ul>
                        <li>
                            jQuery core - <b>/assets/js-core/jquery-core.js</b>
                        </li>
                        <li>
                            Progress bar core - <b>/assets/widgets/progressbar/progressbar.js</b>
                        </li>
                    </ul>
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/widgets/progressbar/progressbar.css - Contains the CSS needed for the progress bar structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h2 class="title-hero">
        Basic
    </h2>
    <p class="title-lead">To set the progress bar width add to <code>.progressbar</code> the <code>data-value="75"</code> parameter with options between 0 and 100.</p>

    <div class="example-box-wrapper">

        <div class="progressbar-small progressbar" data-value="75">
            <div class="progressbar-value bg-red tooltip-button" title="45%">
            </div>
        </div>
        <div class="progressbar" data-value="45">
            <div class="progressbar-value bg-green">
                <div class="progress-label">45%</div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="progressbar-small progressbar" data-value="75">
                        <div class="progressbar-value bg-red tooltip-button" title="45%">
                        </div>
                    </div>
                    <div class="progressbar" data-value="45">
                        <div class="progressbar-value bg-green">
                            <div class="progress-label">45%</div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        /* Progress bars */

                        function progress(percent, element) {
                            var progressBarWidth = percent * element.width() / 100;

                            element.find('.progressbar-value').animate({ width: progressBarWidth }, 1200);
                        }

                        $(document).on('ready', function() {

                            $('.progressbar').each(function() {
                                var bar = $(this);
                                var max = $(this).attr('data-value');

                                progress(max, bar);
                            });

                        });
                    </script>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Animated progress bars
    </h3>
    <p class="title-lead">To add animated loading overlays to progress bars you need to add <code>&lt;div class="progress-overlay"&gt;&lt;/div&gt;</code> element next to <code>.progress-label</code>.</p>

    <div class="example-box-wrapper">

        <div class="progressbar-small progressbar" data-value="75">
            <div class="progressbar-value bg-red tooltip-button" title="45%">
                <div class="progressbar-overlay"></div>
            </div>
        </div>
        <div class="progressbar" data-value="45">
            <div class="progressbar-value bg-green">
                <div class="progress-label">45%</div>
                <div class="progressbar-overlay"></div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="progressbar-small progressbar" data-value="75">
                        <div class="progressbar-value bg-red tooltip-button" title="45%">
                            <div class="progressbar-overlay"></div>
                        </div>
                    </div>
                    <div class="progressbar" data-value="45">
                        <div class="progressbar-value bg-green">
                            <div class="progress-label">45%</div>
                            <div class="progressbar-overlay"></div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        /* Progress bars */

                        function progress(percent, element) {
                            var progressBarWidth = percent * element.width() / 100;

                            element.find('.progressbar-value').animate({ width: progressBarWidth }, 1200);
                        }

                        $(document).on('ready', function() {

                            $('.progressbar').each(function() {
                                var bar = $(this);
                                var max = $(this).attr('data-value');

                                progress(max, bar);
                            });

                        });
                    </script>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>