---
title: Ribbons
categories: Framework
tags: Elements
---
    <h2 class="title-hero">
        Ribbons
    </h2>
    <p class="title-lead">Use the markups below to create ribbons that can be very useful when used for pricing table or similar elements.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/ribbons.css - Contains the CSS needed for the ribbons structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">Basic left top ribbon example created by add the <code>.ribbon</code> CSS class to an element.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-3">

                <div class="content-box pad20A">
                    <div class="ribbon">
                        <div class="bg-primary">Ribbon</div>
                    </div>
                    <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                </div>

            </div>

            <div class="col-md-3">

                <div class="content-box pad20A">
                    <div class="ribbon">
                        <div class="bg-green">Ribbon</div>
                    </div>
                    <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                </div>

            </div>

            <div class="col-md-3">

                <div class="content-box pad20A">
                    <div class="ribbon">
                        <div class="bg-orange">Ribbon</div>
                    </div>
                    <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                </div>

            </div>

            <div class="col-md-3">

                <div class="content-box pad20A">
                    <div class="ribbon">
                        <div class="bg-blue-alt">Ribbon</div>
                    </div>
                    <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                </div>

            </div>

        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="row">
                        <div class="col-md-3">

                            <div class="content-box pad20A">
                                <div class="ribbon">
                                    <div class="bg-primary">Ribbon</div>
                                </div>
                                <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="content-box pad20A">
                                <div class="ribbon">
                                    <div class="bg-green">Ribbon</div>
                                </div>
                                <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="content-box pad20A">
                                <div class="ribbon">
                                    <div class="bg-orange">Ribbon</div>
                                </div>
                                <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="content-box pad20A">
                                <div class="ribbon">
                                    <div class="bg-blue-alt">Ribbon</div>
                                </div>
                                <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                            </div>

                        </div>

                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Positions
    </h3>
    <p class="title-lead">To change the position of the ribbon from top left to top right, add <code>.ribbon-tr</code> CSS class to the <code>.ribbon</code> element.</p>

    <div class="example-box-wrapper">

        <div class="row">

            <div class="col-md-3">

                <div class="content-box pad20A">
                    <div class="ribbon ribbon-tr">
                        <div class="bg-green">Ribbon</div>
                    </div>
                    <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                </div>

            </div>

        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="row">

                        <div class="col-md-3">

                            <div class="content-box pad20A">
                                <div class="ribbon ribbon-tr">
                                    <div class="bg-green">Ribbon</div>
                                </div>
                                <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                            </div>

                        </div>

                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Corner ribbon
    </h3>
    <p class="title-lead">Use the markup below to create a corner ribbon. You can also add links or tooltips to corner ribbons.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-3">

                <div class="content-box pad20A">
                    <div class="corner-ribbon">
                        <a href="#" class="btn-success" title="">
                            <i class="glyph-icon icon-comment-o tooltip-button" title="Example ribbon"></i>
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                </div>

            </div>

            <div class="col-md-3">

                <div class="content-box pad20A">
                    <div class="corner-ribbon corner-ribbon-tr">
                        <a href="#" class="btn-danger" title="">
                            <i class="glyph-icon icon-bullhorn tooltip-button" title="Example ribbon"></i>
                        </a>
                    </div>
                    <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                </div>

            </div>

        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="row">
                        <div class="col-md-3">

                            <div class="content-box pad20A">
                                <div class="corner-ribbon">
                                    <a href="#" class="btn-success" title="">
                                        <i class="glyph-icon icon-comment-o tooltip-button" title="Example ribbon"></i>
                                    </a>
                                </div>
                                <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                            </div>

                        </div>

                        <div class="col-md-3">

                            <div class="content-box pad20A">
                                <div class="corner-ribbon corner-ribbon-tr">
                                    <a href="#" class="btn-danger" title="">
                                        <i class="glyph-icon icon-bullhorn tooltip-button" title="Example ribbon"></i>
                                    </a>
                                </div>
                                <p>Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...Lorem ipsum dolor sic amet dixit tu lorem ipsum dolor sic amet...</p>
                            </div>

                        </div>

                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>