---
title: Snippets
categories: Admin templates
tags: Elements
---

    <h2 class="title-hero">
        Snippets
    </h2>
    <p class="title-lead">Use the code snippets below to create small elements like profile boxes or todo lists.</p>

    <div class="divider"></div>

    <h3 class="title-hero">
        Login box
    </h3>
    <p class="title-lead">Use the markup below to create a login details box.</p>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/snippets/login-box.css - Contains the CSS needed for the login box structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="example-box-wrapper clearfix text-center">

        <div class="user-profile center-margin dropdown">
            <a href="#" title="" class="user-ico clearfix" data-toggle="dropdown">
                <img width="36" src="assets-minified/dummy-images/gravatar.jpg" alt="">
                <i class="glyph-icon icon-chevron-down"></i>
            </a>
            <div class="dropdown-menu pad0B float-right">
                <div class="box-sm">
                    <div class="login-box clearfix">
                        <div class="user-img">
                            <a href="#" title="" class="change-img">Change photo</a>
                            <img src="assets-minified/dummy-images/gravatar.jpg" alt="">
                        </div>
                        <div class="user-info">
                            <span>
                                Horia Simon
                                <i>Front-end web developer</i>
                            </span>
                            <a href="#" title="">Edit profile</a>
                            <a href="#" title="">View notifications</a>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <ul class="reset-ul mrg5B">
                        <li>
                            <a href="#">
                                View login page example
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                View lockscreen example
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                View account details
                                <i class="glyph-icon float-right icon-caret-right"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="pad5A button-pane button-pane-alt text-center">
                        <a href="#" class="btn display-block font-normal btn-danger">
                            <span class="button-content">
                                <i class="glyph-icon icon-power-off"></i>
                                Logout
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-html">
            <pre>
                <code class="language-markup">
                    <div class="user-profile dropdown">
                        <a href="#" title="" class="user-ico clearfix" data-toggle="dropdown">
                            <img width="36" src="assets-minified/dummy-images/gravatar.jpg" alt="">
                            <i class="glyph-icon icon-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu pad0B float-left">
                            <div class="box-sm">
                                <div class="login-box clearfix">
                                    <div class="user-img">
                                        <a href="#" title="" class="change-img">Change photo</a>
                                        <img src="assets-minified/dummy-images/gravatar.jpg" alt="">
                                    </div>
                                    <div class="user-info">
                            <span>
                                Horia Simon
                                <i>Front-end web developer</i>
                            </span>
                                        <a href="#" title="">Edit profile</a>
                                        <a href="#" title="">View notifications</a>
                                    </div>
                                </div>
                                <div class="divider"></div>
                                <ul class="reset-ul mrg5B">
                                    <li>
                                        <a href="#">
                                            View login page example
                                            <i class="glyph-icon float-right icon-caret-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            View lockscreen example
                                            <i class="glyph-icon float-right icon-caret-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            View account details
                                            <i class="glyph-icon float-right icon-caret-right"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="pad5A button-pane button-pane-alt text-center">
                                    <a href="#" class="btn display-block font-normal btn-danger">
                            <span class="button-content">
                                <i class="glyph-icon icon-power-off"></i>
                                Logout
                            </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </code>
            </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Dashboard dropdown
    </h3>
    <p class="title-lead">Use the markup below to create dashboard buttons dropdown box.</p>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/buttons.css - Contains the CSS needed for the dashboard buttons dropdown structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="example-box-wrapper clearfix text-center">

        <div class="dropdown center-margin">
            <a href="#" data-toggle="dropdown" data-placement="left" class="btn btn-md btn-danger popover-button-header tooltip-button" title="Example menu">
                <span class="bs-badge badge-absolute bg-green">9</span>
                <i class="glyph-icon icon-th"></i>
            </a>
            <div class="dropdown-menu float-right">
                <div class="box-sm">
                    <div class="pad5T pad10B pad10L pad10R dashboard-buttons clearfix">
                        <a href="#" class="btn vertical-button hover-blue-alt" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                    </span>
                            Dashboard
                        </a>
                        <a href="#" class="btn vertical-button hover-green" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                    </span>
                            Widgets
                        </a>
                        <a href="#" class="btn vertical-button hover-orange" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                    </span>
                            Tables
                        </a>
                        <a href="#" class="btn vertical-button hover-orange" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                    </span>
                            Charts
                        </a>
                        <a href="#" class="btn vertical-button hover-purple" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                    </span>
                            Buttons
                        </a>
                        <a href="#" class="btn vertical-button hover-azure" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                    </span>
                            Panels
                        </a>
                    </div>

                    <div class="bg-gray text-transform-upr font-size-12 font-gray-dark pad10A">Dashboard menu</div>
                    <div class="pad5T pad10B pad10L pad10R dashboard-buttons clearfix">
                        <a href="#" class="btn vertical-button remove-border btn-info" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                    </span>
                            Dashboard
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-danger" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                    </span>
                            Widgets
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-purple" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                    </span>
                            Tables
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-azure" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                    </span>
                            Charts
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-yellow" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                    </span>
                            Buttons
                        </a>
                        <a href="#" class="btn vertical-button remove-border btn-warning" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                    </span>
                            Panels
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-html">
                <pre>
                    <code class="language-markup">


                        <div class="dropdown center-margin">
                            <a href="#" data-toggle="dropdown" data-placement="left" class="btn btn-md btn-success popover-button-header tooltip-button" title="Example menu">
                                <span class="bs-badge badge-absolute bg-green">9</span>
                                <i class="glyph-icon icon-th"></i>
                            </a>
                            <div class="dropdown-menu float-right">
                                <div class="box-sm">
                                    <div class="pad5T pad10B pad10L pad10R dashboard-buttons clearfix">
                                        <a href="#" class="btn vertical-button hover-blue-alt" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                    </span>
                                            Dashboard
                                        </a>
                                        <a href="#" class="btn vertical-button hover-green" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                    </span>
                                            Widgets
                                        </a>
                                        <a href="#" class="btn vertical-button hover-orange" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                    </span>
                                            Tables
                                        </a>
                                        <a href="#" class="btn vertical-button hover-orange" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                    </span>
                                            Charts
                                        </a>
                                        <a href="#" class="btn vertical-button hover-purple" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                    </span>
                                            Buttons
                                        </a>
                                        <a href="#" class="btn vertical-button hover-azure" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                    </span>
                                            Panels
                                        </a>
                                    </div>

                                    <div class="bg-gray text-transform-upr font-size-12 font-gray-dark pad10A">Dashboard menu</div>
                                    <div class="pad5T pad10B pad10L pad10R dashboard-buttons clearfix">
                                        <a href="#" class="btn vertical-button remove-border btn-info" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-dashboard opacity-80 font-size-20"></i>
                    </span>
                                            Dashboard
                                        </a>
                                        <a href="#" class="btn vertical-button remove-border btn-danger" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-tags opacity-80 font-size-20"></i>
                    </span>
                                            Widgets
                                        </a>
                                        <a href="#" class="btn vertical-button remove-border btn-purple" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-fire opacity-80 font-size-20"></i>
                    </span>
                                            Tables
                                        </a>
                                        <a href="#" class="btn vertical-button remove-border btn-azure" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-bar-chart-o opacity-80 font-size-20"></i>
                    </span>
                                            Charts
                                        </a>
                                        <a href="#" class="btn vertical-button remove-border btn-yellow" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-laptop opacity-80 font-size-20"></i>
                    </span>
                                            Buttons
                                        </a>
                                        <a href="#" class="btn vertical-button remove-border btn-warning" title="">
                    <span class="glyph-icon icon-separator-vertical pad0A medium">
                        <i class="glyph-icon icon-code opacity-80 font-size-20"></i>
                    </span>
                                            Panels
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </code>
                </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Notifications list
    </h3>
    <p class="title-lead">Use the markup below to create notification lists.</p>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/notification-box.css - Contains the CSS needed for the notifications box structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="example-box-wrapper clearfix text-center">

        <ul class="notifications-box">
            <li>
                <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                <span class="notification-text">This is an error notification</span>
                <div class="notification-time">
                    a few seconds ago
                    <span class="glyph-icon icon-clock-o"></span>
                </div>
            </li>
            <li>
                <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                <span class="notification-text">This is a warning notification</span>
                <div class="notification-time">
                    <b>15</b> minutes ago
                    <span class="glyph-icon icon-clock-o"></span>
                </div>
            </li>
            <li>
                <span class="bg-green icon-notification glyph-icon icon-user"></span>
                <span class="notification-text font-green">A success message example.</span>
                <div class="notification-time">
                    <b>2 hours</b> ago
                    <span class="glyph-icon icon-clock-o"></span>
                </div>
            </li>
            <li>
                <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                <span class="notification-text">This is an error notification</span>
                <div class="notification-time">
                    a few seconds ago
                    <span class="glyph-icon icon-clock-o"></span>
                </div>
            </li>
            <li>
                <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                <span class="notification-text">This is a warning notification</span>
                <div class="notification-time">
                    <b>15</b> minutes ago
                    <span class="glyph-icon icon-clock-o"></span>
                </div>
            </li>
            <li>
                <span class="bg-blue icon-notification glyph-icon icon-user"></span>
                <span class="notification-text font-blue">Alternate notification styling.</span>
                <div class="notification-time">
                    <b>2 hours</b> ago
                    <span class="glyph-icon icon-clock-o"></span>
                </div>
            </li>
        </ul>

        <div class="example-html">
                <pre>
                    <code class="language-markup">
                        <ul class="notifications-box">
                            <li>
                                <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is an error notification</span>
                                <div class="notification-time">
                                    a few seconds ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is a warning notification</span>
                                <div class="notification-time">
                                    <b>15</b> minutes ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-green icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text font-green">A success message example.</span>
                                <div class="notification-time">
                                    <b>2 hours</b> ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-purple icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is an error notification</span>
                                <div class="notification-time">
                                    a few seconds ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-warning icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text">This is a warning notification</span>
                                <div class="notification-time">
                                    <b>15</b> minutes ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                            <li>
                                <span class="bg-blue icon-notification glyph-icon icon-user"></span>
                                <span class="notification-text font-blue">Alternate notification styling.</span>
                                <div class="notification-time">
                                    <b>2 hours</b> ago
                                    <span class="glyph-icon icon-clock-o"></span>
                                </div>
                            </li>
                        </ul>
                    </code>
                </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Progress list
    </h3>
    <p class="title-lead">Use the markup below to create progress lists.</p>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/progress-box.css - Contains the CSS needed for the progress box structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="example-box-wrapper clearfix text-center">

        <ul class="progress-box">
            <li>
                <div class="progress-title">
                    Finishing uploading files
                    <b>23%</b>
                </div>
                <div class="progressbar-smaller progressbar" data-value="23">
                    <div class="progressbar-value bg-blue-alt" style="width: 67.39px;">
                        <div class="progressbar-overlay"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="progress-title">
                    Roadmap progress
                    <b>91%</b>
                </div>
                <div class="progressbar-smaller progressbar" data-value="91">
                    <div class="progressbar-value bg-red" style="width: 266.63px;">
                        <div class="progressbar-overlay"></div>
                    </div>
                </div>
            </li>
            <li>
                <div class="progress-title">
                    Images upload
                    <b>58%</b>
                </div>
                <div class="progressbar-smaller progressbar" data-value="58">
                    <div class="progressbar-value bg-green" style="width: 169.94px;"></div>
                </div>
            </li>
            <li>
                <div class="progress-title">
                    WordPress migration
                    <b>74%</b>
                </div>
                <div class="progressbar-smaller progressbar" data-value="74">
                    <div class="progressbar-value bg-purple" style="width: 216.82px;"></div>
                </div>
            </li>
        </ul>

        <div class="example-html">
            <pre>
                <code class="language-markup">
                    <ul class="progress-box">
                        <li>
                            <div class="progress-title">
                                Finishing uploading files
                                <b>23%</b>
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="23">
                                <div class="progressbar-value bg-blue-alt" style="width: 67.39px;">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                Roadmap progress
                                <b>91%</b>
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="91">
                                <div class="progressbar-value bg-red" style="width: 266.63px;">
                                    <div class="progressbar-overlay"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                Images upload
                                <b>58%</b>
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="58">
                                <div class="progressbar-value bg-green" style="width: 169.94px;"></div>
                            </div>
                        </li>
                        <li>
                            <div class="progress-title">
                                WordPress migration
                                <b>74%</b>
                            </div>
                            <div class="progressbar-smaller progressbar" data-value="74">
                                <div class="progressbar-value bg-purple" style="width: 216.82px;"></div>
                            </div>
                        </li>
                    </ul>
                </code>
            </pre>
        </div>
        {{> docs-buttons  }}
    </div>


