---
title: Timeline
categories: Framework
tags: Elements
---
    <h2 class="title-hero">
        Timeline
    </h2>
    <p class="title-lead">Timelines allow you to organize information based on the time it were added.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/timeline.css - Contains the CSS needed for the timeline structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h3 class="title-hero">
        Horizontal
    </h3>
    <p class="title-lead">Basic example of timeline with colored bullets.</p>

    <div class="example-box-wrapper">

        <div class="timeline-box">
            <div class="tl-row">
                <div class="tl-item">
                    <div class="tl-bullet bg-red"></div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover left">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="tl-title">Lorem ipsum</h3>
                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row">
                <div class="tl-item float-right">
                    <div class="tl-bullet bg-black"></div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover right">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="tl-title">Lorem ipsum</h3>
                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis pede.</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row">
                <div class="tl-item">
                    <div class="tl-bullet bg-blue"></div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover left">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="tl-title">Lorem ipsum</h3>
                            <p class="tl-content">Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row demo-margin">
                <div class="tl-item float-right">
                    <div class="tl-bullet bg-green"></div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover right">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <h3 class="tl-title">Lorem ipsum</h3>
                            <p class="tl-content">Lorem ipsum dolor sit amet, volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="timeline-box">
                        <div class="tl-row">
                            <div class="tl-item">
                                <div class="tl-bullet bg-red"></div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <h3 class="tl-title">Lorem ipsum</h3>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                <div class="tl-bullet bg-black"></div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <h3 class="tl-title">Lorem ipsum</h3>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis pede.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item">
                                <div class="tl-bullet bg-blue"></div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <h3 class="tl-title">Lorem ipsum</h3>
                                        <p class="tl-content">Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row demo-margin">
                            <div class="tl-item float-right">
                                <div class="tl-bullet bg-green"></div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <h3 class="tl-title">Lorem ipsum</h3>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Horizontal with icons
    </h3>
    <p class="title-lead">Timeline example with icons instead of bullets for each event.</p>

    <div class="example-box-wrapper">

        <div class="timeline-box">
            <div class="tl-row">
                <div class="tl-item">
                    <div class="tl-icon bg-green">
                        <i class="glyph-icon icon-cog"></i>
                    </div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover left">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <div class="tl-label bs-label label-success">Meeting</div>
                            <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row">
                <div class="tl-item float-right">
                    <div class="tl-icon bg-black">
                        <i class="glyph-icon icon-cog"></i>
                    </div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover right">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <div class="tl-label bs-label label-info">Appointment</div>
                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row">
                <div class="tl-item">
                    <div class="tl-icon bg-green">
                        <i class="glyph-icon icon-cog"></i>
                    </div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover left">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <div class="tl-label bs-label label-success">Meeting</div>
                            <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tl-row demo-margin">
                <div class="tl-item float-right">
                    <div class="tl-icon bg-black">
                        <i class="glyph-icon icon-cog"></i>
                    </div>
                    <div class="tl-panel">
                        3:21 PM
                    </div>
                    <div class="popover right">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <div class="tl-label bs-label label-info">Appointment</div>
                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                            <div class="tl-time">
                                <i class="glyph-icon icon-clock-o"></i>
                                a few seconds ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="timeline-box">
                        <div class="tl-row">
                            <div class="tl-item">
                                <div class="tl-icon bg-green">
                                    <i class="glyph-icon icon-cog"></i>
                                </div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-success">Meeting</div>
                                        <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-black">
                                    <i class="glyph-icon icon-cog"></i>
                                </div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-info">Appointment</div>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row">
                            <div class="tl-item">
                                <div class="tl-icon bg-green">
                                    <i class="glyph-icon icon-cog"></i>
                                </div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover left">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-success">Meeting</div>
                                        <p class="tl-content">Quisque volutpat mattis eros. Nullam malesuada erat ut turpis.</p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tl-row demo-margin">
                            <div class="tl-item float-right">
                                <div class="tl-icon bg-black">
                                    <i class="glyph-icon icon-cog"></i>
                                </div>
                                <div class="tl-panel">
                                    3:21 PM
                                </div>
                                <div class="popover right">
                                    <div class="arrow"></div>
                                    <div class="popover-content">
                                        <div class="tl-label bs-label label-info">Appointment</div>
                                        <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. </p>
                                        <div class="tl-time">
                                            <i class="glyph-icon icon-clock-o"></i>
                                            a few seconds ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Horizontal timeline
    </h3>
    <p class="title-lead">To create horizontal timelines you need to add the <code>.timeline-horizontal</code> CSS class to the <code>.timeline-box</code> element that is wrapped inside an element with <code>.timeline-scoll</code> CSS class.</p>

    <div class="example-box-wrapper">

        <div class="timeline-scroll">

	        <div class="timeline-box timeline-horizontal">
                <div class="tl-row">
                    <div class="tl-item">
                        <div class="tl-bullet bg-red"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row">
                    <div class="tl-item float-right">
                        <div class="tl-bullet bg-black"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover bottom">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content"> Donec odio. Quisque volutpat mattis eros. Suspendisse urna.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row">
                    <div class="tl-item">
                        <div class="tl-bullet bg-blue"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content">Viverra non, semper suscipit, posuere a, pede.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tl-row demo-margin">
                    <div class="tl-item float-right">
                        <div class="tl-bullet bg-green"></div>
                        <div class="tl-panel">
                            3:21 PM
                        </div>
                        <div class="popover bottom">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <h3 class="tl-title">Lorem ipsum</h3>
                                <p class="tl-content">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                <div class="tl-time">
                                    <i class="glyph-icon icon-clock-o"></i>
                                    a few seconds ago
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>


		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="timeline-scroll">

                        <div class="timeline-box timeline-horizontal">
                            <div class="tl-row">
                                <div class="tl-item">
                                    <div class="tl-bullet bg-red"></div>
                                    <div class="tl-panel">
                                        3:21 PM
                                    </div>
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <h3 class="tl-title">Lorem ipsum</h3>
                                            <p class="tl-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item float-right">
                                    <div class="tl-bullet bg-black"></div>
                                    <div class="tl-panel">
                                        3:21 PM
                                    </div>
                                    <div class="popover bottom">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <h3 class="tl-title">Lorem ipsum</h3>
                                            <p class="tl-content"> Donec odio. Quisque volutpat mattis eros. Suspendisse urna.</p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row">
                                <div class="tl-item">
                                    <div class="tl-bullet bg-blue"></div>
                                    <div class="tl-panel">
                                        3:21 PM
                                    </div>
                                    <div class="popover top">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <h3 class="tl-title">Lorem ipsum</h3>
                                            <p class="tl-content">Viverra non, semper suscipit, posuere a, pede.</p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tl-row demo-margin">
                                <div class="tl-item float-right">
                                    <div class="tl-bullet bg-green"></div>
                                    <div class="tl-panel">
                                        3:21 PM
                                    </div>
                                    <div class="popover bottom">
                                        <div class="arrow"></div>
                                        <div class="popover-content">
                                            <h3 class="tl-title">Lorem ipsum</h3>
                                            <p class="tl-content">Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.</p>
                                            <div class="tl-time">
                                                <i class="glyph-icon icon-clock-o"></i>
                                                a few seconds ago
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script type="text/javascript">
                        $(function () {

                            var overall_width = 0;

                            $('.timeline-scroll .tl-row').each(function(index, elem) {
                                var $elem = $(elem);
                                overall_width += $elem.outerWidth() + parseInt($elem.css('margin-left'), 10) + parseInt($elem.css('margin-right'), 10);
                            });

                            $('.timeline-horizontal',this).width(overall_width);
                        });
                    </script>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>