---
title: Featured area 13
categories: 
layout: featured-area-layout.hbs
alternate_header6: true
---
        <div class="featured-area dummy-poly-3">

            {{> header-navigation }}

            <div class="center-vertical" style="height: 700px;">
                <h2 class="center-content title-box title-big title-heading"  data-start="transform:translateY(0px); opacity: 1" data-500-start="transform:translateY(200px); opacity: 0.3">
                    <div class="container  wow bounceInDown">
                        Featured Portfolio Projects
                        <small>Best &amp; Most Popular of Our Works</small>
                        <span>
                            Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas lorem. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames turpis egestas!
                        </span>
                        <a href="#" class="btn-outline-inverse title-button" title="Example">
                            Purchase now
                        </a>
                    </div>
                </h2>
            </div>
            <div class="bg-black full-hero" data-start="opacity: 0;" data-500-start="opacity: 0.75;"></div>

        </div>