---
title: Featured area 8
categories: 
layout: featured-area-layout.hbs
---

<!-- VideoBG -->

<script type="text/javascript" src="assets-minified/widgets/videobg/videobg.js"></script>
<script type="text/javascript" src="assets-minified/widgets/videobg/videobg-demo.js"></script>

        <div class="featured-area featured-box dummy-poly-3"
            data-0="background-position: 50% 0px;"
            data-350="background-position: 50% -200px;"
            
        >
            {{> frontend-navigation }}

            <div class="video-background-2 center-vertical" style="width: 100%; min-height: 600px;">
                <h2 class="center-content title-box title-big title-heading">
                    <div class="container  wow bounceInDown">
                        Featured Portfolio Projects
                        <small>Best &amp; Most Popular of Our Works</small>
                        <span>
                            Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas lorem. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames turpis egestas!
                        </span>
                        <a href="#" class="btn-outline-inverse title-button" title="Example">
                            Purchase now
                        </a>
                    </div>
                </h2>
            </div>

        </div>