---
title: Featured area 3
categories: 
layout: featured-area-layout.hbs
---
        <div class="featured-area overflow-hidden dummy-dark-bg title-box large-padding"
            data-0="background-position: 50% -60px;"
            data-350="background-position: 50% 200px;"
            
        >
            {{> frontend-navigation }}

            <div class="container clearfix">
                <div class="col-md-6">

                        <h1 class="title-heading">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</h1>
                        <h3 class="title-content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer. This is a <a href="#" title="AUI Themes">link</a> example.</h3>
                        <a href="#" class="btn title-button btn-big btn-info" title="Example">
                            Find out more
                        </a>
                </div>
                <div class="col-md-4 col-md-push-1"

                data-0="transform:translateY(80px);"
                data-350="transform:translateY(-180px);"

                >
                    <div class="bg-holder float-right">
                        <img src="assets-minified/dummy-images/ipad_horizontal.png" alt="" />
                    </div>
                </div>
            </div>

        </div>
