---
title: Footer 3
categories: 
---

{{> footer-content }}

<div class="main-footer footer-grid inverse clearfix bg-black">
    <div class="container clearfix">
        <div class="col-md-4">
            <div class="footer-desc">
                <a class="logo" href="#" title="">Supina</a>
                <p>
                    Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel orci. Praesent leo orci, cursus ac malesuada et, sollicitudin eu erat. Pellentesque ornare mi vitae sem consequat ac bibendum neque adipiscing.
                </p>
            </div>
        </div>
        <div class="col-md-2">
            <h3 class="footer-header">Widgets</h3>
            <ul>
                <li>
                    <a href="#" title="">Carousels</a>
                </li>
                <li>
                    <a href="#" title="">Sliders</a>
                </li>
                <li>
                    <a href="#" title="">Testimonials</a>
                </li>
                <li>
                    <a href="#" title="">Portfolio masonry</a>
                </li>
                <li>
                    <a href="#" title="">Portfolio full width 1</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3 class="footer-header">Components</h3>
            <ul>
                <li>
                    <a href="#" title="">Pricing boxes</a>
                </li>
                <li>
                    <a href="#" title="">Portfolio 3 columns</a>
                </li>
                <li>
                    <a href="#" title="">Dummy link</a>
                </li>
                <li>
                    <a href="#" title="">Another example</a>
                </li>
                <li>
                    <a href="#" title="">Features list</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3 class="footer-header">Components</h3>
            <ul>
                <li>
                    <a href="#" title="">Pricing boxes</a>
                </li>
                <li>
                    <a href="#" title="">Portfolio 3 columns</a>
                </li>
                <li>
                    <a href="#" title="">Dummy link</a>
                </li>
                <li>
                    <a href="#" title="">Another example</a>
                </li>
                <li>
                    <a href="#" title="">Features list</a>
                </li>
            </ul>
        </div>
        <div class="col-md-2">
            <h3 class="footer-header">Components</h3>
            <ul>
                <li>
                    <a href="#" title="">Pricing boxes</a>
                </li>
                <li>
                    <a href="#" title="">Portfolio 3 columns</a>
                </li>
                <li>
                    <a href="#" title="">Dummy link</a>
                </li>
                <li>
                    <a href="#" title="">Another example</a>
                </li>
                <li>
                    <a href="#" title="">Features list</a>
                </li>
            </ul>
        </div>

    </div>
    <div class="footer-pane">
        <div class="container clearfix">
            <div class="logo">&copy; 2014 Supina. All Rights Reserved.</div>

            <ul class="footer-nav">
                <li><a href="#" title="Portfolio">Widgets</a></li>
                <li><a href="#" title="Layout">Layout</a></li>
                <li><a href="#" title="Elements">Elements</a></li>
                <li><a href="#" title="">Pricing tables</a></li>
                <li><a href="#" title="Portfolio">Portfolio</a></li>
            </ul>

        </div>
    </div>
</div>