---
title: Footers
categories: Frontend
---

<div class="remove-production">

    <h2 class="title-hero">
        Footers
    </h2>
    <p class="title-lead">Use one of the markups below to create footer areas.</p>

    <div class="row">

    <div class="col-md-6">
        <div class="content-box mrg20B">

            <div class="content-box-header bg-white mrg20B">
                Simple black footer
            </div>

            <div class="text-center">

                <a href="footer-1.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

            </div>

            <div class="divider mrg20T mrg20B"></div>
            <div class="example-html">

                <pre>
                    <code class="language-markup">
                        <div class="main-footer small-padding inverse clearfix bg-black">
                            <div class="container">
                                <a class="logo" href="#" title="">Supina</a>
                                <ul class="footer-nav">
                                    <li><a href="#" title="Portfolio">Widgets</a></li>
                                    <li><a href="#" title="Layout">Layout</a></li>
                                    <li><a href="#" title="Elements">Elements</a></li>
                                    <li><a href="#" title="">Pricing tables</a></li>
                                    <li><a href="#" title="Portfolio">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                    </code>
                </pre>

            </div>

            {{> docs-buttons  }}

        </div>
    </div>

    <div class="col-md-6">
        <div class="content-box mrg20B">

            <div class="content-box-header bg-white mrg20B">
                Simple blue footer
            </div>

            <div class="text-center">

                <a href="footer-2.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

            </div>

            <div class="divider mrg20T mrg20B"></div>
            <div class="example-html">

                <pre>
                    <code class="language-markup">
                        <div class="main-footer inverse medium-padding clearfix bg-blue">
                            <div class="container">
                                <a class="logo" href="#" title="">Supina</a>
                                <ul class="footer-nav">
                                    <li><a href="#" title="Portfolio">Widgets</a></li>
                                    <li><a href="#" title="Layout">Layout</a></li>
                                    <li><a href="#" title="Elements">Elements</a></li>
                                    <li><a href="#" title="">Pricing tables</a></li>
                                    <li><a href="#" title="Portfolio">Portfolio</a></li>
                                </ul>
                            </div>
                        </div>
                    </code>
                </pre>

            </div>

            {{> docs-buttons  }}

        </div>
    </div>

    <div class="col-md-6">
        <div class="content-box mrg20B">

            <div class="content-box-header bg-white mrg20B">
                Grid footer 1
            </div>

            <div class="text-center">

                <a href="footer-3.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

            </div>

            <div class="divider mrg20T mrg20B"></div>
            <div class="example-html">

                <pre>
                    <code class="language-markup">
                        <div class="main-footer inverse clearfix bg-black">
                            <div class="container clearfix">
                                <div class="col-md-4">
                                    <div class="footer-desc">
                                        <a class="logo" href="#" title="">Supina</a>
                                        <p>
                                            Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel orci. Praesent leo orci, cursus ac malesuada et, sollicitudin eu erat. Pellentesque ornare mi vitae sem consequat ac bibendum neque adipiscing.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Widgets</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Carousels</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Sliders</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Testimonials</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio masonry</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio full width 1</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Components</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Pricing boxes</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio 3 columns</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Dummy link</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Another example</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Features list</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Components</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Pricing boxes</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio 3 columns</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Dummy link</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Another example</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Features list</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Components</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Pricing boxes</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio 3 columns</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Dummy link</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Another example</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Features list</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="footer-pane">
                                <div class="container clearfix">
                                    <div class="logo">&copy; 2014 Supina. All Rights Reserved.</div>

                                    <ul class="footer-nav">
                                        <li><a href="#" title="Portfolio">Widgets</a></li>
                                        <li><a href="#" title="Layout">Layout</a></li>
                                        <li><a href="#" title="Elements">Elements</a></li>
                                        <li><a href="#" title="">Pricing tables</a></li>
                                        <li><a href="#" title="Portfolio">Portfolio</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </code>
                </pre>

            </div>

            {{> docs-buttons  }}

        </div>
    </div>

    <div class="col-md-6">
        <div class="content-box mrg20B">

            <div class="content-box-header bg-white mrg20B">
                Grid footer 2
            </div>

            <div class="text-center">

                <a href="footer-4.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

            </div>

            <div class="divider mrg20T mrg20B"></div>
            <div class="example-html">

                <pre>
                    <code class="language-markup">
                        <div class="main-footer clearfix bg-white">
                            <div class="container clearfix">
                                <div class="col-md-4">
                                    <div class="footer-desc">
                                        <a class="logo" href="#" title="">Supina</a>
                                        <p>
                                            Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel orci. Praesent leo orci, cursus ac malesuada et, sollicitudin eu erat. Pellentesque ornare mi vitae sem consequat ac bibendum neque adipiscing.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Widgets</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Carousels</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Sliders</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Testimonials</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio masonry</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio full width 1</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Components</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Pricing boxes</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio 3 columns</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Dummy link</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Another example</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Features list</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Components</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Pricing boxes</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio 3 columns</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Dummy link</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Another example</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Features list</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-2">
                                    <h3 class="footer-header">Components</h3>
                                    <ul>
                                        <li>
                                            <a href="#" title="">Pricing boxes</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Portfolio 3 columns</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Dummy link</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Another example</a>
                                        </li>
                                        <li>
                                            <a href="#" title="">Features list</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="footer-pane">
                                <div class="container clearfix">
                                    <div class="logo">&copy; 2014 Supina. All Rights Reserved.</div>

                                    <ul class="footer-nav">
                                        <li><a href="#" title="Portfolio">Widgets</a></li>
                                        <li><a href="#" title="Layout">Layout</a></li>
                                        <li><a href="#" title="Elements">Elements</a></li>
                                        <li><a href="#" title="">Pricing tables</a></li>
                                        <li><a href="#" title="Portfolio">Portfolio</a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </code>
                </pre>

            </div>

            {{> docs-buttons  }}

        </div>
    </div>

    </div>

</div>