---
title: Header 2
categories: 
layout: featured-area-layout.hbs
alternate_header2: true
---
<div class="featured-area">
    {{> header-navigation }}

    <div class="">
        <h2 class="featured-area dummy-light-bg inverse large-padding title-box title-big title-heading">
            <div class="container">
            <div class="wow rollIn" data-wow-delay="0.4s">Featured Portfolio Projects</div>
                <small class="wow fadeInUp" data-wow-delay="0.6s">Best &amp; Most Popular of Our Works</small>
                <span class="wow fadeInDown" data-wow-delay="0.8s">
                    Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas lorem. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames turpis egestas!
                </span>
                <div class="title-button">
                    <a data-wow-delay="1s" href="#" class="wow slideInLeft btn btn-lg cta-btn font-size-14 btn-success text-transform-upr" title="">
                        Get it now
                    </a>
                    <a data-wow-delay="1.2s" href="#" class="wow slideInRight btn btn-lg cta-btn font-size-14 btn-warning text-transform-upr" title="">
                        Features Tour
                    </a>
                </div>
            </div>
        </h2>
    </div>

</div>