---
title: Portfolio full width
categories: 
tags: Widgets
---

<!-- Mixitup -->

<script type="text/javascript" src="assets-minified/widgets/mixitup/mixitup.js"></script>
<script type="text/javascript" src="assets-minified/widgets/mixitup/isotope.js"></script>
<script type="text/javascript" src="assets-minified/widgets/mixitup/portfolio-demo.js"></script>

<div class="portfolio-controls portfolio-nav-alt bg-orange clearfix controls">
    <div class="container">
    <h3 class="portfolio-category">All</h3>
    <ul>
        <li class="filter" data-filter="hover_1">Effect 1</li>
        <li class="filter" data-filter="hover_2">Effect 2</li>
        <li class="filter" data-filter="hover_3">Effect 3</li>
        <li class="filter" data-filter="hover_4">Effect 4</li>
        <li class="filter" data-filter="hover_5">Effect 5</li>
        <li class="filter" data-filter="hover_6">Effect 6</li>
        <li class="filter" data-filter="hover_7">Effect 7</li>
        <li class="filter" data-filter="hover_8">Effect 8</li>
        <li class="filter" data-filter="no_hover">No hover</li>
    </ul>
    </div>
</div>

<div class="mrg10L mrg10R">
    <ul id="portfolio-grid" class="reset-ul">
        <li class="col-md-3 mix no_hover" data-cat="1">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <a href="#">
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </a>
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>

        </li>
        <li class="col-md-3 mix no_hover" data-cat="1">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <a href="#">
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </a>
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>

        </li>
        <li class="col-md-3 mix no_hover" data-cat="1">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <a href="#">
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </a>
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>

        </li>
        <li class="col-md-3 mix no_hover" data-cat="1">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <a href="#">
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </a>
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>

        </li>
        <li class="col-md-3 mix no_hover" data-cat="1">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <a href="#">
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </a>
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>

        </li>
        <li class="col-md-3 mix no_hover" data-cat="1">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <a href="#">
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </a>
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_1" data-cat="2">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <p class="center-content">
                                <a href="#" class="btn btn-xs btn-primary display-inline">
                                    <i class="glyph-icon icon-search"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="thumbnail-overlay radius-all-4 opacity-30 bg-black"></div>
                    <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>


        </li>

        <li class="col-md-3 mix hover_1" data-cat="3">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <p class="center-content">
                                <a href="#" class="btn btn-xs btn-success display-inline">
                                    <i class="glyph-icon icon-cog"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="thumbnail-overlay radius-all-4 opacity-60 bg-white"></div>
                    <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>


        </li>

        <li class="col-md-3 mix hover_1" data-cat="4">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <p class="center-content">
                                <a href="#" class="btn btn-xs bg-black display-inline">
                                    <i class="glyph-icon icon-plus"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="thumbnail-overlay radius-all-4 opacity-30 bg-black"></div>
                    <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>


        </li>

        <li class="col-md-3 mix hover_1" data-cat="5">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <p class="center-content">
                                <a href="#" class="btn btn-xs btn-primary display-inline"><span class="button-content font-size-13 text-transform-upr">More details</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="thumbnail-overlay radius-all-4 opacity-30 bg-yellow"></div>
                    <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>


        </li>

        <li class="col-md-3 mix hover_1" data-cat="6">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <p class="center-content">
                                <a href="#" class="btn btn-black display-inline"><span class="button-content text-transform-upr">View larger</span></a>
                                <a href="#" class="btn bg-white display-inline"><span class="button-content text-transform-upr">More details</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="thumbnail-overlay radius-all-4 opacity-30 bg-green"></div>
                    <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>


        </li>

        <li class="col-md-3 mix hover_1" data-cat="6">

            <div class="thumbnail-box-wrapper">
                <div class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <p class="center-content">
                                <a href="#" class="btn btn-black display-inline"><span class="button-content text-transform-upr">View larger</span></a>
                                <a href="#" class="btn bg-white display-inline"><span class="button-content text-transform-upr">More details</span></a>
                            </p>
                        </div>
                    </div>
                    <div class="thumbnail-overlay radius-all-4 opacity-30 bg-green"></div>
                    <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                </div>
                <div class="thumbnail-text">
                    <h4 class="clearfix">
                        <a href="#" title="">Example title</a>
                        <span class="float-right">
                            12 feb 2014
                            <i class="glyph-icon icon-clock-o"></i>
                        </span>
                    </h4>
                    <p>Lorem ipsum dolor sic amet dixit tu</p>
                </div>
            </div>


        </li>

        <li class="col-md-3 mix hover_2" data-cat="6">

            <div class="thumb-box thumb-box-1" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_2" data-cat="6">

            <div class="thumb-box thumb-box-1" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_2" data-cat="6">

            <div class="thumb-box thumb-box-1" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_2" data-cat="6">

            <div class="thumb-box thumb-box-1" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_2" data-cat="6">

            <div class="thumb-box thumb-box-1" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_2" data-cat="6">

            <div class="thumb-box thumb-box-1" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_3" data-cat="6">

            <div class="thumb-box thumb-box-2" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_3" data-cat="6">

            <div class="thumb-box thumb-box-2" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_3" data-cat="6">

            <div class="thumb-box thumb-box-2" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_3" data-cat="6">

            <div class="thumb-box thumb-box-2" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_3" data-cat="6">

            <div class="thumb-box thumb-box-2" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_3" data-cat="6">

            <div class="thumb-box thumb-box-2" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_4" data-cat="6">

            <div class="thumb-box thumb-box-3" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_4" data-cat="6">

            <div class="thumb-box thumb-box-3" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_4" data-cat="6">

            <div class="thumb-box thumb-box-3" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_4" data-cat="6">

            <div class="thumb-box thumb-box-3" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_4" data-cat="6">

            <div class="thumb-box thumb-box-3" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_4" data-cat="6">

            <div class="thumb-box thumb-box-3" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_5" data-cat="6">

            <div class="thumb-box thumb-box-4" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_5" data-cat="6">

            <div class="thumb-box thumb-box-4" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_5" data-cat="6">

            <div class="thumb-box thumb-box-4" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_5" data-cat="6">

            <div class="thumb-box thumb-box-4" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_5" data-cat="6">

            <div class="thumb-box thumb-box-4" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_5" data-cat="6">

            <div class="thumb-box thumb-box-4" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_6" data-cat="6">

            <div class="thumb-box thumb-box-5" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black-opacity">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_6" data-cat="6">

            <div class="thumb-box thumb-box-5" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black-opacity">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_6" data-cat="6">

            <div class="thumb-box thumb-box-5" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black-opacity">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_6" data-cat="6">

            <div class="thumb-box thumb-box-5" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black-opacity">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_6" data-cat="6">

            <div class="thumb-box thumb-box-5" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black-opacity">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_6" data-cat="6">

            <div class="thumb-box thumb-box-5" title="">
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                <div class="thumb-pane bg-black-opacity">
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                        <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                    </div>
                </div>
            </div>

        </li>

        <li class="col-md-3 mix hover_7" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-black"></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_7" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper icon-br bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-green"></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_7" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper icon-tr bg-orange glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-gray"></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_7" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-black"></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_7" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper icon-br bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-green"></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_7" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper icon-tr bg-orange glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-gray"></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_8" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay bg-black-opacity">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="text-center animated fadeInDown">
                                <h3 class="mrg0A">
                                    Example title
                                    <small class="display-block">This is the title description</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_8" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay bg-yellow">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="text-center animated fadeInDown">
                                <h3 class="mrg0A">
                                    Example title
                                    <small class="display-block">This is the title description</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_8" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <div class="center-vertical">
                        <i class="icon-helper icon-center font-white glyph-icon icon-plus-square-o"></i>
                    </div>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-black animated flipInX "></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_8" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay bg-black-opacity">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="text-center animated fadeInDown">
                                <h3 class="mrg0A">
                                    Example title
                                    <small class="display-block">This is the title description</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_8" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <i class="icon-helper bg-black glyph-icon icon-plus"></i>
                </div>
                <div class="thumbnail-overlay bg-yellow">
                    <div class="center-vertical">
                        <div class="center-content">
                            <div class="text-center animated fadeInDown">
                                <h3 class="mrg0A">
                                    Example title
                                    <small class="display-block">This is the title description</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="col-md-3 mix hover_8" data-cat="6">

            <a href="#" class="thumbnail-box" title="">
                <div class="thumbnail-content">
                    <div class="center-vertical">
                        <i class="icon-helper icon-center font-white glyph-icon icon-plus-square-o"></i>
                    </div>
                </div>
                <div class="thumbnail-overlay opacity-80 bg-black animated flipInX "></div>
                <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
            </a>

        </li>

        <li class="gap"></li>
    </ul>
</div>