---
title: Portfolio masonry 1
categories: 
tags: Widgets
---

	<ul id="filters" class="list-group mrg20T list-group-separator list-group-centered row list-group-icons">
	    <li class="col-md-2">
	        <a href="#" class="filter list-group-item active" data-filter-value="*">
	            <i class="glyph-icon icon-anchor"></i>
	            Sort 1
	        </a>
	    </li>
	    <li class="col-md-2">
	        <a href="#" class="filter list-group-item" data-filter-value=".masonry-2">
	            <i class="glyph-icon font-red icon-bullhorn"></i>
	            Sort 2
	        </a>
	    </li>
	    <li class="col-md-2">
	        <a href="#" class="filter list-group-item" data-filter-value=".masonry-2, .masonry-3">
	            <i class="glyph-icon font-green icon-download"></i>
	            Sort 3
	        </a>
	    </li>
	    <li class="col-md-2">
	        <a href="#" class="filter list-group-item" data-filter-value=".masonry-1, .masonry-2">
	            <i class="glyph-icon font-blue icon-camera"></i>
	            Sort 4
	        </a>
	    </li>
	</ul>

    <div class="isotope">

    <div class="item col-lg-2 masonry-1" data-filter-value="masonry-1">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-4 masonry-2" data-filter-value="masonry-2">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-2 masonry-2" data-filter-value="masonry-2">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-4 masonry-3" data-filter-value="masonry-3">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/600x600/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-4 masonry-2" data-filter-value="masonry-2">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-2 masonry-1" data-filter-value="masonry-1">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-2 masonry-3" data-filter-value="masonry-3">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-2 masonry-2" data-filter-value="masonry-2">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-2 masonry-1" data-filter-value="masonry-1">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-4 masonry-2" data-filter-value="masonry-2">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/900x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-2 masonry-1" data-filter-value="masonry-1">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x600/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

    <div class="item col-lg-2 masonry-3" data-filter-value="masonry-3">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x600/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>


    <div class="item col-lg-2 masonry-2" data-filter-value="masonry-2">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>


    <div class="item col-lg-4 masonry-1" data-filter-value="masonry-1">

        <a href="#" class="thumbnail-box" title="">
            <div class="thumbnail-content" style="display: none;">
                <i class="icon-helper bg-green glyph-icon icon-plus"></i>
            </div>
            <div class="thumbnail-overlay bg-black-opacity" style="display: none;">
                <div class="center-vertical">
                    <div class="center-content">
                        <div class="text-center animated fadeInDown">
                            <h3 class="mrg0A">
                                Example title
                                <small class="display-block">This is the title description</small>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <img src="http://placehold.it/300x300/42bdc2/FFFFFF" class="img-full" alt="">
        </a>

    </div>

</div>