---
title: Pricing table
categories: Frontend
---
{{#if docs_include}}

    <h2 class="title-hero">
        Pricing table
    </h2>
    <p class="title-lead">Use the framework CSS helper classes to create all kinds of pricing tables.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/frontend-elements/pricing-table.css - Contains the CSS needed for the pricing table structure. Styling is achieved from the color theme CSS file (/assets/themes/../frontend/*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{{/if}}

{{#if docs_exclude}}
    <div class="container">
{{/if}}

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">Use the markup below to create a responsive grid 3 column pricing table.</p>

{{#if docs_exclude}}
    </div>
{{/if}}

    <div class="example-box-wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="pricing-box content-box">
                        <h3 class="bg-black pricing-title">Silver</h3>
                        <div class="bg-blue pricing-specs">
                            <span><sup>$</sup>299</span>
                            <i>Once per month</i>
                        </div>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                            <li>Another item</li>
                            <li>This is included</li>
                        </ul>
                        <div class="pad25A">
                            <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box content-box">
                        <h3 class="bg-black pricing-title">Gold</h3>
                        <div class="bg-orange pricing-specs">
                            <span><sup>$</sup>299</span>
                            <i>Once per month</i>
                        </div>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                            <li>Another item</li>
                            <li>This is included</li>
                        </ul>
                        <div class="pad25A">
                            <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pricing-box content-box">
                        <h3 class="bg-black pricing-title">Platinum</h3>
                        <div class="bg-green pricing-specs">
                            <span><sup>$</sup>299</span>
                            <i>Once per month</i>
                        </div>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                            <li>Another item</li>
                            <li>This is included</li>
                        </ul>
                        <div class="pad25A">
                            <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="pricing-box content-box">
                                    <h3 class="bg-black pricing-title">Silver</h3>
                                    <div class="bg-blue pricing-specs">
                                        <span><sup>$</sup>299</span>
                                        <i>Once per month</i>
                                    </div>
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Not included</li>
                                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                        <li>Another item</li>
                                        <li>This is included</li>
                                    </ul>
                                    <div class="pad25A">
                                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pricing-box content-box">
                                    <h3 class="bg-black pricing-title">Gold</h3>
                                    <div class="bg-orange pricing-specs">
                                        <span><sup>$</sup>299</span>
                                        <i>Once per month</i>
                                    </div>
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Not included</li>
                                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                        <li>Another item</li>
                                        <li>This is included</li>
                                    </ul>
                                    <div class="pad25A">
                                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="pricing-box content-box">
                                    <h3 class="bg-black pricing-title">Platinum</h3>
                                    <div class="bg-green pricing-specs">
                                        <span><sup>$</sup>299</span>
                                        <i>Once per month</i>
                                    </div>
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Not included</li>
                                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                        <li>Another item</li>
                                        <li>This is included</li>
                                    </ul>
                                    <div class="pad25A">
                                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

{{#if docs_exclude}}
    <div class="container">
{{/if}}

    <h3 class="title-hero">
        Grid layouts
    </h3>
    <p class="title-lead">Use the framework grid system to create pricing columns.</p>

{{#if docs_exclude}}
    </div>
{{/if}}

    <div class="example-box-wrapper">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="pricing-box content-box">
                        <h3 class="bg-black pricing-title">Silver</h3>
                        <div class="bg-blue pricing-specs">
                            <span><sup>$</sup>299</span>
                            <i>Once per month</i>
                        </div>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                            <li>Another item</li>
                            <li>This is included</li>
                        </ul>
                        <div class="pad25A">
                            <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-box content-box">
                        <h3 class="bg-black pricing-title">Silver</h3>
                        <div class="bg-yellow pricing-specs">
                            <span><sup>$</sup>299</span>
                            <i>Once per month</i>
                        </div>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                            <li>Another item</li>
                            <li>This is included</li>
                        </ul>
                        <div class="pad25A">
                            <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-box content-box">
                        <h3 class="bg-black pricing-title">Gold</h3>
                        <div class="bg-orange pricing-specs">
                            <span><sup>$</sup>299</span>
                            <i>Once per month</i>
                        </div>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                            <li>Another item</li>
                            <li>This is included</li>
                        </ul>
                        <div class="pad25A">
                            <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pricing-box content-box">
                        <h3 class="bg-black pricing-title">Platinum</h3>
                        <div class="bg-green pricing-specs">
                            <span><sup>$</sup>299</span>
                            <i>Once per month</i>
                        </div>
                        <ul>
                            <li>Lorem ipsum</li>
                            <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                            <li>Another item</li>
                            <li>This is included</li>
                        </ul>
                        <div class="pad25A">
                            <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="pricing-box content-box">
                                    <h3 class="bg-black pricing-title">Silver</h3>
                                    <div class="bg-blue pricing-specs">
                                        <span><sup>$</sup>299</span>
                                        <i>Once per month</i>
                                    </div>
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Not included</li>
                                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                        <li>Another item</li>
                                        <li>This is included</li>
                                    </ul>
                                    <div class="pad25A">
                                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pricing-box content-box">
                                    <h3 class="bg-black pricing-title">Silver</h3>
                                    <div class="bg-yellow pricing-specs">
                                        <span><sup>$</sup>299</span>
                                        <i>Once per month</i>
                                    </div>
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Not included</li>
                                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                        <li>Another item</li>
                                        <li>This is included</li>
                                    </ul>
                                    <div class="pad25A">
                                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pricing-box content-box">
                                    <h3 class="bg-black pricing-title">Gold</h3>
                                    <div class="bg-orange pricing-specs">
                                        <span><sup>$</sup>299</span>
                                        <i>Once per month</i>
                                    </div>
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Not included</li>
                                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                        <li>Another item</li>
                                        <li>This is included</li>
                                    </ul>
                                    <div class="pad25A">
                                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="pricing-box content-box">
                                    <h3 class="bg-black pricing-title">Platinum</h3>
                                    <div class="bg-green pricing-specs">
                                        <span><sup>$</sup>299</span>
                                        <i>Once per month</i>
                                    </div>
                                    <ul>
                                        <li>Lorem ipsum</li>
                                        <li>Not included</li>
                                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                        <li>Another item</li>
                                        <li>This is included</li>
                                    </ul>
                                    <div class="pad25A">
                                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

{{#if docs_exclude}}
    <div class="container">
{{/if}}

    <h3 class="title-hero">
        Alternate style
    </h3>
    <p class="title-lead">Use the markup below to create alternate styles for the pricing table.</p>

{{#if docs_exclude}}
    </div>
{{/if}}

    <div class="example-box-wrapper">

        <div class="container">
            <div class="row pricing-table mrg20T">
                <div class="pricing-box col-md-4 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box pricing-best col-md-4 content-box">
                    <h3 class="pricing-title bg-primary">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box col-md-4 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="container">
                        <div class="row pricing-table">
                            <div class="pricing-box col-md-4 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box pricing-best col-md-4 content-box">
                                <h3 class="pricing-title bg-primary">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box col-md-4 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

{{#if docs_exclude}}
    <div class="container">
{{/if}}

    <h3 class="title-hero">
        Multiple columns
    </h3>
    <p class="title-lead">Alternate style pricing table with multiple columns.</p>

{{#if docs_exclude}}
    </div>
{{/if}}

    <div class="example-box-wrapper">

        <div class="container">
            <div class="row pricing-table mrg20T">
                <div class="pricing-box col-md-2 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box pricing-best col-md-2 content-box">
                    <h3 class="pricing-title bg-primary">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box col-md-2 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box col-md-2 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box col-md-2 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box col-md-2 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="container">
                        <div class="row pricing-table">
                            <div class="pricing-box col-md-2 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box pricing-best col-md-2 content-box">
                                <h3 class="pricing-title bg-primary">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box col-md-2 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box col-md-2 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box col-md-2 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box col-md-2 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

{{#if docs_exclude}}
    <div class="container">
{{/if}}

    <h3 class="title-hero">
        Two columns
    </h3>
    <p class="title-lead">Two column pricing table example with alternate style.</p>

{{#if docs_exclude}}
    </div>
{{/if}}

    <div class="example-box-wrapper">

        <div class="container">
            <div class="row pricing-table mrg20T">
                <div class="pricing-box col-md-6 content-box">
                    <h3 class="pricing-title">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
                <div class="pricing-box pricing-best col-md-6 content-box">
                    <h3 class="pricing-title bg-primary">Silver</h3>
                    <div class="pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="container">
                        <div class="row pricing-table">
                            <div class="pricing-box col-md-6 content-box">
                                <h3 class="pricing-title">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                                </div>
                            </div>
                            <div class="pricing-box pricing-best col-md-6 content-box">
                                <h3 class="pricing-title bg-primary">Silver</h3>
                                <div class="pricing-specs">
                                    <span><sup>$</sup>299</span>
                                    <i>Once per month</i>
                                </div>
                                <ul>
                                    <li>Lorem ipsum</li>
                                    <li>Not included</li>
                                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                                    <li>Another item</li>
                                    <li>This is included</li>
                                </ul>
                                <div class="pad25A">
                                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>