---
title: Featured area 5
categories: 
layout: featured-area-layout.hbs
---
        <div class="featured-area featured-box dummy-dark-bg title-box fixed-bg"
            data-0="background-position: 50% 0px;"
            data-350="background-position: 50% -200px;"
            
        >
            {{> frontend-navigation }}

            <div class="wow bounceInDown">
                <div class="container clearfix">
                    <div class="img-holder iphone-bg"></div>
                    <div class="float-content">
                        <h1 class="title-heading">Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</h1>
                        <h3 class="title-content">But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer. This is a <a href="#" title="AUI Themes">link</a> example.</h3>
                        <a href="#" class="btn title-button btn-big btn-info" title="Example">
                            Find out more
                        </a>
                    </div>
                </div>
            </div>
        </div>