---
title: Featured area 1
categories:
layout: featured-area-layout.hbs
---
<div class="inverse overflow-hidden dummy-light-bg title-box large-padding"
     data-0="background-position: 50% 0px;"
     data-350="background-position: 50% -200px;"
        >

    {{> frontend-navigation }}

    <div class="container clearfix">
        <div class="wow fadeInUp col-md-7 col-md-pull-1">
            <div class="bg-holder">
                <img src="assets-minified/dummy-images/455293175_1280.jpg" alt=""
                     data-0="transform:translateY(-200px);"
                     data-500="transform:translateY(0px);"
                        />
            </div>
        </div>
        <div class="col-md-5">
            <div class="medium-padding">
                <h1 class="title-heading">Etiam ultricies</h1>
                <h3 class="title-content">But I must explain to you how all this mistaken. This is a <a href="#" title="AUI Themes">link</a> example.</h3>
                <a href="#" class="btn title-button btn-big btn-info" title="Example">
                    Find out more
                </a>
            </div>
        </div>
    </div>
</div>
