---
title: Footer 1
categories:
---
{{> footer-content }}

<div class="main-footer small-padding inverse clearfix bg-black">
    <div class="container">
        <a class="logo" href="#" title="">Supina</a>
        <ul class="footer-nav">
            <li><a href="#" title="Portfolio">Widgets</a></li>
            <li><a href="#" title="Layout">Layout</a></li>
            <li><a href="#" title="Elements">Elements</a></li>
            <li><a href="#" title="">Pricing tables</a></li>
            <li><a href="#" title="Portfolio">Portfolio</a></li>
        </ul>
    </div>
</div>