---
title: Portfolio 3 columns
categories: 
tags: Widgets
---

<!-- Mixitup -->

<script type="text/javascript" src="assets-minified/widgets/mixitup/mixitup.js"></script>
<script type="text/javascript" src="assets-minified/widgets/mixitup/isotope.js"></script>
<script type="text/javascript" src="assets-minified/widgets/mixitup/portfolio-demo.js"></script>

<div class="container">

    <h3 class="portfolio-category portfolio-category-alt">All</h3>

    <div class="dropdown controls float-right">
        <a href="#" class="btn btn-primary text-center float-none font-size-11 text-transform-upr" title="" data-toggle="dropdown">
            Sort portfolio items
            <i class="glyph-icon icon-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="filter" data-filter="hover_1">
                <a href="#" title="">
                    Effect 1
                </a>
            </li>
            <li class="filter" data-filter="hover_2">
                <a href="#" title="">
                    Effect 2
                </a>
            </li>
            <li class="filter" data-filter="hover_3">
                <a href="#" title="">
                    Effect 3
                </a>
            </li>
            <li class="filter" data-filter="hover_4">
                <a href="#" title="">
                    Effect 4
                </a>
            </li>
            <li class="filter" data-filter="hover_5">
                <a href="#" title="">
                    Effect 5
                </a>
            </li>
            <li class="filter" data-filter="hover_6">
                <a href="#" title="">
                    Effect 6
                </a>
            </li>
            <li class="filter" data-filter="hover_7">
                <a href="#" title="">
                    Effect 7
                </a>
            </li>
            <li class="filter" data-filter="hover_8">
                <a href="#" title="">
                    Effect 8
                </a>
            </li>
            <li class="filter" data-filter="no_hover">
                <a href="#" title="">
                    No effect
                </a>
            </li>
        </ul>
    </div>

    <div class="clear"></div>

    <div class="container">

    <div class="row">
        <ul id="portfolio-grid" class="reset-ul">
            <li class="col-md-4 mix no_hover" data-cat="1">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <a href="#">
                            <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                        </a>
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>

            </li>
            <li class="col-md-4 mix no_hover" data-cat="1">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <a href="#">
                            <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                        </a>
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>

            </li>
            <li class="col-md-4 mix no_hover" data-cat="1">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <a href="#">
                            <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                        </a>
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>

            </li>
            <li class="col-md-4 mix no_hover" data-cat="1">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <a href="#">
                            <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                        </a>
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>

            </li>
            <li class="col-md-4 mix no_hover" data-cat="1">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <a href="#">
                            <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                        </a>
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>

            </li>
            <li class="col-md-4 mix no_hover" data-cat="1">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <a href="#">
                            <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                        </a>
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_1" data-cat="2">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <div class="thumbnail-content">
                            <div class="center-vertical">
                                <p class="center-content">
                                    <a href="#" class="btn btn-xs btn-primary display-inline">
                                        <i class="glyph-icon icon-search"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail-overlay radius-all-4 opacity-30 bg-black"></div>
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>


            </li>

            <li class="col-md-4 mix hover_1" data-cat="3">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <div class="thumbnail-content">
                            <div class="center-vertical">
                                <p class="center-content">
                                    <a href="#" class="btn btn-xs btn-success display-inline">
                                        <i class="glyph-icon icon-cog"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail-overlay radius-all-4 opacity-60 bg-white"></div>
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>


            </li>

            <li class="col-md-4 mix hover_1" data-cat="4">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <div class="thumbnail-content">
                            <div class="center-vertical">
                                <p class="center-content">
                                    <a href="#" class="btn btn-xs bg-black display-inline">
                                        <i class="glyph-icon icon-plus"></i>
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail-overlay radius-all-4 opacity-30 bg-black"></div>
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>


            </li>

            <li class="col-md-4 mix hover_1" data-cat="5">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <div class="thumbnail-content">
                            <div class="center-vertical">
                                <p class="center-content">
                                    <a href="#" class="btn btn-xs btn-primary display-inline"><span class="button-content font-size-13 text-transform-upr">More details</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail-overlay radius-all-4 opacity-30 bg-yellow"></div>
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>


            </li>

            <li class="col-md-4 mix hover_1" data-cat="6">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <div class="thumbnail-content">
                            <div class="center-vertical">
                                <p class="center-content">
                                    <a href="#" class="btn btn-black display-inline"><span class="button-content text-transform-upr">View larger</span></a>
                                    <a href="#" class="btn bg-white display-inline"><span class="button-content text-transform-upr">More details</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail-overlay radius-all-4 opacity-30 bg-green"></div>
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>


            </li>

            <li class="col-md-4 mix hover_1" data-cat="6">

                <div class="thumbnail-box-wrapper">
                    <div class="thumbnail-box" title="">
                        <div class="thumbnail-content">
                            <div class="center-vertical">
                                <p class="center-content">
                                    <a href="#" class="btn btn-black display-inline"><span class="button-content text-transform-upr">View larger</span></a>
                                    <a href="#" class="btn bg-white display-inline"><span class="button-content text-transform-upr">More details</span></a>
                                </p>
                            </div>
                        </div>
                        <div class="thumbnail-overlay radius-all-4 opacity-30 bg-green"></div>
                        <img src="http://placehold.it/320x220/42bdc2/FFFFFF" class="img-full radius-all-4" alt="">
                    </div>
                    <div class="thumbnail-text">
                        <h4 class="clearfix">
                            <a href="#" title="">Example title</a>
                            <span class="float-right">
                                12 feb 2014
                                <i class="glyph-icon icon-clock-o"></i>
                            </span>
                        </h4>
                        <p>Lorem ipsum dolor sic amet dixit tu</p>
                    </div>
                </div>


            </li>

            <li class="col-md-4 mix hover_2" data-cat="6">

                <div class="thumb-box thumb-box-1" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_2" data-cat="6">

                <div class="thumb-box thumb-box-1" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_2" data-cat="6">

                <div class="thumb-box thumb-box-1" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_2" data-cat="6">

                <div class="thumb-box thumb-box-1" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_2" data-cat="6">

                <div class="thumb-box thumb-box-1" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_2" data-cat="6">

                <div class="thumb-box thumb-box-1" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_3" data-cat="6">

                <div class="thumb-box thumb-box-2" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_3" data-cat="6">

                <div class="thumb-box thumb-box-2" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_3" data-cat="6">

                <div class="thumb-box thumb-box-2" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_3" data-cat="6">

                <div class="thumb-box thumb-box-2" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_3" data-cat="6">

                <div class="thumb-box thumb-box-2" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_3" data-cat="6">

                <div class="thumb-box thumb-box-2" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_4" data-cat="6">

                <div class="thumb-box thumb-box-3" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_4" data-cat="6">

                <div class="thumb-box thumb-box-3" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_4" data-cat="6">

                <div class="thumb-box thumb-box-3" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_4" data-cat="6">

                <div class="thumb-box thumb-box-3" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_4" data-cat="6">

                <div class="thumb-box thumb-box-3" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_4" data-cat="6">

                <div class="thumb-box thumb-box-3" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_5" data-cat="6">

                <div class="thumb-box thumb-box-4" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_5" data-cat="6">

                <div class="thumb-box thumb-box-4" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_5" data-cat="6">

                <div class="thumb-box thumb-box-4" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_5" data-cat="6">

                <div class="thumb-box thumb-box-4" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_5" data-cat="6">

                <div class="thumb-box thumb-box-4" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_5" data-cat="6">

                <div class="thumb-box thumb-box-4" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-success thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_6" data-cat="6">

                <div class="thumb-box thumb-box-5" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black-opacity">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_6" data-cat="6">

                <div class="thumb-box thumb-box-5" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black-opacity">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_6" data-cat="6">

                <div class="thumb-box thumb-box-5" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black-opacity">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_6" data-cat="6">

                <div class="thumb-box thumb-box-5" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black-opacity">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_6" data-cat="6">

                <div class="thumb-box thumb-box-5" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black-opacity">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_6" data-cat="6">

                <div class="thumb-box thumb-box-5" title="">
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="" />
                    <div class="thumb-pane bg-black-opacity">
                        <div class="thumbnail-text">
                            <h4 class="clearfix">
                                <a href="#" title="">Example title</a>
                            </h4>
                            <p>Lorem ipsum dolor sic amet dixit tu</p>
                            <a href="#" class="btn btn-warning thumb-more"><span class="button-content">View details</span></a>
                        </div>
                    </div>
                </div>

            </li>

            <li class="col-md-4 mix hover_7" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-black"></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_7" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper icon-br bg-black glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-green"></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_7" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper icon-tr bg-orange glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-gray"></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_7" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-black"></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_7" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper icon-br bg-black glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-green"></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_7" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper icon-tr bg-orange glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-gray"></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_8" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay bg-black-opacity">
                        <div class="center-vertical">
                            <div class="center-content">
                                <div class="text-center animated fadeInDown">
                                    <h3 class="mrg0A">
                                        Example title
                                        <small class="display-block">This is the title description</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_8" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper bg-black glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay bg-yellow">
                        <div class="center-vertical">
                            <div class="center-content">
                                <div class="text-center animated fadeInDown">
                                    <h3 class="mrg0A">
                                        Example title
                                        <small class="display-block">This is the title description</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_8" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <i class="icon-helper icon-center font-white glyph-icon icon-plus-square-o"></i>
                        </div>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-black animated flipInX "></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_8" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper bg-green glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay bg-black-opacity">
                        <div class="center-vertical">
                            <div class="center-content">
                                <div class="text-center animated fadeInDown">
                                    <h3 class="mrg0A">
                                        Example title
                                        <small class="display-block">This is the title description</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_8" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <i class="icon-helper bg-black glyph-icon icon-plus"></i>
                    </div>
                    <div class="thumbnail-overlay bg-yellow">
                        <div class="center-vertical">
                            <div class="center-content">
                                <div class="text-center animated fadeInDown">
                                    <h3 class="mrg0A">
                                        Example title
                                        <small class="display-block">This is the title description</small>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="col-md-4 mix hover_8" data-cat="6">

                <a href="#" class="thumbnail-box" title="">
                    <div class="thumbnail-content">
                        <div class="center-vertical">
                            <i class="icon-helper icon-center font-white glyph-icon icon-plus-square-o"></i>
                        </div>
                    </div>
                    <div class="thumbnail-overlay opacity-80 bg-black animated flipInX "></div>
                    <img src="http://placehold.it/300x220/42bdc2/FFFFFF" class="img-full" alt="">
                </a>

            </li>

            <li class="gap"></li>
        </ul>
    </div>

</div>