---
title: Testimonials
categories: Frontend
tags: Widgets
---
{{#if docs_include}}

    <h2 class="title-hero">
        Testimonials
    </h2>
    <p class="title-lead">Use the markups below to create testimonials boxes.</p>

    <div class="divider"></div>
    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/frontend-elements/testimonial-box.css - Contains the CSS needed for the testimonials structure. Styling is achieved from the color theme CSS file (/assets/themes/../frontend/*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{{/if}}

{{#if docs_exclude}}
  <div class="container">
{{/if}}

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">You can create multiple styles for the testimonials boxes using the included CSS helper classes.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-6">

                <div class="testimonial-box testimonial-box-alt">
                    <div class="testimonial-content bg-black">
                        <div class="testimonial-arrow border-black"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-circle" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="" />
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="testimonial-box testimonial-box-alt">
                    <div class="testimonial-content radius-all-4 bg-green">
                        <div class="testimonial-arrow border-green arrow-rounded"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. To an English person, it will seem like simplified English.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="radius-all-4" src="assets-minified/dummy-images/people/testimonial2.jpg" alt="" />
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="testimonial-box testimonial-box-alt">
                    <div class="testimonial-content radius-all-8 bg-blue">
                        <div class="testimonial-arrow border-blue arrow-rounded"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded" src="assets-minified/dummy-images/people/testimonial3.jpg" alt="" />
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="testimonial-box testimonial-box-alt">
                    <div class="testimonial-content radius-all-4 bg-purple">
                        <div class="testimonial-arrow"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b class="font-gray-dark">Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <div class="testimonial-box testimonial-box-alt">
                    <div class="testimonial-content radius-all-2 bg-orange">
                        <div class="testimonial-arrow border-orange arrow-rounded"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>Shopify is one of those tools that every entrepreneur should be using. With this easy to use ecommerce solution, entrepreneurs save time and money, so they can focus on other aspects of their business.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded" src="assets-minified/dummy-images/people/testimonial4.jpg" alt="" />
                        <div class="testimonial-author">
                            <b class="font-green">Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="testimonial-box testimonial-box-alt">
                    <div class="testimonial-content bg-primary">
                        <div class="testimonial-arrow border-primary"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b class="font-red">Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="example-html">
        <pre>
        <code class="language-markup">

            <div class="row">
                <div class="col-md-6">

                    <div class="testimonial-box testimonial-box-alt">
                        <div class="testimonial-content bg-black">
                            <div class="testimonial-arrow border-black"></div>
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="img-circle" src="assets-minified/dummy-images/people/testimonial5.jpg" alt="" />
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="testimonial-box testimonial-box-alt">
                        <div class="testimonial-content radius-all-4 bg-green">
                            <div class="testimonial-arrow border-green arrow-rounded"></div>
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. To an English person, it will seem like simplified English.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="radius-all-4" src="assets-minified/dummy-images/people/testimonial6.jpg" alt="" />
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="testimonial-box testimonial-box-alt">
                        <div class="testimonial-content radius-all-8 bg-blue">
                            <div class="testimonial-arrow border-blue arrow-rounded"></div>
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="img-rounded" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="" />
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="testimonial-box testimonial-box-alt">
                        <div class="testimonial-content">
                            <div class="testimonial-arrow"></div>
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <div class="testimonial-author">
                                <b class="font-gray-dark">Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="testimonial-box testimonial-box-alt">
                        <div class="testimonial-content radius-all-2 bg-orange">
                            <div class="testimonial-arrow border-orange arrow-rounded"></div>
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>Shopify is one of those tools that every entrepreneur should be using. With this easy to use ecommerce solution, entrepreneurs save time and money, so they can focus on other aspects of their business.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="img-rounded" src="assets-minified/dummy-images/people/testimonial2.jpg" alt="" />
                            <div class="testimonial-author">
                                <b class="font-green">Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6">

                    <div class="testimonial-box testimonial-box-alt">
                        <div class="testimonial-content bg-primary">
                            <div class="testimonial-arrow border-primary"></div>
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <div class="testimonial-author">
                                <b class="font-red">Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </code>
        </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Alternate style
    </h3>
    <p class="title-lead">Use the markup below to create an alternate style for testimonial items.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-6">
                <div class="testimonial-box">
                    <div class="popover top">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth. </p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-circle" src="assets-minified/dummy-images/people/testimonial3.jpg" alt="" />
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-box">
                    <div class="popover top">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial4.jpg" alt="" />
                        <div class="testimonial-author text-right">
                            <b>Simon Horia</b>
                            <span>Designer, Founder of agileui.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="testimonial-box">
                    <div class="popover top">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-circle" src="assets-minified/dummy-images/people/testimonial5.jpg" alt="" />
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-box">
                    <div class="popover top">
                        <div class="arrow"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-circle" src="assets-minified/dummy-images/people/testimonial6.jpg" alt="" />
                        <div class="testimonial-author">
                            <b>Simon Horia</b>
                            <span>Designer, Founder of agileui.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-html">
        <pre>
        <code class="language-markup">

            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-box">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <i class="glyph-icon icon-quote-left"></i>
                                <i class="glyph-icon icon-quote-right"></i>
                                <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth. </p>
                            </div>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="img-circle" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="" />
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-box">
                        <div class="popover top">
                            <div class="arrow float-right"></div>
                            <div class="popover-content">
                                <i class="glyph-icon icon-quote-left"></i>
                                <p>To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words. If several languages coalesce, the grammar of the resulting language is more simple.</p>
                            </div>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial2.jpg" alt="" />
                            <div class="testimonial-author text-right">
                                <b>Simon Horia</b>
                                <span>Designer, Founder of agileui.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-box">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <i class="glyph-icon icon-quote-left"></i>
                                <i class="glyph-icon icon-quote-right"></i>
                                <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing.</p>
                            </div>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="img-circle" src="assets-minified/dummy-images/people/testimonial3.jpg" alt="" />
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-box">
                        <div class="popover top">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <i class="glyph-icon icon-quote-left"></i>
                                <i class="glyph-icon icon-quote-right"></i>
                                <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is. The European languages are members of the same family. Their separate existence is a myth.</p>
                            </div>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <img class="img-circle" src="assets-minified/dummy-images/people/testimonial4.jpg" alt="" />
                            <div class="testimonial-author">
                                <b>Simon Horia</b>
                                <span>Designer, Founder of agileui.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </code>
        </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Full width testimonial
    </h3>
    <p class="title-lead">Use the markup below to create a full width testimonial.</p>

    <div class="example-box-wrapper">

        <div class="testimonial-box-big">
            <div class="testimonial-content">
                <i class="glyph-icon icon-quote-left"></i>
                <i class="glyph-icon icon-quote-right"></i>
                <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
            </div>
            <div class="testimonial-author-wrapper">
                <div class="testimonial-author">
                    <b>Horia Simon</b>
                    <span>UI Designer, Supina.com</span>
                </div>
            </div>
        </div>

        <div class="example-html">
        <pre>
        <code class="language-markup">

            <div class="testimonial-box-big">
                <div class="testimonial-content">
                    <i class="glyph-icon icon-quote-left"></i>
                    <i class="glyph-icon icon-quote-right"></i>
                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple and regular than the existing European languages.</p>
                </div>
                <div class="testimonial-author-wrapper">
                    <div class="testimonial-author">
                        <b>Horia Simon</b>
                        <span>UI Designer, Supina.com</span>
                    </div>
                </div>
            </div>

        </code>
        </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Slideshows
    </h3>
    <p class="title-lead">Use the markup below to create testimonials slideshows.</p>

    <div class="example-box-wrapper">

        <div class="owl-slider-5 inverse slider-wrapper">
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box-big">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-html">
        <pre>
        <code class="language-markup">

            <div class="owl-slider-example-5 inverse slider-wrapper">
                <div>
                    <div class="testimonial-box-big">
                        <div class="testimonial-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testimonial-box-big">
                        <div class="testimonial-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p>It will be as simple as Occidental; in fact, it will be Occidental. To an English person, it will seem like simplified English, as a skeptical Cambridge.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testimonial-box-big">
                        <div class="testimonial-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="testimonial-box-big">
                        <div class="testimonial-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                /* Carousel */

                $(document).ready(function() {
                    $(".owl-slider-example-5").owlCarousel({
                        lazyLoad : true,
                        autoPlay : 3000,
                        stopOnHover : true,
                        navigation:false,
                        paginationSpeed : 1000,
                        goToFirstSpeed : 2000,
                        singleItem : true,
                        autoHeight : true,
                        transitionStyle:"slide"
                    });
                });
            </script>

        </code>
        </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Carousels
    </h3>
    <p class="title-lead">Use the markup below to create carousels with testimonials.</p>

    <div class="example-box-wrapper">

        <div class="owl-carousel-1 slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">
                
            <div>
                <div class="testimonial-box">
                    <div class="popover top mrg10A">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box">
                    <div class="popover top mrg10A">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial2.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box">
                    <div class="popover top mrg10A">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial3.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box">
                    <div class="popover top mrg10A">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial4.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box">
                    <div class="popover top mrg10A">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial5.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box">
                    <div class="popover top mrg10A">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial6.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="example-html">
        <pre>
            <code class="language-markup">

                <div class="owl-carousel-example-1 slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">

                    <div>
                        <div class="testimonial-box">
                            <div class="popover top mrg10A">
                                <div class="arrow float-right"></div>
                                <div class="popover-content">
                                    <i class="glyph-icon icon-quote-left"></i>
                                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                                </div>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author text-right">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-box">
                            <div class="popover top mrg10A">
                                <div class="arrow float-right"></div>
                                <div class="popover-content">
                                    <i class="glyph-icon icon-quote-left"></i>
                                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                                </div>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author text-right">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-box">
                            <div class="popover top mrg10A">
                                <div class="arrow float-right"></div>
                                <div class="popover-content">
                                    <i class="glyph-icon icon-quote-left"></i>
                                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                                </div>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author text-right">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-box">
                            <div class="popover top mrg10A">
                                <div class="arrow float-right"></div>
                                <div class="popover-content">
                                    <i class="glyph-icon icon-quote-left"></i>
                                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                                </div>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author text-right">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-box">
                            <div class="popover top mrg10A">
                                <div class="arrow float-right"></div>
                                <div class="popover-content">
                                    <i class="glyph-icon icon-quote-left"></i>
                                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                                </div>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author text-right">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-box">
                            <div class="popover top mrg10A">
                                <div class="arrow float-right"></div>
                                <div class="popover-content">
                                    <i class="glyph-icon icon-quote-left"></i>
                                    <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                                </div>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-rounded float-right" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author text-right">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <script type="text/javascript">

                    /* Carousel */

                    $(document).ready(function() {
                        $(".owl-carousel-example-1").owlCarousel({
                            lazyLoad : true,
                            items : 4,
                            navigation : true,
                            navigationText : ["<i class='glyph-icon icon-angle-left'></i>","<i class='glyph-icon icon-angle-right'></i>"],
                        });
                    });
                </script>
            </code>
        </pre>
        </div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Carousels 2 items
    </h3>
    <p class="title-lead">Use the markup below to create carousels that only have two testimonials visible at a time.</p>

    <div class="example-box-wrapper">

        <div class="col-md-11 center-margin owl-carousel-3 inverse slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">
                
            <div>
                <div class="testimonial-box mrg10A testimonial-box-alt">
                    <div class="testimonial-content radius-all-4 bg-green">
                        <div class="testimonial-arrow border-green arrow-rounded"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. To an English person, it will seem like simplified English.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="radius-all-4" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg10A testimonial-box-alt">
                    <div class="testimonial-content radius-all-2 bg-orange">
                        <div class="testimonial-arrow border-orange arrow-rounded"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>Shopify is one of those tools that every entrepreneur should be using. With this easy to use ecommerce solution, entrepreneurs save time and money, so they can focus on other aspects of their business.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded" src="assets-minified/dummy-images/people/testimonial2.jpg" alt="">
                        <div class="testimonial-author">
                            <b class="font-green">Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg10A testimonial-box-alt">
                    <div class="testimonial-content bg-black">
                        <div class="testimonial-arrow border-black"></div>
                        <i class="glyph-icon icon-quote-left"></i>
                        <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-circle" src="assets-minified/dummy-images/people/testimonial3.jpg" alt="">
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="example-html">
        <pre>
            <code class="language-markup">

                <div class="col-md-11 center-margin owl-carousel-example-3 inverse slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">

                    <div>
                        <div class="testimonial-box mrg10A testimonial-box-alt">
                            <div class="testimonial-content radius-all-4 bg-green">
                                <div class="testimonial-arrow border-green arrow-rounded"></div>
                                <i class="glyph-icon icon-quote-left"></i>
                                <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. To an English person, it will seem like simplified English.</p>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="radius-all-4" src="assets-minified/dummy-images/people/testimonial4.jpg" alt="">
                                <div class="testimonial-author">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-box mrg10A testimonial-box-alt">
                            <div class="testimonial-content radius-all-2 bg-orange">
                                <div class="testimonial-arrow border-orange arrow-rounded"></div>
                                <i class="glyph-icon icon-quote-left"></i>
                                <p>Shopify is one of those tools that every entrepreneur should be using. With this easy to use ecommerce solution, entrepreneurs save time and money, so they can focus on other aspects of their business.</p>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-rounded" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author">
                                    <b class="font-green">Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="testimonial-box mrg10A testimonial-box-alt">
                            <div class="testimonial-content bg-black">
                                <div class="testimonial-arrow border-black"></div>
                                <i class="glyph-icon icon-quote-left"></i>
                                <p>The languages only differ in their grammar, their pronunciation and their most common words. Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators.</p>
                            </div>
                            <div class="testimonial-author-wrapper">
                                <img class="img-circle" src="assets-minified/dummy-images/people/testimonial1.jpg" alt="">
                                <div class="testimonial-author">
                                    <b>Horia Simon</b>
                                    <span>UI Designer, Supina.com</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">

                    /* Carousel */

                    $(document).ready(function() {
                        $(".owl-carousel-example-3").owlCarousel({
                            lazyLoad : true,
                            autoPlay : 3000,
                            items : 2,
                            stopOnHover : true,
                            navigation:true,
                            navigationText : ["<i class='glyph-icon icon-angle-left'></i>","<i class='glyph-icon icon-angle-right'></i>"],
                            paginationSpeed : 1000,
                            goToFirstSpeed : 2000,
                            singleItem : false,
                            autoHeight : true,
                            transitionStyle:"goDown"
                        });
                    });
                </script>
            </code>
        </pre>
        </div>
        {{> docs-buttons  }}
    </div>

{{#if docs_exclude}}
  </div>
{{/if}}


{{#if docs_exclude}}
  <div class="container">
{{/if}}

    <h3 class="title-hero">
        Wrapper with background
    </h3>
    <p class="title-lead">Use the markup below to add background images to testimonials.</p>

{{#if docs_exclude}}
  </div>
{{/if}}

    <div class="example-box-wrapper">

        <div class="dummy-dark-bg3 large-padding" 
            data-center="background-position: 50% 0px;"
            data-top-bottom="background-position: 50% -400px;"
            >
            <div class="container">
                <div class="testimonial-box-big bg-white-opacity radius-all-4 pad25A">
                    <div class="testimonial-content">
                        <i class="glyph-icon icon-quote-left"></i>
                        <i class="glyph-icon icon-quote-right"></i>
                        <p> It will be as simple as Occidental; in fact, it will be Occidental the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple.</p>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <div class="testimonial-author">
                            <b>Horia Simon</b>
                            <span>UI Designer, Supina.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="example-html">
        <pre>
        <code class="language-markup">

            <div class="dummy-dark-bg3 large-padding" 
                data-center="background-position: 50% 0px;"
                data-top-bottom="background-position: 50% -600px;"
                >
                <div class="container">
                    <div class="testimonial-box-big bg-white-opacity radius-all-4 pad25A">
                        <div class="testimonial-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <i class="glyph-icon icon-quote-right"></i>
                            <p> It will be as simple as Occidental; in fact, it will be Occidental the resulting language is more simple and regular than that of the individual languages. The new common language will be more simple.</p>
                        </div>
                        <div class="testimonial-author-wrapper">
                            <div class="testimonial-author">
                                <b>Horia Simon</b>
                                <span>UI Designer, Supina.com</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </code>
        </pre>
        </div>
        {{> docs-buttons  }}
    </div>