---
title: Blank page
categories:
---
<div id="page-content">

    <h1 class="font-gray-dark text-center mrg25T mrg15B">This is a blank page without the page wrapper element.</h1>

</div><!-- #page-content -->