<div id="sidebar-search">
    <input type="text" placeholder="Autocomplete search..." class="autocomplete-input tooltip-button" data-placement="right" title="Type &apos;j&apos; to see the available tags..." name="">
    <i class="glyph-icon icon-search"></i>
</div>
<ul>
<li>
    <a href="index.html" title="Applications">
        <i class="glyph-icon icon-linecons-tv"></i>
        <span>Dashboard</span>
    </a>
</li>
<li>
    <a href="index.html" title="Applications">
        <i class="glyph-icon icon-linecons-shop"></i>
        <span>Front-end demo</span>
        <span class="bs-label label-success">NEW</span>
    </a>
    <ul>
        <li class="header"><span>Widgets</span></li>
        <li><a href="carousels.html" title="Carousels"><span>Carousels</span></a></li>
        <li><a href="slideshows.html" title="Slideshows"><span>Slideshows</span></a></li>

        <li class="header"><span>Portfolios</span></li>
        <li><a href="portfolio-2col.html" title="Portfolio 2 columns"><span>2 columns</span></a></li>
        <li><a href="portfolio-3col.html" title="Portfolio 2 columns"><span>3 columns</span></a></li>
        <li><a href="portfolio-4col.html" title="Portfolio 4 columns"><span>4 columns</span></a></li>
        <li><a href="portfolio-6col.html" title="Portfolio 6 columns"><span>6 columns</span></a></li>
        <li><a href="portfolio-fw1.html" title="Portfolio full width"><span>Full width</span></a></li>
        <li><a href="portfolio-fw2.html" title="Portfolio full width alternate"><span>Full width alternate</span></a></li>
        <li><a href="portfolio-masonry.html" title="Portfolio masonry"><span>Full masonry</span></a></li>

        <li class="header"><span>Elements</span></li>
        <li><a href="icon-boxes.html" title="Icon boxes"><span>Icon boxes</span></a></li>
        <li><a href="page-titles.html" title="Page titles"><span>Page titles</span></a></li>
        <li><a href="pricing-table.html" title="Pricing tables"><span>Pricing tables</span></a></li>
        <li><a href="testimonials.html" title="Testimonials"><span>Testimonials</span></a></li>

        <li class="header"><span>Footers</span></li>
        <li><a href="footer-1.html" title="Simple black footer"><span>Simple black footer</span></a></li>
        <li><a href="footer-2.html" title="Simple blue footer"><span>Simple blue footer</span></a></li>
        <li><a href="footer-3.html" title="Grid footer 1"><span>Grid footer 1</span></a></li>
        <li><a href="footer-4.html" title="Grid footer 2"><span>Grid footer 2</span></a></li>

        <li class="header"><span>Headers</span></li>
        <li><a href="header-1.html" title=""><span>White transparent header</span></a></li>
        <li><a href="header-2.html" title=""><span>Alternate dropdown menu</span></a></li>
        <li><a href="header-3.html" title=""><span>White header</span></a></li>
        <li><a href="header-4.html" title=""><span>Mega dropdown menu</span></a></li>
        <li><a href="header-5.html" title=""><span>Blue header</span></a></li>
        <li><a href="header-6.html" title=""><span>Transparent header</span></a></li>

        <li class="header"><span>Hero areas</span></li>
        <li><a href="featured-area-1.html" title="Hero area 1"><span>Hero area 1</span></a></li>
        <li><a href="featured-area-2.html" title="Hero area 2"><span>Hero area 2</span></a></li>
        <li><a href="featured-area-3.html" title="Hero area 3"><span>Hero area 3</span></a></li>
        <li><a href="featured-area-4.html" title="Hero area 4"><span>Hero area 4</span></a></li>
        <li><a href="featured-area-5.html" title="Hero area 5"><span>Hero area 5</span></a></li>
        <li><a href="featured-area-6.html" title="Hero area 6"><span>Hero area 6</span></a></li>
        <li><a href="featured-area-7.html" title="Hero area 7"><span>Hero area 7</span></a></li>
        <li><a href="featured-area-8.html" title="Hero area 8"><span>Hero area 8</span></a></li>
        <li><a href="featured-area-9.html" title="Hero area 9"><span>Hero area 9</span></a></li>
        <li><a href="featured-area-10.html" title="Hero area 10"><span>Hero area 10</span></a></li>
        <li><a href="featured-area-11.html" title="Hero area 11"><span>Hero area 11</span></a></li>
        <li><a href="featured-area-12.html" title="Hero area 12"><span>Hero area 12</span></a></li>
        <li><a href="featured-area-13.html" title="Hero area 13"><span>Hero area 13</span></a></li>
        <li><a href="featured-area-14.html" title="Hero area 14"><span>Hero area 14</span></a></li>
        <li><a href="featured-area-15.html" title="Hero area 15"><span>Hero area 15</span></a></li>
        <li><a href="featured-area-16.html" title="Hero area 16"><span>Hero area 16</span></a></li>
    </ul>
</li>
    <li>
        <a href="#" title="Applications">
            <i class="glyph-icon icon-paper-plane"></i>
            <span>Applications</span>
        </a>
        <ul>
            <li class="header"><span>Mailbox</span></li>
            <li><a href="mailbox-inbox.html" title="Inbox"><span>Inbox</span></a></li>
            <li><a href="mailbox-inbox-alt.html" title="Inbox alternate"><span>Inbox alternate</span></a></li>
            <li><a href="mailbox-compose.html" title="Compose message"><span>Compose message</span></a></li>
            <li><a href="mailbox-message.html" title="View message"><span>View message</span></a></li>
        </ul>
        <ul>
            <li class="header"><span>Others</span></li>
            <li><a href="chat.html" title="Chat"><span>Chat</span></a></li>
            <li><a href="todo.html" title="Chat"><span>Checklist</span></a></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Extra pages">
            <i class="glyph-icon icon-linecons-params"></i>
            <span>Extra pages</span>
            <span class="bs-label label-success">New</span>
        </a>
        <ul>
            <li class="header"><span>Dashboards</span></li>
            <li><a href="index.html" title="Dashboard example 1"><span>Dashboard example 1</span></a></li>
            <li><a href="dashboard-2.html" title="Dashboard example 2"><span>Dashboard example 2</span></a></li>
            <li><a href="dashboard-3.html" title="Dashboard example 3"><span>Dashboard example 3</span></a></li>
            <li><a href="#" title="Dashboard example 4"><span>Dashboard example 4</span><span class="bs-label label-warning">SOON</span></a></li>

            <li class="header"><span>Others</span></li>
            <li><a href="helper-classes.html" title="Helper classes"><span>Helper classes</span></a></li>
            <li><a href="slidebars.html" title="Slidebars panels"><span>Slidebars panels</span></a></li>
            <li><a href="animations.html" title="Animations"><span>Animations</span></a></li>
            <li><a href="page-transitions.html" title="Page transitions"><span>Page transitions</span></a></li>
            <li><a href="snippets.html" title="Snippets"><span>Snippets</span></a></li>

            <li class="header"><span>Lockscreens</span></li>
            <li><a href="lockscreen-page-1.html" target="_blank" title="Lockscreen example 1"><span>Lockscreen example 1</span></a></li>
            <li><a href="lockscreen-page-2.html" target="_blank" title="Lockscreen example 2"><span>Lockscreen example 2</span></a></li>
            <li><a href="lockscreen-page-3.html" target="_blank" title="Lockscreen example 3"><span>Lockscreen example 3</span></a></li>

            <li class="header"><span>Login pages</span></li>
            <li><a href="login-page-1.html" target="_blank" title="Login example 1"><span>Login example 1</span></a></li>
            <li><a href="login-page-2.html" target="_blank" title="Login example 2"><span>Login example 2</span></a></li>
            <li><a href="login-page-3.html" target="_blank" title="Login example 3"><span>Login example 3</span></a></li>
            <li><a href="login-page-4.html" target="_blank" title="Login example 4"><span>Login example 4</span></a></li>
            <li><a href="login-page-5.html" target="_blank" title="Login example 5"><span>Login example 5</span></a></li>

            <li class="header"><span>Server response</span></li>
            <li><a href="server-page-1.html" target="_blank" title="Server error example 1"><span>Server error example 1</span></a></li>
            <li><a href="server-page-2.html" target="_blank" title="Server error example 2"><span>Server error example 2</span></a></li>
            <li><a href="server-page-3.html" target="_blank" title="Server error example 3"><span>Server error example 3</span></a></li>
            <li><a href="server-page-4.html" target="_blank" title="Server error example 4"><span>Server error example 4</span></a></li>
        </ul>
    </li>
    <li class="divider"></li>
    <li>
        <a href="#" title="Widgets">
            <i class="glyph-icon icon-linecons-cog"></i>
            <span>Widgets</span>
        </a>
        <ul>
            <li><a href="accordions.html" title="Accordions"><span>Accordions</span></a></li>
            <li><a href="bs-carousel.html" title="Bootstrap carousel"><span>Bootstrap carousel</span></a></li>
            <li><a href="bs-datepicker.html" title="Bootstrap datepicker"><span>Bootstrap datepicker</span></a></li>
            <li><a href="calendar.html" title="Calendar"><span>Calendar</span></a></li>
            <li><a href="collapsable.html" title="Collapsable"><span>Collapsable</span></a></li>
            <li><a href="colorpicker.html" title="Colorpicker"><span>Colorpicker</span></a></li>
            <li><a href="custom-scrollbars.html" title="Custom scrollbars"><span>Custom scrollbars</span></a></li>
            <li><a href="dialogs.html" title="Dialogs"><span>Dialogs</span></a></li>
            <li><a href="dynamic-tables.html" title="Dynamic tables"><span>Dynamic tables</span></a></li>
            <li><a href="jgrowl-notifications.html" title="JGrowl notifications"><span>JGrowl notifications</span></a></li>
            <li><a href="jqueryui-datepicker.html" title="jQueryUI datepicker"><span>jQueryUI datepicker</span></a></li>
            <li><a href="lazyload.html" title="Images preloader"><span>Images preloader</span></a></li>
            <li><a href="loading-bar.html" title="Loading bar"><span>Loading bar</span></a></li>
            <li><a href="modals.html" title="Modals"><span>Modals</span></a></li>
            <li><a href="noty-notifications.html" title="Noty notifications"><span>Noty notifications</span></a></li>
            <li><a href="overlays.html" title="Overlays"><span>Overlays</span></a></li>
            <li><a href="popovers.html" title="Popovers"><span>Popovers</span></a></li>
            <li><a href="progress-bars.html" title="Progress bars"><span>Progress bars</span></a></li>
            <li><a href="sliders.html" title="Sliders"><span>Sliders</span></a></li>
            <li><a href="sortable.html" title="Sortable elements"><span>Sortable elements</span></a></li>
            <li><a href="tabs.html" title="Tabs"><span>Tabs</span></a></li>
            <li><a href="timepicker.html" title="Timepicker"><span>Timepicker</span></a></li>
            <li><a href="tooltips.html" title="Tooltips"><span>Tooltips</span></a></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Elements">
            <i class="glyph-icon icon-linecons-beaker"></i>
            <span>Elements</span>
        </a>
        <ul>
            <li><a href="badges.html" title="Badges"><span>Badges</span></a></li>
            <li><a href="buttons.html" title="Buttons"><span>Buttons</span></a></li>
            <li><a href="content-boxes.html" title="Content boxes"><span>Content boxes</span></a></li>
            <li><a href="dashboard-boxes.html" title="Dashboard boxes"><span>Dashboard boxes</span></a></li>
            <li><a href="icons.html" title="Icons"><span>Icons</span></a></li>
            <li><a href="images.html" title="Images"><span>Images</span></a></li>
            <li><a href="labels.html" title="Labels"><span>Labels</span></a></li>
            <li><a href="navigation-menus.html" title="Menus"><span>Menus</span></a></li>
            <li><a href="panel-boxes.html" title="Panel boxes"><span>Panel boxes</span></a></li>
            <li><a href="plain-tables.html" title="Table"><span>Table</span></a></li>
            <li><a href="response-messages.html" title="Response messages"><span>Response messages</span></a></li>
            <li><a href="ribbons.html" title="Ribbons"><span>Ribbons</span></a></li>
            <li><a href="scrollable-boxes.html" title="Scrollable boxes"><span>Scrollable boxes</span></a></li>
            <li><a href="social-boxes.html" title="Social boxes"><span>Social boxes</span></a></li>
            <li><a href="spinners.html" title="Loading spinners"><span>Loading spinners</span></a></li>
            <li><a href="tile-boxes.html" title="Tile boxes"><span>Tile boxes</span></a></li>
            <li><a href="timeline.html" title="Timeline"><span>Timeline</span></a></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Forms">
            <i class="glyph-icon icon-linecons-doc"></i>
            <span>Forms</span>
            <span class="small-badge bg-primary"></span>
        </a>
        <ul>
            <li><a href="forms-validation.html" title="Forms validation"><span>Forms validation</span></a></li>
            <li><a href="dropzone-uploader.html" title="Dropzone uploader"><span>Dropzone uploader</span></a></li>
            <li><a href="forms-elements.html" title="Forms elements"><span>Forms elements</span></a></li>
            <li><a href="image-crop.html" title="Image crop"><span>Image crop</span></a></li>
            <li><a href="input-masks.html" title="Input masks"><span>Input masks</span></a></li>
            <li><a href="knobs.html" title="Input knobs"><span>Input knobs</span></a></li>
            <li><a href="multi-upload.html" title="Multi uploader"><span>Multi uploader</span></a></li>
            <li><a href="wizard.html" title="Wizard"><span>Wizard</span></a></li>
            <li><a href="wysiwyg-editor.html" title="WYSIWYG Editors"><span>WYSIWYG Editors</span></a></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Maps">
            <i class="glyph-icon icon-linecons-location"></i>
            <span>Maps</span>
            <span class="bs-label label-info">3</span>
        </a>
        <ul>
            <li><a href="google-maps.html" title="Google maps"><span>Google maps</span></a></li>
            <li><a href="vector-maps.html" title="Vector maps"><span>Vector maps</span></a></li>
        </ul>
    </li>
    <li>
        <a href="#" title="Charts">
            <i class="glyph-icon icon-linecons-calendar"></i>
            <span>Charts</span>
        </a>
        <ul>
            <li><a href="justgage.html" title="JustGage"><span>JustGage</span></a></li>
            <li><a href="morris-charts.html" title="Morris charts"><span>Morris charts</span></a></li>
            <li><a href="pie-gages.html" title="PieGages charts"><span>PieGages charts</span></a></li>
            <li><a href="sparklines.html" title="Sparklines charts"><span>Sparklines charts</span></a></li>
            <li><a href="xcharts.html" title="xCharts"><span>xCharts</span></a></li>
        </ul>
    </li>
</ul>