---
title: Lockscreen pages
categories: Admin templates
---

<div class="remove-production">

    <h2 class="title-hero">
        Lockscreen pages
    </h2>
    <p class="title-lead">Use the markups below to create lockscreen pages.</p>

    <div class="divider"></div>


    <div class="row">

        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Lockscreen page 1
                </div>

                <div class="text-center">

                    <a href="lockscreen-page-1.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>

                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">
                            <div class="center-vertical">
                                <div class="center-content">

                                    <div class="col-md-4 center-margin">

                                        <div class="panel-layout">
                                            <div class="panel-content pad0A bg-white">
                                                <div class="meta-box meta-box-offset">
                                                    <img src="../assets/dummy-images/gravatar.jpg" alt="" class="meta-image img-bordered img-circle">
                                                    <h3 class="meta-heading font-size-16">Alex Rosenberg</h3>
                                                    <h4 class="meta-subheading font-size-13 font-gray">Ultimate backend programmer</h4>
                                                </div>
                                                <form action="" class="form-inline" method="">
                                                    <div class="content-box-wrapper pad20A">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" placeholder="Password" class="form-control">
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="button"><i class="glyph-icon icon-unlock-alt"></i></button>
                                        </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>
        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Lockscreen page 2
                </div>

                <div class="text-center">

                    <a href="lockscreen-page-2.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>


                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">
                            <style type="text/css">

                                body {
                                    background: #fff;
                                }

                            </style>

                            <img src="../assets/dummy-images/bg31.jpg" class="login-img wow fadeIn" alt="" />

                            <div class="center-vertical">
                                <div class="center-content">

                                    <div class="col-md-3 wow bounceInDown center-margin">

                                        <div class="panel-layout">
                                            <div class="panel-content pad0A bg-white">
                                                <div class="meta-box meta-box-offset">
                                                    <img src="../assets/dummy-images/gravatar.jpg" alt="" class="meta-image img-bordered img-circle">
                                                    <h3 class="meta-heading font-size-16">Alex Rosenberg</h3>
                                                    <h4 class="meta-subheading font-size-13 font-gray">Ultimate backend programmer</h4>
                                                </div>
                                                <form action="" class="form-inline" method="">
                                                    <div class="content-box-wrapper pad20A">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" placeholder="Password" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="glyph-icon icon-unlock-alt"></i></button>
                                    </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>
        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Lockscreen page 3
                </div>

                <div class="text-center">

                    <a href="lockscreen-page-3.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>


                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">
                            <style type="text/css">

                                body {
                                    background: #fff;
                                }

                            </style>

                            <img src="../assets/dummy-images/bg31.jpg" class="login-img wow fadeIn" alt="" />

                            <div class="center-vertical">
                                <div class="center-content">

                                    <div class="col-md-3 wow bounceInDown center-margin">

                                        <div class="content-box modal-content pad20A clearfix">
                                            <div class="col-md-3">
                                                <img src="../assets/dummy-images/gravatar.jpg" alt="" class="img-bordered border-gray radius-all-4 img-full">
                                            </div>
                                            <div class="col-md-9">
                                                <div class="meta-box text-left">
                                                    <h3 class="meta-heading font-size-16">Alex Rosenberg</h3>
                                                    <h4 class="meta-subheading font-size-13 font-gray">Ultimate backend programmer</h4>
                                                    <div class="divider"></div>
                                                    <form action="" class="form-inline pad10T" method="">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="text" placeholder="Password" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button"><i class="glyph-icon icon-unlock-alt"></i></button>
                                    </span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>


    </div>



</div>
