---
title: Login pages
categories: Admin templates
---
<div class="remove-production">

    <h2 class="title-hero">
        Login pages
    </h2>
    <p class="title-lead">Use the markups below to create login pages.</p>

    <div class="divider"></div>

    <div class="row">

        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Login page 1
                </div>

                <div class="text-center">

                    <a href="login-page-1.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>

                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">
                            <div class="center-vertical">
                                <div class="center-content">

                                    <form action="" id="login-validation" class="col-md-4 center-margin" method="">
                                        <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">Supina Admin <span class="opacity-80">v1.0</span></h3>
                                        <div id="login-form" class="content-box modal-content">
                                            <div class="content-box-wrapper pad20A">

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address:</label>
                                                    <div class="input-group input-group-lg">
                                                        <span class="input-group-addon addon-inside bg-white font-primary">
                                                            <i class="glyph-icon icon-envelope-o"></i>
                                                        </span>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="exampleInputPassword1">Password:</label>
                                                    <div class="input-group input-group-lg">
                                                        <span class="input-group-addon addon-inside bg-white font-primary">
                                                            <i class="glyph-icon icon-unlock-alt"></i>
                                                        </span>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="checkbox-primary col-md-6" style="height: 20px;">
                                                        <label>
                                                            <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                                                            Remember me
                                                        </label>
                                                    </div>
                                                    <div class="text-right col-md-6">
                                                        <a href="#" class="switch-button" switch-target="#login-forgot" switch-parent="#login-form" title="Recover password">Forgot your password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-pane">
                                                <button type="submit" class="btn btn-block btn-primary">Login</button>
                                            </div>
                                        </div>

                                        <div id="login-forgot" class="content-box modal-content hide">
                                            <div class="content-box-wrapper pad20A">

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">Email address:</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon addon-inside bg-gray">
                                                            <i class="glyph-icon icon-envelope-o"></i>
                                                        </span>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-pane text-center">
                                                <button type="submit" class="btn btn-md btn-primary">Recover Password</button>
                                                <a href="#" class="btn btn-md btn-link switch-button" switch-target="#login-form" switch-parent="#login-forgot" title="Cancel">Cancel</a>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>
        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Login page 2
                </div>

                <div class="text-center">

                    <a href="login-page-2.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>

                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">
                            <style type="text/css">

                                body {
                                    background: #fff;
                                }

                            </style>
                            <div class="center-vertical">
                                <div class="center-content">

                                    <form action="" id="login-validation" class="col-md-3 center-margin" method="">
                                        <h3 class="text-center pad25B font-gray text-transform-upr font-size-23">Supina Admin <span class="opacity-80">v1.0</span></h3>
                                        <div id="login-form" class="content-box bg-default">
                                            <div class="content-box-wrapper pad20A">
                                                <img class="mrg25B center-margin radius-all-100 display-block" src="../assets/dummy-images/gravatar.jpg" alt="">
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon addon-inside bg-gray">
                                                            <i class="glyph-icon icon-envelope-o"></i>
                                                        </span>
                                                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <span class="input-group-addon addon-inside bg-gray">
                                                            <i class="glyph-icon icon-unlock-alt"></i>
                                                        </span>
                                                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-block btn-primary">Login</button>
                                                </div>
                                                <div class="row">
                                                    <div class="checkbox-primary col-md-6" style="height: 20px;">
                                                        <label>
                                                            <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                                                            Remember me
                                                        </label>
                                                    </div>
                                                    <div class="text-right col-md-6">
                                                        <a href="#" class="switch-button" switch-target="#login-forgot" switch-parent="#login-form" title="Recover password">Forgot your password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="login-forgot" class="content-box bg-default hide">
                                            <div class="content-box-wrapper pad20A">

                                                <div class="form-group">
                                                    <label for="exampleInputEmail2">Email address:</label>
                                                    <div class="input-group">
                                                        <span class="input-group-addon addon-inside bg-gray">
                                                            <i class="glyph-icon icon-envelope-o"></i>
                                                        </span>
                                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="button-pane text-center">
                                                <button type="submit" class="btn btn-md btn-primary">Recover Password</button>
                                                <a href="#" class="btn btn-md btn-link switch-button" switch-target="#login-form" switch-parent="#login-forgot" title="Cancel">Cancel</a>
                                            </div>
                                        </div>

                                    </form>

                                </div>
                            </div>

                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>
        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Login page 3
                </div>

                <div class="text-center">

                    <a href="login-page-3.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>
                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">
                            <style type="text/css">

                                body {
                                    background: #fafafa;
                                }

                            </style>
                            <div class="center-vertical">
                                <div class="center-content">

                                    <div class="col-md-6 clearfix center-margin">

                                        <div class="col-md-5">
                                            <h3 class="text-transform-upr font-size-17">Supina Admin <span class="opacity-80">v1.0</span></h3>
                                            <p class="font-gray">Lorem ipsum dolor sic amet dixit tu lorem ipsum.</p>
                                            <div class="divider"></div>
                                            <ul class="reset-ul">
                                                <li class="pad10A font-size-16">
                                                    <i class="glyph-icon icon-camera mrg10R font-green"></i>
                                                    Unlimited styles available
                                                </li>
                                                <li class="pad10A font-size-16">
                                                    <i class="glyph-icon icon-cog mrg10R font-red"></i>
                                                    Mobile first, responsive layouts
                                                </li>
                                                <li class="pad10A font-size-16">
                                                    <i class="glyph-icon icon-bullhorn mrg10R font-orange"></i>
                                                    Over 200.000 lines of code
                                                </li>
                                            </ul>
                                            <div class="divider"></div>
                                            Not a member yet? <a href="" title="Register">Click here to sign up</a>!

                                        </div>

                                        <div class="col-md-7">

                                            <form method="post" action="">
                                                <div class="content-box">
                                                    <h3 class="content-box-header content-box-header-alt bg-default">
                                                        <span class="icon-separator">
                                                            <i class="glyph-icon icon-cog"></i>
                                                        </span>
                                                        <div class="header-wrapper">
                                                            Members area
                                                            <small>Use the form below to login to your account.</small>
                                                        </div>
                                                        <div class="header-buttons">
                                                            <a href="#" class="btn btn-sm btn-primary" title="">Sign Up</a>
                                                        </div>
                                                    </h3>
                                                    <div class="content-box-wrapper">
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                                                <span class="input-group-addon bg-blue">
                                                                    <i class="glyph-icon icon-envelope-o"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="input-group">
                                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                                <span class="input-group-addon bg-blue">
                                                                    <i class="glyph-icon icon-unlock-alt"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <a href="" title="Recover password">Forgot Your Password?</a>
                                                        </div>
                                                        <button class="btn btn-success btn-block">Sign In</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>
        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Login page 4
                </div>

                <div class="text-center">

                    <a href="login-page-4.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>
                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">

                            <style type="text/css">

                                body {
                                    background: #fff;
                                }

                            </style>

                            <img src="../assets/dummy-images/bg31.jpg" class="login-img wow fadeIn" alt="" />

                            <div class="center-vertical">
                                <div class="center-content">

                                    <div class="col-md-3 wow bounceInDown center-margin">

                                        <form method="post" action="">
                                            <div class="content-box modal-content">
                                                <h3 class="content-box-header content-box-header-alt bg-default">
                                                    <span class="icon-separator">
                                                        <i class="glyph-icon icon-cog"></i>
                                                    </span>
                                                    <div class="header-wrapper">
                                                        Members area
                                                        <small>Login to your account.</small>
                                                    </div>
                                                    <div class="header-buttons">
                                                        <a href="#" class="btn btn-sm btn-primary" title="">Sign Up</a>
                                                    </div>
                                                </h3>
                                                <div class="content-box-wrapper">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                                            <span class="input-group-addon bg-blue">
                                                                <i class="glyph-icon icon-envelope-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                            <span class="input-group-addon bg-blue">
                                                                <i class="glyph-icon icon-unlock-alt"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <a href="" title="Recover password">Forgot Your Password?</a>
                                                    </div>
                                                    <button class="btn btn-success btn-block">Sign In</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>

        <div class="col-md-6">
            <div class="content-box mrg20B">

                <div class="content-box-header bg-white mrg20B">
                    Login page 5
                </div>

                <div class="text-center">

                    <a href="login-page-5.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                    <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

                </div>
                <div class="divider mrg20T mrg20B"></div>
                <div class="example-html">

                    <pre>
                        <code class="language-markup">
                            <style type="text/css">

                                body {
                                    background: #F5F5F5;
                                }

                            </style>

                            <div class="center-vertical">
                                <div class="center-content">

                                    <div class="col-md-6 center-margin">

                                        <h3 class="text-center pad15B font-gray text-transform-upr font-size-23">Supina Admin <span class="opacity-80">v1.0</span></h3>

                                        <div class="content-box border-top border-red clearfix">
                                            <div class="content-box-wrapper">

                                                <form action="" id="login-validation" class="col-md-7" method="">
                                                    <div id="login-form">
                                                        <div class="pad20A">

                                                            <div class="form-group">
                                                                <label for="exampleInputEmail1">Email address:</label>
                                                                <div class="input-group input-group-lg">
                                                                    <span class="input-group-addon addon-inside bg-white font-primary">
                                                                        <i class="glyph-icon icon-envelope-o"></i>
                                                                    </span>
                                                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="exampleInputPassword1">Password:</label>
                                                                <div class="input-group input-group-lg">
                                                                    <span class="input-group-addon addon-inside bg-white font-primary">
                                                                        <i class="glyph-icon icon-unlock-alt"></i>
                                                                    </span>
                                                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                                                                </div>
                                                            </div>
                                                            <div class="row mrg15B">
                                                                <div class="checkbox-primary col-md-6" style="height: 20px;">
                                                                    <label>
                                                                        <input type="checkbox" id="loginCheckbox1" class="custom-checkbox">
                                                                        Remember me
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-block btn-blue-alt">Login</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>
                                                <div class="col-md-3 col-md-offset-1" style="height: 287px;">

                                                    <div class="center-vertical">
                                                        <div class="center-content">

                                                            <a href="#" class="btn btn-block btn-md bg-facebook">
                                                                <span class="glyph-icon icon-separator">
                                                                    <i class="glyph-icon icon-facebook"></i>
                                                                </span>
                                                                <span class="button-content">
                                                                    Connect with Facebook
                                                                </span>
                                                            </a>
                                                            <div class="mrg10A"></div>
                                                            <a href="#" class="btn btn-block btn-md bg-twitter">
                                                                <span class="glyph-icon icon-separator">
                                                                    <i class="glyph-icon icon-twitter"></i>
                                                                </span>
                                                                <span class="button-content">
                                                                    Connect with Twitter
                                                                </span>
                                                            </a>
                                                            <div class="mrg10A"></div>
                                                            <a href="#" class="btn btn-block btn-md bg-google">
                                                                <span class="glyph-icon icon-separator">
                                                                    <i class="glyph-icon icon-google-plus"></i>
                                                                </span>
                                                                <span class="button-content">
                                                                    Connect with Google+
                                                                </span>
                                                            </a>

                                                        </div>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                        </code>
                    </pre>

                </div>

                {{> docs-buttons  }}

            </div>
        </div>




    </div>



</div>
