{% load staticfiles %}
<!DOCTYPE html> 
<html lang="en">
<head> 

    <meta charset="UTF-8">
<!--[if gte IE 9]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<!--[if IE 8]><meta http-equiv="X-UA-Compatible" content="IE=8"><![endif]-->
<title> 登录注册 </title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- Favicons -->

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'assets/images/icons/apple-touch-icon-144-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'assets/images/icons/apple-touch-icon-114-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'assets/images/icons/apple-touch-icon-72-precomposed.png' %}">
<link rel="apple-touch-icon-precomposed" href="{% static 'assets/images/icons/apple-touch-icon-57-precomposed.png' %}">
<link rel="shortcut icon" href="{% static 'assets/images/icons/favicon.png' %}">



    <!-- JS Core -->

    <script type="text/javascript" src="{% static 'assets-minified/js-core.js' %}"></script>



<script type="text/javascript">
    $(window).load(function(){
        setTimeout(function() {
            $('#loading').fadeOut( 400, "linear" );
        }, 300);
    });
</script>
<style>
    #loading {position: fixed;width: 100%;height: 100%;left: 0;top: 0;right: 0;bottom: 0;display: block;background: #fff;z-index: 10000;}
    #loading img {position: absolute;top: 50%;left: 50%;margin: -23px 0 0 -23px;}
</style>



        

        <link rel="stylesheet" type="text/css" href="{% static 'assets-minified/all-demo.css' %}">

    
    



</head> 
    <body>
    <div id="loading"><img src="{% static 'images/spinner/loader-dark.gif' %}" alt="Loading..."></div>

<style type="text/css">

    body {
        background: #fff;
        overflow: hidden;
        height: 100% !important;
    }
</style>

<script type="text/javascript" src="{% static 'assets-minified/widgets/wow/wow.js' %}"></script>
<script type="text/javascript">
    /* WOW animations */

    wow = new WOW({
        animateClass: 'animated',
        offset: 100
    });
    wow.init();
</script>

<img src="{% static 'assets-minified/dummy-images/bg31.jpg' %}" class="login-img wow fadeIn" alt="">

<div class="center-vertical">
    <div class="center-content">
        <div class="container" id="container1">
                <div class="row centered-form">
                    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title text-center">注册</h3>
                            </div>
                            <div class="panel-body">
                                <form role="form" action="" method="post"> {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" name="username" id="username" class="form-control input-sm" placeholder="用户名">
                                            <span class="input-group-addon bg-blue">
                                                <i class="glyph-icon icon-user"></i>
                                            </span>
                                        </div>                                        
                                    </div>

                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="email" name="email" id="email" class="form-control input-sm" placeholder="邮箱">
                                            <span class="input-group-addon bg-blue">
                                                <i class="glyph-icon icon-envelope-o"></i>
                                            </span>
                                        </div> 
                                    </div>

                                    <!-- <div class="row"> -->
                                        <!-- <div class="col-xs-6 col-sm-6 col-md-6"> -->
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input type="password" name="password1" id="password" class="form-control input-sm" placeholder="密码">
                                                    <span class="input-group-addon bg-blue">
                                                        <i class="glyph-icon icon-unlock-alt"></i>
                                                    </span>
                                                </div> 
                                            </div>
                                            <!-- <div class="col-xs-6 col-sm-6 col-md-6"> -->
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <input type="password" name="password2" id="password_confirmation" class="form-control input-sm" placeholder="确认密码">
                                                        <span class="input-group-addon bg-blue">
                                                            <i class="glyph-icon icon-unlock-alt"></i>
                                                        </span>
                                                    </div>                                      
                                                </div>
                                            <!-- </div> -->
                                        <!-- </div> -->
                                    <!-- </div> -->

                                    <input type="submit" value="注册" class="btn btn-info btn-block">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- <div class="col-md-3 center-margin"> -->

<!--             <form role="form" action="" method="post"> {% csrf_token %}
                <div class="content-box wow bounceInDown modal-content">
                    <h3 class="content-box-header content-box-header-alt bg-default">
                        <div class="header-wrapper">
                            注册
                        </div>
                    </h3>
                    <div class="content-box-wrapper">
                        <div class="form-group"> 
                            <div class="input-group">
                                <input type="text" class="form-control" id="username" placeholder="用户名">
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-user"></i>
                                </span>
                            </div>
                        </div>                     
                        <div class="form-group"> 
                            <div class="input-group">
                                <input type="email" class="form-control" id="InputEmail" placeholder="邮箱" name="email">
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-envelope-o"></i>
                                </span>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" id="InputPassword1" placeholder="输入密码" name='password1'>
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-unlock-alt"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="password" class="form-control" id="InputPassword2" placeholder="重新输入密码" name='password2'>
                                <span class="input-group-addon bg-blue">
                                    <i class="glyph-icon icon-unlock-alt"></i>
                                </span>
                            </div>
                        </div>                        
                        <input type="submit" value="注册" class="btn btn-success btn-block">
                    </div>
                </div>
            </form> -->
        <!-- </div> -->

    </div>
</div>




    

    <script type="text/javascript" src="{% static 'assets-minified/all-demo.js' %}"></script>
    <!--[if !(IE 8)]><!-->
    <script type="text/javascript" src="{% static 'assets-minified/widgets/skycons/skycons.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets-minified/widgets/charts/piegage/piegage.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets-minified/widgets/charts/piegage/piegage-demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets-minified/widgets/charts/sparklines/sparklines.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets-minified/widgets/charts/sparklines/sparklines-demo.js' %}"></script>
    <![endif]-->
  <!--[if lt IE 9]>
    <script src="assets-minified/js-core/html5shiv.js"></script>
  <![endif]-->


        
    </body>
</html>
