<!DOCTYPE html> 
<html lang ="en">
<head> 

    {{> head  }}

{{#if production}}

    {{> assets-css  }}

{{else}}

    {{> assets-css-development  }}

{{/if}}

    <!-- Frontend Theme -->

    <link rel="stylesheet" type="text/css" href="assets-minified/themes/bratilius/default/framework-color.css">
    <link rel="stylesheet" type="text/css" href="assets-minified/themes/bratilius/border-radius.css">

    <link rel="stylesheet" type="text/css" href="assets-minified/themes/bratilius/frontend/color.css">

    <!-- Color Helpers CSS -->

    <link rel="stylesheet" type="text/css" href="assets-minified/helpers/colors.css">

</head> 
<body class="frontend-layout"> 

  {{> body  }}

    <div class="medium-padding dummy-dark-bg2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box icon-box-offset-medium bg-black inverse icon-boxed">
                        <i class="icon-large glyph-icon bg-primary icon-picture-o"></i>
                        <h3 class="icon-title">Multiple themes and color schemes</h3>
                        <p class="icon-content">The modular AUI arhitecture allows quick, beautiful and easy customizations. For now, there are 5 layout and 10 elements color schemes available.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box icon-box-offset-medium bg-black inverse icon-boxed">
                        <i class="icon-large glyph-icon bg-red icon-tablet"></i>
                        <h3 class="icon-title">Fully responsive, mobile first layouts</h3>
                        <p class="icon-content">You can use the included Bootstrap 3 Grids System to create any kind of layouts and columns you need for mobile phones, tables and desktops.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box icon-box-offset-medium bg-black inverse icon-boxed">
                        <i class="icon-large glyph-icon bg-green icon-bar-chart-o"></i>
                        <h3 class="icon-title">Production-ready minified assets</h3>
                        <p class="icon-content">With AUI, you can automatically generate production-ready (minified, combined) CSS and JS files to make your app pages load laster.</p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .medium-padding -->

    <div class="medium-padding">


        <div class="owl-carousel-1 slider-wrapper carousel-wrapper carousel-wrapper-alt carousel-container">

            <div>
                <div class="testimonial-box mrg15A">
                    <div class="popover top">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="../assets/dummy-images/people/testimonial1.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Bratilius.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg15A">
                    <div class="popover top">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="../assets/dummy-images/people/testimonial2.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Bratilius.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg15A">
                    <div class="popover top">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="../assets/dummy-images/people/testimonial3.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Bratilius.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg15A">
                    <div class="popover top">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="../assets/dummy-images/people/testimonial4.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Bratilius.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg15A">
                    <div class="popover top">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="../assets/dummy-images/people/testimonial5.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Bratilius.com</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="testimonial-box mrg15A">
                    <div class="popover top">
                        <div class="arrow float-right"></div>
                        <div class="popover-content">
                            <i class="glyph-icon icon-quote-left"></i>
                            <p>If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages. The regular than the existing European languages.</p>
                        </div>
                    </div>
                    <div class="testimonial-author-wrapper">
                        <img class="img-rounded float-right" src="../assets/dummy-images/people/testimonial6.jpg" alt="">
                        <div class="testimonial-author text-right">
                            <b>Horia Simon</b>
                            <span>UI Designer, Bratilius.com</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="small-padding dummy-light-bg">

        <div class="container">
            <div class="feature-box small-padding clearfix">

                <div class="feature-img float-right">
                    <div class="iphone-wrapper">
                        <div class="iphone-screen"></div>
                        <div class="iphone-content">
                            <div class="owl-slider-3 slider-wrapper">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feature-content">
                    <div class="feature-heading">
                        <h2>Which of us ever to take a trivial </h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                    </div>
                    <ul class="feature-list">
                        <li>
                            <i class="glyph-icon icon-camera"></i>
                            <span>
                                <b>Wonderful serenity has taken</b>
                                <p>Alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of.</p>
                            </span>
                        </li>
                        <li>
                            <i class="glyph-icon icon-anchor"></i>
                            <span>
                                <b>Steal into the inner sanctuary recently</b>
                                <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman and above it there.?</p>
                            </span>
                        </li>
                        <li>
                            <i class="glyph-icon icon-bolt"></i>
                            <span>
                                <b>Little too small, lay peacefully between its</b>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
                            </span>
                        </li>
                        <li>
                            <i class="glyph-icon icon-bullhorn"></i>
                            <span>
                                <b>Bratilius Developer API</b>
                                <p>Lorem ipsum dolor sic amet dixit tu? Access Bratilius's human room although a little too small.</p>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="cta-box small-padding bg-gray">
        <p class="cta-text">See how Bratilius can help you find unfindable technical talent</p>
        <a href="#" class="btn btn-lg cta-btn font-size-14 btn-success text-transform-upr" title="">
            Download Now
        </a>
        <a href="#" class="btn btn-lg cta-btn font-size-14 btn-warning font-white text-transform-upr" title="">
            Take the Tour
        </a>
    </div>
    <div class="main-footer inverse clearfix bg-black">
        <div class="container clearfix">
            <div class="col-md-4">
                <div class="footer-desc">
                    <a class="logo" href="#" title="">Bratilius</a>
                    <p>
                        Nullam ornare, sem in malesuada sagittis, quam sapien ornare massa, id pulvinar quam augue vel orci. Praesent leo orci, cursus ac malesuada et, sollicitudin eu erat. Pellentesque ornare mi vitae sem consequat ac bibendum neque adipiscing.
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <h3 class="footer-header">Widgets</h3>
                <ul>
                    <li>
                        <a href="#" title="">Carousels</a>
                    </li>
                    <li>
                        <a href="#" title="">Sliders</a>
                    </li>
                    <li>
                        <a href="#" title="">Testimonials</a>
                    </li>
                    <li>
                        <a href="#" title="">Portfolio masonry</a>
                    </li>
                    <li>
                        <a href="#" title="">Portfolio full width 1</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="footer-header">Components</h3>
                <ul>
                    <li>
                        <a href="#" title="">Pricing boxes</a>
                    </li>
                    <li>
                        <a href="#" title="">Portfolio 3 columns</a>
                    </li>
                    <li>
                        <a href="#" title="">Dummy link</a>
                    </li>
                    <li>
                        <a href="#" title="">Another example</a>
                    </li>
                    <li>
                        <a href="#" title="">Features list</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="footer-header">Components</h3>
                <ul>
                    <li>
                        <a href="#" title="">Pricing boxes</a>
                    </li>
                    <li>
                        <a href="#" title="">Portfolio 3 columns</a>
                    </li>
                    <li>
                        <a href="#" title="">Dummy link</a>
                    </li>
                    <li>
                        <a href="#" title="">Another example</a>
                    </li>
                    <li>
                        <a href="#" title="">Features list</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <h3 class="footer-header">Components</h3>
                <ul>
                    <li>
                        <a href="#" title="">Pricing boxes</a>
                    </li>
                    <li>
                        <a href="#" title="">Portfolio 3 columns</a>
                    </li>
                    <li>
                        <a href="#" title="">Dummy link</a>
                    </li>
                    <li>
                        <a href="#" title="">Another example</a>
                    </li>
                    <li>
                        <a href="#" title="">Features list</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="footer-pane">
            <div class="container clearfix">
                <div class="logo">&copy; 2014 Bratilius. All Rights Reserved.</div>

                <ul class="footer-nav">
                    <li><a href="#" title="Portfolio">Widgets</a></li>
                    <li><a href="#" title="Layout">Layout</a></li>
                    <li><a href="#" title="Elements">Elements</a></li>
                    <li><a href="#" title="">Pricing tables</a></li>
                    <li><a href="#" title="Portfolio">Portfolio</a></li>
                </ul>

            </div>
        </div>
    </div>

{{#if production}}

    {{> assets-js  }}

{{else}}

    {{> assets-js-development  }}

{{/if}}
    {{> assets-frontend  }}

    <script type="text/javascript">
        var s = skrollr.init([
            smoothScrolling=true
        ]);
    </script>

    </body>
</html>