<div id="page-sidebar" class="rm-transition">
    <div id="page-sidebar-wrapper">

        <div id="sidebar-menu">

            {{> navigation  }}

        </div><!-- #sidebar-menu -->

        <div class="divider"></div>

        <div class="hidden-mobile text-center mrg15A">
            <div class="btn-group btn-group-sm">
                <a href="javascript:;" class="btn btn-primary tooltip-button" data-placement="top" title="Top tooltip">
                    <i class="glyph-icon icon-flag"></i>
                </a>
                <a href="javascript:;" class="btn btn-primary tooltip-button" data-placement="bottom" title="Bottom tooltip">
                    <i class="glyph-icon icon-inbox"></i>
                </a>
                <a href="javascript:;" class="btn btn-primary tooltip-button" data-placement="right" title="Right tooltip">
                    <i class="glyph-icon icon-hdd-o"></i>
                </a>
            </div>
        </div>

        <div class="divider"></div>
    </div><!-- #page-sidebar-wrapper -->
</div><!-- #page-sidebar -->