    <h2 class="dummy-light-bg inverse large-padding title-box title-big title-heading">
        <div class="container">
        <div class="wow rollIn" data-wow-delay="0.4s">Featured Portfolio Projects</div>
            <small class="wow fadeInUp" data-wow-delay="0.6s">Best &amp; Most Popular of Our Works</small>
            <span class="wow fadeInDown" data-wow-delay="0.8s">
                Maecenas sit amet tincidunt elit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas lorem. Nulla facilisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames turpis egestas!
            </span>
            <div class="title-button">
                <a data-wow-delay="1s" href="#" class="wow slideInLeft btn btn-lg cta-btn font-size-14 btn-success text-transform-upr" title="">
                    Get it now
                </a>
                <a data-wow-delay="1.2s" href="#" class="wow slideInRight btn btn-lg cta-btn font-size-14 btn-warning text-transform-upr" title="">
                    Features Tour
                </a>
            </div>
        </div>
    </h2>

    <div class="medium-padding dummy-dark-bg2">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon-box icon-box-offset-medium bg-black inverse icon-boxed">
                        <i class="icon-large glyph-icon bg-primary icon-picture-o"></i>
                        <h3 class="icon-title">Multiple themes and color schemes</h3>
                        <p class="icon-content">The modular AUI arhitecture allows quick, beautiful and easy customizations. For now, there are 5 layout and 10 elements color schemes available.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box icon-box-offset-medium bg-black inverse icon-boxed">
                        <i class="icon-large glyph-icon bg-red icon-tablet"></i>
                        <h3 class="icon-title">Fully responsive, mobile first layouts</h3>
                        <p class="icon-content">You can use the included Bootstrap 3 Grids System to create any kind of layouts and columns you need for mobile phones, tables and desktops.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="icon-box icon-box-offset-medium bg-black inverse icon-boxed">
                        <i class="icon-large glyph-icon bg-green icon-bar-chart-o"></i>
                        <h3 class="icon-title">Production-ready minified assets</h3>
                        <p class="icon-content">With AUI, you can automatically generate production-ready (minified, combined) CSS and JS files to make your app pages load laster.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="small-padding dummy-light-bg">

        <div class="container">
            <div class="feature-box small-padding clearfix">

                <div class="feature-img float-right">
                    <div class="iphone-wrapper">
                        <div class="iphone-screen"></div>
                        <div class="iphone-content">
                            <div class="owl-slider-3 slider-wrapper">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                                <img src="http://placehold.it/310x541/42bdc2/FFFFFF">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feature-content">
                    <div class="feature-heading">
                        <h2>Which of us ever to take a trivial </h2>
                        <p>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment</p>
                    </div>
                    <ul class="feature-list">
                        <li>
                            <i class="glyph-icon icon-camera"></i>
                            <span>
                                <b>Wonderful serenity has taken</b>
                                <p>Alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of.</p>
                            </span>
                        </li>
                        <li>
                            <i class="glyph-icon icon-anchor"></i>
                            <span>
                                <b>Steal into the inner sanctuary recently</b>
                                <p>It wasn't a dream. His room, a proper human room although a little too small, lay peacefully between its four familiar walls. A collection of textile samples lay spread out on the table - Samsa was a travelling salesman and above it there.?</p>
                            </span>
                        </li>
                        <li>
                            <i class="glyph-icon icon-bolt"></i>
                            <span>
                                <b>Little too small, lay peacefully between its</b>
                                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss.</p>
                            </span>
                        </li>
                        <li>
                            <i class="glyph-icon icon-bullhorn"></i>
                            <span>
                                <b>Bratilius Developer API</b>
                                <p>Lorem ipsum dolor sic amet dixit tu? Access Bratilius's human room although a little too small.</p>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="cta-box small-padding bg-gray">
        <p class="cta-text">See how Bratilius can help you find unfindable technical talent</p>
        <a href="#" class="btn btn-lg cta-btn font-size-14 btn-success text-transform-upr" title="">
            Get it now
        </a>
        <a href="#" class="btn btn-lg cta-btn font-size-14 btn-warning font-white text-transform-upr" title="">
            Features Tour
        </a>
    </div>