<div class="main-header bg-black-opacity header-fixed wow fadeInDown" data-0="padding: 23px 0;" data-250="padding: 8px 0;">
    <div class="container clearfix">
        <a href="#" class="hidden-desktop" id="responsive-menu" title="">
	<i class="glyph-icon icon-align-justify"></i>
</a>
<a href="featured-area-4.html" class="logo" title="Bratilius">
            Bratilius
        </a>
        <ul class="main-nav nav-alt">
            <li class="sf-mega-menu">
                <a href="#" title="Hero areas">
                    Hero areas
                    <i class="glyph-icon icon-chevron-down"></i>
                </a>
                <div class="sf-mega">
                    <div class="container">

                        <div class="sf-mega-section col-md-4">
                            <h4>Hero areas</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="featured-area-1.html" title="Hero area 1"><span>Hero area 1</span></a></li>
                                        <li><a href="featured-area-2.html" title="Hero area 2"><span>Hero area 2</span></a></li>
                                        <li><a href="featured-area-3.html" title="Hero area 3"><span>Hero area 3</span></a></li>
                                        <li><a href="featured-area-4.html" title="Hero area 4"><span>Hero area 4</span></a></li>
                                        <li><a href="featured-area-5.html" title="Hero area 5"><span>Hero area 5</span></a></li>
                                        <li><a href="featured-area-6.html" title="Hero area 6"><span>Hero area 6</span></a></li>
                                        <li><a href="featured-area-7.html" title="Hero area 7"><span>Hero area 7</span></a></li>
                                        <li><a href="featured-area-8.html" title="Hero area 8"><span>Hero area 8</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="featured-area-9.html" title="Hero area 9"><span>Hero area 9</span></a></li>
                                        <li><a href="featured-area-10.html" title="Hero area 10"><span>Hero area 10</span></a></li>
                                        <li><a href="featured-area-11.html" title="Hero area 11"><span>Hero area 11</span></a></li>
                                        <li><a href="featured-area-12.html" title="Hero area 12"><span>Hero area 12</span></a></li>
                                        <li><a href="featured-area-13.html" title="Hero area 13"><span>Hero area 13</span></a></li>
                                        <li><a href="featured-area-14.html" title="Hero area 14"><span>Hero area 14</span></a></li>
                                        <li><a href="featured-area-15.html" title="Hero area 15"><span>Hero area 15</span></a></li>
                                        <li><a href="featured-area-16.html" title="Hero area 16"><span>Hero area 16</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="sf-mega-section col-md-4">
                            <h4>Elements</h4>
                            <ul>
                                <li><a href="icon-boxes.html" title="Icon boxes"><span>Icon boxes</span></a></li>
                                <li><a href="page-titles.html" title="Page titles"><span>Page titles</span></a></li>
                                <li><a href="pricing-table.html" title="Pricing tables"><span>Pricing tables</span></a></li>
                                <li><a href="testimonials.html" title="Testimonials"><span>Testimonials</span></a></li>
                            </ul>
                        </div>

                        <div class="sf-mega-section col-md-4">
                            <h4>Portfolio</h4>
                            <ul>
                                <li><a href="portfolio-2col.html" title="Portfolio 2 columns"><span>2 columns</span></a></li>
                                <li><a href="portfolio-3col.html" title="Portfolio 2 columns"><span>3 columns</span></a></li>
                                <li><a href="portfolio-4col.html" title="Portfolio 4 columns"><span>4 columns</span></a></li>
                                <li><a href="portfolio-6col.html" title="Portfolio 6 columns"><span>6 columns</span></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </li>
            <li class="sf-mega-menu">
                <a href="#" title="Portfolio">
                    Portfolio
                    <i class="glyph-icon icon-chevron-down"></i>
                </a>
                <div class="sf-mega">
                    <div class="container">

                        <div class="sf-mega-section col-md-4">
                            <h4>Equal Columns Layout</h4>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="portfolio-2col.html" title="Portfolio 2 columns"><span>2 columns</span></a></li>
                                        <li><a href="portfolio-3col.html" title="Portfolio 2 columns"><span>3 columns</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <li><a href="portfolio-4col.html" title="Portfolio 4 columns"><span>4 columns</span></a></li>
                                        <li><a href="portfolio-6col.html" title="Portfolio 6 columns"><span>6 columns</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="sf-mega-section col-md-4">
                            <h4>Masonry Layout</h4>
                            <ul>
                                <li><a href="portfolio-fw2.html" title="Portfolio full width alternate"><span>Full width alternate</span></a></li>
                                <li><a href="portfolio-masonry.html" title="Portfolio masonry"><span>Full masonry</span></a></li>
                            </ul>
                        </div>

                        <div class="sf-mega-section col-md-4">
                            <h4>Single Entries</h4>
                            <ul>
                                <li><a href="portfolio-fw1.html" title="Portfolio full width"><span>Full width</span></a></li>
                            </ul>
                        </div>

                    </div>
                </div>

            </li>

            <li>
                <a href="#" title="Elements">
                    Elements
                    <i class="glyph-icon icon-chevron-down"></i>
                </a>
                <ul>
                    <li><a href="footer-1.html" title="Simple black footer"><span>Simple black footer</span></a></li>
                    <li><a href="footer-2.html" title="Simple blue footer"><span>Simple blue footer</span></a></li>
                    <li><a href="footer-3.html" title="Grid footer 1"><span>Grid footer 1</span></a></li>
                    <li><a href="footer-4.html" title="Grid footer 2"><span>Grid footer 2</span></a></li>

                    <li><a href="header-1.html" title=""><span>White transparent header</span></a></li>
                    <li><a href="header-2.html" title=""><span>Alternate dropdown menu</span></a></li>
                    <li><a href="header-3.html" title=""><span>White header</span></a></li>
                    <li><a href="header-4.html" title=""><span>Mega dropdown menu</span></a></li>
                    <li><a href="header-5.html" title=""><span>Blue header</span></a></li>
                    <li><a href="header-6.html" title=""><span>Transparent header</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div><!-- #header -->