<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title> {{title }} </title>

<!-- HELPERS -->

<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/animate.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/boilerplate.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/border-radius.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/grid.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/spacing.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/responsive.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/responsive-elements.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/utils.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/backgrounds.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/typography.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/helpers/page-transitions.css">

<!-- ELEMENTS -->

<link rel="stylesheet" type="text/css" href="../assets-minified/elements/buttons.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/tables.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/badges.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/progress-bar.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/response-messages.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/loading-indicators.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/menus.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/content-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/dashboard-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/panel-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/tile-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/social-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/info-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/forms.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/images.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/ribbon.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/timeline.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/elements/breadcrumb.css">

<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/icon-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/title-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/pricing-table.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/testimonial-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/cta-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/feature-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/portfolio-navigation.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/sliders.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/frontend-elements/footer.css">

<!-- Icons -->

<link rel="stylesheet" type="text/css" href="../assets-minified/icons/fontawesome/fontawesome.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/icons/linecons/linecons.css">

<!-- SNIPPETS -->

<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/user-profile.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/chat.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/todo.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/login-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/notification-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/progress-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/files-box.css">
<link rel="stylesheet" type="text/css" href="../assets-minified/snippets/chat-box.css">

<!-- APPLICATIONS -->

<link rel="stylesheet" type="text/css" href="../assets-minified/applications/mailbox.css">

<!-- JS Core -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets-minified/js-core/jquery-core.js"><\/script>')</script>

<script type="text/javascript" src="../assets-minified/js-core/jquery-ui-core.js"></script>
<script type="text/javascript" src="../assets-minified/js-core/jquery-ui-widget.js"></script>
<script type="text/javascript" src="../assets-minified/js-core/jquery-ui-mouse.js"></script>
<script type="text/javascript" src="../assets-minified/js-core/jquery-ui-position.js"></script>
<script type="text/javascript" src="../assets-minified/js-core/transition.js"></script>
<script type="text/javascript" src="../assets-minified/js-core/jquery-cookie.js"></script>

<!-- WIDGETS -->

<!-- Bootstrap Dropdown -->

<link rel="stylesheet" type="text/css" href="../assets-minified/widgets/dropdown/dropdown.css">
<script type="text/javascript" src="../assets-minified/widgets/dropdown/dropdown.js"></script>


<!-- Bootstrap Tooltip -->

<link rel="stylesheet" type="text/css" href="../assets-minified/widgets/tooltip/tooltip.css">
<script type="text/javascript" src="../assets-minified/widgets/tooltip/tooltip.js"></script>

<!-- Bootstrap Popover -->

<link rel="stylesheet" type="text/css" href="../assets-minified/widgets/popover/popover.css">
<script type="text/javascript" src="../assets-minified/widgets/popover/popover.js"></script>


<!-- Bootstrap Buttons -->

<script type="text/javascript" src="../assets-minified/widgets/button/button.js"></script>

<!-- Bootstrap Collapse -->

<script type="text/javascript" src="../assets-minified/widgets/collapse/collapse.js"></script>

<!-- Bootstrap Progress Bar -->

<link rel="stylesheet" type="text/css" href="../assets-minified/widgets/progressbar/progressbar.css">
<script type="text/javascript" src="../assets-minified/widgets/progressbar/progressbar.js"></script>

<!-- Uniform -->

<link rel="stylesheet" type="text/css" href="../assets-minified/widgets/uniform/uniform.css">
<script type="text/javascript" src="../assets-minified/widgets/uniform/uniform.js"></script>

<!-- Chosen -->

<link rel="stylesheet" type="text/css" href="../assets-minified/widgets/chosen/chosen.css">
<script type="text/javascript" src="../assets-minified/widgets/chosen/chosen.js"></script>

<!-- Superfish -->

<script type="text/javascript" src="../assets-minified/widgets/superfish/superfish.js"></script>

<!-- Superclick -->

<script type="text/javascript" src="../assets-minified/widgets/superclick/superclick.js"></script>

<!-- Nice scroll -->

<script type="text/javascript" src="../assets-minified/widgets/nicescroll/nicescroll.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="../assets-minified/widgets/overlay/overlay.js"></script>

<!-- jQueryUI Autocomplete -->

<script type="text/javascript" src="../assets-minified/widgets/autocomplete/autocomplete.js"></script>
<script type="text/javascript" src="../assets-minified/widgets/autocomplete/menu.js"></script>

<!-- Skycons -->

<script type="text/javascript" src="../assets-minified/widgets/skycons/skycons.js"></script>

<!-- Content box -->

<script type="text/javascript" src="../assets-minified/widgets/content-box/contentbox.js"></script>

<!-- Bootstrap Tabs -->

<script type="text/javascript" src="../assets-minified/widgets/tabs/tabs.js"></script>

<!-- Sparklines charts -->

<script type="text/javascript" src="../assets-minified/widgets/charts/sparklines/sparklines.js"></script>
<script type="text/javascript" src="../assets-minified/widgets/charts/sparklines/sparklines-demo.js"></script>

<!-- Slidebars -->

<link rel="stylesheet" type="text/css" href="../assets-minified/widgets/slidebars/slidebars.css">
<script type="text/javascript" src="../assets-minified/widgets/slidebars/slidebars.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="../assets-minified/widgets-init.js"></script>

