<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title> {{title }} </title>

<!-- HELPERS -->

<link rel="stylesheet" type="text/css" href="../assets/helpers/helpers-all.css">

<!-- ELEMENTS -->

<link rel="stylesheet" type="text/css" href="../assets/elements/elements-all.css">

<!-- Icons -->

<link rel="stylesheet" type="text/css" href="../assets/icons/fontawesome/fontawesome.css">
<link rel="stylesheet" type="text/css" href="../assets/icons/linecons/linecons.css">

<!-- SNIPPETS -->

<link rel="stylesheet" type="text/css" href="../assets/snippets/snippets-all.css">

<!-- APPLICATIONS -->

<link rel="stylesheet" type="text/css" href="../assets/applications/mailbox.css">

<!-- JS Core -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../assets/js-core/jquery-core.js"><\/script>')</script>

<script type="text/javascript" src="../assets/js-core.js"></script>

<!-- WIDGETS -->

<!-- Bootstrap Dropdown -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/dropdown/dropdown.css">
<script type="text/javascript" src="../assets/widgets/dropdown/dropdown.js"></script>


<!-- Bootstrap Tooltip -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/tooltip/tooltip.css">
<script type="text/javascript" src="../assets/widgets/tooltip/tooltip.js"></script>

<!-- Bootstrap Popover -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/popover/popover.css">
<script type="text/javascript" src="../assets/widgets/popover/popover.js"></script>


<!-- Bootstrap Buttons -->

<script type="text/javascript" src="../assets/widgets/button/button.js"></script>

<!-- Bootstrap Collapse -->

<script type="text/javascript" src="../assets/widgets/collapse/collapse.js"></script>

<!-- Bootstrap Progress Bar -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/progressbar/progressbar.css">
<script type="text/javascript" src="../assets/widgets/progressbar/progressbar.js"></script>

<!-- Uniform -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/uniform/uniform.css">
<script type="text/javascript" src="../assets/widgets/uniform/uniform.js"></script>

<!-- PieGage charts -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/charts/piegage/piegage.css">
<script type="text/javascript" src="../assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="../assets/widgets/charts/piegage/piegage-demo.js"></script>

<!-- Chosen -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/chosen/chosen.css">
<script type="text/javascript" src="../assets/widgets/chosen/chosen.js"></script>

<!-- Superfish -->

<script type="text/javascript" src="../assets/widgets/superfish/superfish.js"></script>

<!-- Superclick -->

<script type="text/javascript" src="../assets/widgets/superclick/superclick.js"></script>

<!-- Nice scroll -->

<script type="text/javascript" src="../assets/widgets/nicescroll/nicescroll.js"></script>

<!-- Overlay -->

<script type="text/javascript" src="../assets/widgets/overlay/overlay.js"></script>

<!-- jQueryUI Autocomplete -->

<script type="text/javascript" src="../assets/widgets/autocomplete/autocomplete.js"></script>
<script type="text/javascript" src="../assets/widgets/autocomplete/menu.js"></script>

<!-- Skycons -->

<script type="text/javascript" src="../assets/widgets/skycons/skycons.js"></script>

<!-- Content box -->

<script type="text/javascript" src="../assets/widgets/content-box/contentbox.js"></script>

<!-- Bootstrap Tabs -->

<script type="text/javascript" src="../assets/widgets/tabs/tabs.js"></script>

<!-- Sparklines charts -->

<script type="text/javascript" src="../assets/widgets/charts/sparklines/sparklines.js"></script>
<script type="text/javascript" src="../assets/widgets/charts/sparklines/sparklines-demo.js"></script>

<!-- Slidebars -->

<link rel="stylesheet" type="text/css" href="../assets/widgets/slidebars/slidebars.css">
<script type="text/javascript" src="../assets/widgets/slidebars/slidebars.js"></script>

<!-- Widgets init for demo -->

<script type="text/javascript" src="../assets/widgets-init.js"></script>

