---
title: justGage
external_docs: http://justgage.com

categories: Framework
tags: Charts
---

<!-- justGage charts -->

<!--<link rel="stylesheet" type="text/css" href="assets-minified/widgets/charts/justgage/justgage.css">-->

<script type="text/javascript" src="assets-minified/js-core/raphael.js"></script>

<script type="text/javascript" src="assets-minified/widgets/charts/justgage/justgage.js"></script>
<script type="text/javascript" src="assets-minified/widgets/charts/justgage/justgage-demo.js"></script>


    <h2 class="title-hero">
        justGage
    </h2>
    <p class="title-lead">The justGage widget generates and animates nice &amp; clean gauges. It’s completely resolution independent and self-adjusting.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-6">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">Javascript</h4>
                    <ul>
                        <li>
                            Raphael - <b>/assets/js-core/raphael.js</b>
                        </li>
                        <li>
                            justGage core - <b>/assets/widgets/charts/justgage/justgage.js</b>
                        </li>
                        <li>
                            justGage demo - <b>/assets/widgets/charts/justgage/justgage-demo.js</b>
                        </li>
                    </ul>
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/widgets/charts/justgage/justgage.css - Contains the CSS needed for the justGage charts structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="alert alert-warning mrg15B">
                <p>To see all the available options &amp; configurations, we suggest reading the {{title}} external documentation accessible through the link below.</p>
            </div>
            <a href="http://www.justgage.com/" title="{{title}} documentation" target="_blank" class="btn display-inline btn-success">
                <i class="glyph-icon icon-external-link"></i>
                {{title}} external documentation
            </a>
        </div>
    </div>

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">justGage charts have a lot of configuration options available form styling to sizes and parameters. Available sizes: <code>.xs-gauge</code>, <code>.sm-gauge</code>, <code>.md-gauge</code>, <code>.lg-gauge</code>, <code>.xl-gauge</code>.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-lg-4">
              <div class="content-box pad10A">
                <div id="g1" class="xs-gauge"></div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="content-box pad10A">
                <div id="g2" class="sm-gauge"></div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="content-box pad10A">
                <div id="g3" class="md-gauge"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="content-box pad10A">
                <div id="g4" class="lg-gauge"></div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="content-box pad10A">
                <div id="g5" class="xl-gauge"></div>
              </div>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="content-box pad10A">
                                <div id="g1" class="xs-gauge"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="content-box pad10A">
                                <div id="g2" class="sm-gauge"></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="content-box pad10A">
                                <div id="g3" class="md-gauge"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content-box pad10A">
                                <div id="g4" class="lg-gauge"></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content-box pad10A">
                                <div id="g5" class="xl-gauge"></div>
                            </div>
                        </div>
                    </div>

                    <!-- justGage charts -->

                    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/charts/justgage/justgage.css">

                    <script type="text/javascript" src="assets-minified/js-core/raphael.js"></script>

                    <script type="text/javascript" src="assets-minified/widgets/charts/justgage/justgage.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/charts/justgage/justgage-demo.js"></script>

				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>


