---
title: Labels

categories: Framework
tags: Elements
---
    <h2 class="title-hero">
        Labels
    </h2>
    <p class="title-lead">Labels are inline elements with multiple styles that can be used to create text indicators.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/labels.css - Contains the CSS needed for the labels structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">Add the <code>.bs-label</code> CSS class to any element to transform it into a label.</p>

    <div class="example-box-wrapper">

        <h1>Example heading <span class="bs-label label-default">New</span></h1>
        <h2>Example heading <span class="bs-label label-default">New</span></h2>
        <h3>Example heading <span class="bs-label label-default">New</span></h3>
        <h4>Example heading <span class="bs-label label-default">New</span></h4>
        <h5>Example heading <span class="bs-label label-default">New</span></h5>
        <h6>Example heading <span class="bs-label label-default">New</span></h6>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <h1>Example heading <span class="bs-label label-default">New</span></h1>
                    <h2>Example heading <span class="bs-label label-default">New</span></h2>
                    <h3>Example heading <span class="bs-label label-default">New</span></h3>
                    <h4>Example heading <span class="bs-label label-default">New</span></h4>
                    <h5>Example heading <span class="bs-label label-default">New</span></h5>
                    <h6>Example heading <span class="bs-label label-default">New</span></h6>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Background colors
    </h3>
    <p class="title-lead">You can use the color helper CSS classes to add different backgrounds to the label element.</p>

    <h4 class="title-hero">
        Theme inherited
    </h4>
    <p class="title-lead">The <code>.label-primary</code> color can be inherited from a theme color scheme you select. These colors are usually used through out the app to style different kinds of widgets, components and elements.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Result</th>
                <th>Helper class</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="bs-label label-primary">Primary</span></td>
                <td><code>.label-primary</code></td>
                <td>This is the <b>primary</b> background color.</td>
            </tr>
        </tbody>
    </table>

    <h4 class="title-hero">
        Framework inherited
    </h4>
    <p class="title-lead">The color helper classes below come packed with the Bratilius Framework.</p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Result</th>
                <th>Helper class</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td><span class="bs-label label-default">Default</span></td>
                <td><code>.label-default</code></td>
                <td>This is the <b>default</b> background color.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-success">Success</span></td>
                <td><code>.label-success</code></td>
                <td>Used for <b>success</b> actions.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-danger">Danger</span></td>
                <td><code>.label-danger</code></td>
                <td>Used for <b>error</b> actions.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-warning">Warning</span></td>
                <td><code>.label-warning</code></td>
                <td>Used for <b>warning</b> actions.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-info">Info</span></td>
                <td><code>.label-info</code></td>
                <td>Used for <b>information</b> actions.</td>
            </tr>
        </tbody>
    </table>

    <h4 class="title-hero">
        Additional colors
    </h4>
    <p class="title-lead">These helper classes also come packed with the Bratilius Framework.</p>

    <table class="table table-bordered demo-margin">
        <thead>
            <tr>
                <th>Result</th>
                <th>Helper class</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><span class="bs-label label-blue-alt">Blue alternate</span></td>
                <td><code>.label-blue-alt</code></td>
                <td>Alternate blue background.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-yellow">Yellow</span></td>
                <td><code>.label-yellow</code></td>
                <td>Yellow background.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-purple">Purple</span></td>
                <td><code>.label-purple</code></td>
                <td>Purple background.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-azure">Azure</span></td>
                <td><code>.label-azure</code></td>
                <td>Azure background.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-black">Black</span></td>
                <td><code>.label-black</code></td>
                <td>Black background.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-black">black</span></td>
                <td><code>.label-black</code></td>
                <td>black background.</td>
            </tr>
            <tr>
                <td><span class="bs-label label-black-alt">black alternate</span></td>
                <td><code>.label-black-alt</code></td>
                <td>black alternate background.</td>
            </tr>
        </tbody>
    </table>