---
title: Noty notifications

categories: Framework
tags: Widgets
---

<!-- Noty notifications -->

<!--<link rel="stylesheet" type="text/css" href="assets-minified/widgets/noty-notifications/noty.css">-->
<script type="text/javascript" src="assets-minified/widgets/noty-notifications/noty.js"></script>
<script type="text/javascript" src="assets-minified/widgets/noty-notifications/noty-demo.js"></script>

    <h2 class="title-hero">
        Noty notifications
    </h2>
    <p class="title-lead">Noty is a jQuery plugin that creates success, alert, error, warning, information and confirmation response messages.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-6">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">Javascript</h4>
                    <ul>
                        <li>
                            jQuery core - <b>/assets/js-core/jquery-core.js</b>
                        </li>
                        <li>
                            Noty Notifications - <b>/assets/widgets/noty-notifications/noty.js</b>
                        </li>
                        <li>
                            Noty Notifications demo - <b>/assets/widgets/noty-notifications/noty-demo.js</b>
                        </li>
                    </ul>
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/widgets/noty-notifications/noty.css - Contains the CSS needed for the notifications structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="alert alert-warning mrg15B">
                <p>To see all the available options &amp; configurations, we suggest reading the {{title}} external documentation accessible through the link below.</p>
            </div>
            <a href="http://needim.github.com/noty/" title="{{title}} documentation" target="_blank" class="btn display-inline btn-success">
                <i class="glyph-icon icon-external-link"></i>
                {{title}} external documentation
            </a>
        </div>
    </div>

    {{> theming  }}

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">In the examples below you can see different response messages positions &amp; colors. To change the messages position you need to use the <code>data-layout=""</code> attribute with one of the following valid positions: <code>top</code>, <code>center</code>, <code>bottom</code>.</p>

    <div class="example-box-wrapper">

        <div class="row demo-margin">
            <div class="col-md-2">
                <a href="#" data-layout="top" data-type="success" class="btn-blue-alt btn btn-md display-block noty">
                    Top success
                </a>
            </div>
            <div class="col-md-2">
                <a href="#" data-layout="bottom" data-type="error" class="btn-danger btn btn-md display-block noty">
                    Bottom error
                </a>
            </div>
            <div class="col-md-2">
                <a href="#" data-layout="center" data-type="warning" class="btn-warning btn btn-md display-block noty">
                    Center warning
                </a>
            </div>
            <div class="col-md-2">
                <a href="#" data-layout="top" data-type="information" class="btn-gray btn btn-md display-block noty">
                    Top information
                </a>
            </div>
            <div class="col-md-2">
                <a href="#" data-layout="bottom" data-type="" class="btn-black btn btn-md display-block noty">
                    Bottom default
                </a>
            </div>
            <div class="col-md-2">
                <a href="#" data-layout="center" data-type="notification" class="btn-info btn btn-md display-block noty">
                    Center notification
                </a>
            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="row demo-margin">
                        <div class="col-md-2">
                            <a href="#" data-layout="top" data-type="success" class="btn-blue-alt btn btn-md display-block noty">
                                Top success
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-layout="bottom" data-type="error" class="btn-danger btn btn-md display-block noty">
                                Bottom error
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-layout="center" data-type="warning" class="btn-warning btn btn-md display-block noty">
                                Center warning
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-layout="top" data-type="information" class="btn-gray btn btn-md display-block noty">
                                Top information
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-layout="bottom" data-type="" class="btn-black btn btn-md display-block noty">
                                Bottom default
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="#" data-layout="center" data-type="notification" class="btn-info btn btn-md display-block noty">
                                Center notification
                            </a>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>