---
title: Page transitions
categories: Admin templates
---

<div class="remove-docs">

    <div class="row">
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromLeft-init">.pt-page-moveFromLeft-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromRight-init">.pt-page-moveFromRight-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromTop-init">.pt-page-moveFromTop-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromBottom-init">.pt-page-moveFromBottom-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-fade-init">.pt-page-fade-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromLeftFade-init">.pt-page-moveFromLeftFade-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromRightFade-init">.pt-page-moveFromRightFade-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromTopFade-init">.pt-page-moveFromTopFade-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-moveFromBottomFade-init">.pt-page-moveFromBottomFade-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-scaleUp-init">.pt-page-scaleUp-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-scaleUpCenter-init">.pt-page-scaleUpCenter-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-flipInLeft-init">.pt-page-flipInLeft-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-flipInRight-init">.pt-page-flipInRight-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-flipInBottom-init">.pt-page-flipInBottom-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-flipInTop-init">.pt-page-flipInTop-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotatePullRight-init">.pt-page-rotatePullRight-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotatePullLeft-init">.pt-page-rotatePullLeft-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotatePullTop-init">.pt-page-rotatePullTop-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotatePullBottom-init">.pt-page-rotatePullBottom-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotateUnfoldLeft-init">.pt-page-rotateUnfoldLeft-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotateUnfoldRight-init">.pt-page-rotateUnfoldRight-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotateUnfoldTop-init">.pt-page-rotateUnfoldTop-init</a>
        </div>
        <div class="col-md-3">
            <a href="#" class="btn display-block btn-sm mrg5B font-size-14 btn-info add-demo-transition" data-transition="pt-page-rotateUnfoldBottom-init">.pt-page-rotateUnfoldBottom-init</a>
        </div>
    </div>

    <script>
        $(function() { "use strict";

            $('body').addClass('add-transition');

            $('.add-demo-transition').on('click', function(){
                var transAttr = $(this).attr('data-transition');
                $('.add-transition').attr('class', 'add-transition');
                $('.add-transition').addClass(transAttr);
            });
        });
    </script>
</div>

<div class="remove-production">

    <h2 class="title-hero">
        Page transitions
    </h2>
    <p class="title-lead">Use the CSS helper classes below to add animated transitions when switching pages.</p>

    <div class="divider"></div>

    <h3 class="title-hero">
        Helper classes
    </h3>
    <p class="title-lead">Add one of the classed below to the <code>.add-transition</code> element located at the beginning of the body tag.</p>

<div class="content-box mrg20B">

    <div class="content-box-header bg-white mrg20B">
        Header with white transparent background
    </div>

    <div class="text-center">

        <a href="../production/page-transitions.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
        <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

    </div>

    <div class="divider mrg20T mrg20B"></div>
    <div class="example-html">

        <pre>
            <code class="language-markup">
                <ul>
                    <li><code>.pt-page-moveFromLeft-init</code></li>
                    <li><code>.pt-page-moveFromRight-init</code></li>
                    <li><code>.pt-page-moveFromTop-init</code></li>
                    <li><code>.pt-page-moveFromBottom-init</code></li>
                    <li><code>.pt-page-fade-init</code></li>
                    <li><code>.pt-page-moveFromLeftFade-init</code></li>
                    <li><code>.pt-page-moveFromRightFade-init</code></li>
                    <li><code>.pt-page-moveFromTopFade-init</code></li>
                    <li><code>.pt-page-moveFromBottomFade-init</code></li>
                    <li><code>.pt-page-scaleUp-init</code></li>
                    <li><code>.pt-page-scaleUpCenter-init</code></li>
                    <li><code>.pt-page-flipInLeft-init</code></li>
                    <li><code>.pt-page-flipInRight-init</code></li>
                    <li><code>.pt-page-flipInBottom-init</code></li>
                    <li><code>.pt-page-flipInTop-init</code></li>
                    <li><code>.pt-page-rotatePullRight-init</code></li>
                    <li><code>.pt-page-rotatePullLeft-init</code></li>
                    <li><code>.pt-page-rotatePullTop-init</code></li>
                    <li><code>.pt-page-rotatePullBottom-init</code></li>
                    <li><code>.pt-page-rotateUnfoldLeft-init</code></li>
                    <li><code>.pt-page-rotateUnfoldRight-init</code></li>
                    <li><code>.pt-page-rotateUnfoldTop-init</code></li>
                    <li><code>.pt-page-rotateUnfoldBottom-init</code></li>
                </ul>
            </code>
        </pre>

    </div>

    {{> docs-buttons  }}

</div>

</div>
