---
title: Slidebars
categories: Admin templates
---

<div class="remove-docs">

    <div class="text-center mrg25A">

        <a href="#" class="btn btn-lg btn-blue-alt sb-toggle-left" title="">Toggle left Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-toggle-right">Toggle right Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-open-left">Open left Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-open-right">Open right Slidebar</a>
        <a href="#" class="btn btn-lg btn-blue-alt sb-close">Close either Slidebar</a>

    </div>
</div>

<div class="remove-production">

<h2 class="title-hero">
    Slidebars
</h2>
<p class="title-lead">Use the markup below to replace the scrollbars style inherited from the browser with a custom one.</p>

<div class="divider"></div>

<div class="row mrg20T remove-production">
    <div class="col-md-6">
        <div class="content-box">
            <h3 class="content-box-header bg-default">
                <i class="glyph-icon icon-code-fork"></i>
                Dependencies
            </h3>
            <div class="content-box-wrapper">
                <h4 class="text-transform-upr font-gray font-size-16">Javascript</h4>
                <ul>
                    <li>
                        jQuery core - <b>/assets/js-core/jquery-core.js</b>
                    </li>
                    <li>
                        Slidebars core - <b>/assets/widgets/slidebars/slidebars.js</b>
                    </li>
                    <li>
                        Slidebars demo - <b>/assets/widgets/slidebars/slidebars-demo.js</b>
                    </li>
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/widgets/slidebars/slidebars.css - Contains the CSS needed for the slidebars structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <div class="alert alert-warning mrg15B">
            <p>To see all the available options &amp; configurations, we suggest reading the {{title}} external documentation accessible through the link below.</p>
        </div>
        <a href="https://github.com/adchsm/Slidebars" title="{{title}} documentation" target="_blank" class="btn display-inline btn-success">
            <i class="glyph-icon icon-external-link"></i>
            {{title}} external documentation
        </a>
    </div>
</div>

<div class="row mrg20T">

    <div class="col-md-6">
        <div class="content-box mrg20B">

            <div class="content-box-header bg-white mrg20B">
                Slidebars example
            </div>

            <div class="text-center">

                <a href="../production/slidebars.html" class="btn btn-default btn-lg" title="" target="_blank">View demo example</a>
                <i class="text-muted pad20T display-block font-size-11 text-center">Clicking the live demo link above opens a new window.</i>

            </div>
            <div class="divider mrg20T mrg20B"></div>
            <div class="example-html">

                <pre>
                    <code class="language-markup">
                        <div id="sb-site">

                            Page content here...

                            <ul>
                                <li class="sb-toggle-left">Toggle left Slidebar</li>
                                <li class="sb-toggle-right">Toggle right Slidebar</li>
                                <li class="sb-open-left">Open left Slidebar</li>
                                <li class="sb-open-right">Open right Slidebar</li>
                                <li class="sb-close">Close either Slidebar</li>
                            </ul>

                            Page content here...

                        </div><!-- #sb-site -->

                        <div class="sb-slidebar sb-left sb-style-push">
                            <!-- Your left Slidebar content. -->
                            <p>Just a line of text to demonstrate the push effect.</p>
                        </div>

                        <div class="sb-slidebar sb-right sb-style-overlay">
                            <!-- Your right Slidebar content. -->
                            <p>Just a line of text to demonstrate the overlay effect.</p>
                        </div>
                        <script>
                            (function($) {
                                $(document).ready(function() {
                                    $.slidebars();
                                });
                            }) (jQuery);
                        </script>
                    </code>
                </pre>

            </div>

            {{> docs-buttons  }}

        </div>
    </div>

</div>

</div>