---
title: Loading indicators

categories: Framework
tags: Forms
---

<style>
    
    .loading-spinner {
        float: left;
    }
    
</style>

    <h2 class="title-hero">
        Loading indicators
    </h2>
    <p class="title-lead">Loading indicators are used to indicate loading actions.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-12">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/elements/loading-indicators.css - Contains the CSS needed for the loading indicators structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <h3 class="title-hero">
        Basic
    </h3>
    <p class="title-lead">The examples below use images for spinners. There are two options available: a light spinner for dark backgrounds overlays and a dark one for light backgrounds overlays.</p>
    <div class="example-box-wrapper">

        <div class="clearfix demo-margin">

            <div class="pad20A radius-all-8 float-left mrg15R bg-black">
                <img src="assets-minified/images/spinner/loader-light.gif" alt="" />
            </div>
            <div class="pad20A radius-all-8 float-left bg-gray">
                <img src="assets-minified/images/spinner/loader-dark.gif" alt="" />
            </div>

        </div>
		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="clearfix demo-margin">

                        <div class="pad20A radius-all-8 float-left mrg15R bg-black">
                            <img src="assets-minified/images/spinner/loader-light.gif" alt="" />
                        </div>
                        <div class="pad20A radius-all-8 float-left bg-gray">
                            <img src="assets-minified/images/spinner/loader-dark.gif" alt="" />
                        </div>

                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        CSS3 Animations
    </h3>
    <p class="title-lead">Spinners are used to indicate loading actions.</p>

    {{> theming  }} 

    <h4 class="title-hero">
        Basic
    </h4>
    <p class="title-lead">Spinners are used to indicate loading actions.</p>
    <div class="example-box-wrapper">

        <div class="clearfix">

            <div class="loading-spinner">
                <i class="bg-blue"></i>
                <i class="bg-blue"></i>
                <i class="bg-blue"></i>
                <i class="bg-blue"></i>
                <i class="bg-blue"></i>
                <i class="bg-blue"></i>
            </div>
            <div class="loading-spinner">
                <i class="bg-primary"></i>
                <i class="bg-primary"></i>
                <i class="bg-primary"></i>
                <i class="bg-primary"></i>
                <i class="bg-primary"></i>
                <i class="bg-primary"></i>
            </div>
            <div class="loading-spinner">
                <i class="bg-black"></i>
                <i class="bg-black"></i>
                <i class="bg-black"></i>
                <i class="bg-black"></i>
                <i class="bg-black"></i>
                <i class="bg-black"></i>
            </div>
            <div class="loading-spinner">
                <i class="bg-red"></i>
                <i class="bg-red"></i>
                <i class="bg-red"></i>
                <i class="bg-red"></i>
                <i class="bg-red"></i>
                <i class="bg-red"></i>
            </div>
            <div class="loading-spinner">
                <i class="bg-green"></i>
                <i class="bg-green"></i>
                <i class="bg-green"></i>
                <i class="bg-green"></i>
                <i class="bg-green"></i>
                <i class="bg-green"></i>
            </div>
            <div class="loading-spinner">
                <i class="bg-azure"></i>
                <i class="bg-azure"></i>
                <i class="bg-azure"></i>
                <i class="bg-azure"></i>
                <i class="bg-azure"></i>
                <i class="bg-azure"></i>
            </div>
            <div class="loading-spinner">
                <i class="bg-gray"></i>
                <i class="bg-gray"></i>
                <i class="bg-gray"></i>
                <i class="bg-gray"></i>
                <i class="bg-gray"></i>
                <i class="bg-gray"></i>
            </div>
            <div class="loading-spinner">
                <i class="bg-yellow"></i>
                <i class="bg-yellow"></i>
                <i class="bg-yellow"></i>
                <i class="bg-yellow"></i>
                <i class="bg-yellow"></i>
                <i class="bg-yellow"></i>
            </div>

        </div>
		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="clearfix">

                        <div class="loading-spinner">
                            <i class="bg-blue"></i>
                            <i class="bg-blue"></i>
                            <i class="bg-blue"></i>
                            <i class="bg-blue"></i>
                            <i class="bg-blue"></i>
                            <i class="bg-blue"></i>
                        </div>
                        <div class="loading-spinner">
                            <i class="bg-primary"></i>
                            <i class="bg-primary"></i>
                            <i class="bg-primary"></i>
                            <i class="bg-primary"></i>
                            <i class="bg-primary"></i>
                            <i class="bg-primary"></i>
                        </div>
                        <div class="loading-spinner">
                            <i class="bg-black"></i>
                            <i class="bg-black"></i>
                            <i class="bg-black"></i>
                            <i class="bg-black"></i>
                            <i class="bg-black"></i>
                            <i class="bg-black"></i>
                        </div>
                        <div class="loading-spinner">
                            <i class="bg-red"></i>
                            <i class="bg-red"></i>
                            <i class="bg-red"></i>
                            <i class="bg-red"></i>
                            <i class="bg-red"></i>
                            <i class="bg-red"></i>
                        </div>
                        <div class="loading-spinner">
                            <i class="bg-green"></i>
                            <i class="bg-green"></i>
                            <i class="bg-green"></i>
                            <i class="bg-green"></i>
                            <i class="bg-green"></i>
                            <i class="bg-green"></i>
                        </div>
                        <div class="loading-spinner">
                            <i class="bg-azure"></i>
                            <i class="bg-azure"></i>
                            <i class="bg-azure"></i>
                            <i class="bg-azure"></i>
                            <i class="bg-azure"></i>
                            <i class="bg-azure"></i>
                        </div>
                        <div class="loading-spinner">
                            <i class="bg-gray"></i>
                            <i class="bg-gray"></i>
                            <i class="bg-gray"></i>
                            <i class="bg-gray"></i>
                            <i class="bg-gray"></i>
                            <i class="bg-gray"></i>
                        </div>
                        <div class="loading-spinner">
                            <i class="bg-yellow"></i>
                            <i class="bg-yellow"></i>
                            <i class="bg-yellow"></i>
                            <i class="bg-yellow"></i>
                            <i class="bg-yellow"></i>
                            <i class="bg-yellow"></i>
                        </div>

                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>
    <h4 class="title-hero">
        Alternate
    </h4>
    <p class="title-lead">Spinners are used to indicate loading actions.</p>
    <div class="example-box-wrapper">

        <div class="clearfix">

            <div class="loading-stick">
                <div class="stick bg-green"></div>
                <div class="stick bg-green"></div>
                <div class="stick bg-green"></div>
                <div class="stick bg-green"></div>
                <div class="stick bg-green"></div>
                <div class="stick bg-green"></div>
                <h1>Loading...</h1>
            </div>
            <div class="loading-stick">
                <div class="stick bg-primary"></div>
                <div class="stick bg-primary"></div>
                <div class="stick bg-primary"></div>
                <div class="stick bg-primary"></div>
                <h1>We're almost done!</h1>
            </div>
            <div class="loading-stick">
                <div class="stick bg-azure"></div>
                <div class="stick bg-azure"></div>
                <div class="stick bg-azure"></div>
                <div class="stick bg-azure"></div>
                <div class="stick bg-azure"></div>
                <div class="stick bg-azure"></div>
                <h1>Loading...</h1>
            </div>
            <div class="loading-stick">
                <div class="stick bg-black"></div>
                <div class="stick bg-black"></div>
                <div class="stick bg-black"></div>
                <h1>Wait...</h1>
            </div>
            <div class="loading-stick">
                <div class="stick bg-blue-alt"></div>
                <div class="stick bg-blue-alt"></div>
                <div class="stick bg-blue-alt"></div>
                <div class="stick bg-blue-alt"></div>
                <div class="stick bg-blue-alt"></div>
                <div class="stick bg-blue-alt"></div>
                <h1>Stand by...</h1>
            </div>
        </div>
		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div class="clearfix">

                        <div class="loading-stick">
                            <div class="stick bg-green"></div>
                            <div class="stick bg-green"></div>
                            <div class="stick bg-green"></div>
                            <div class="stick bg-green"></div>
                            <div class="stick bg-green"></div>
                            <div class="stick bg-green"></div>
                            <h1>Loading...</h1>
                        </div>
                        <div class="loading-stick">
                            <div class="stick bg-primary"></div>
                            <div class="stick bg-primary"></div>
                            <div class="stick bg-primary"></div>
                            <div class="stick bg-primary"></div>
                            <h1>We're almost done!</h1>
                        </div>
                        <div class="loading-stick">
                            <div class="stick bg-azure"></div>
                            <div class="stick bg-azure"></div>
                            <div class="stick bg-azure"></div>
                            <div class="stick bg-azure"></div>
                            <div class="stick bg-azure"></div>
                            <div class="stick bg-azure"></div>
                            <h1>Loading...</h1>
                        </div>
                        <div class="loading-stick">
                            <div class="stick bg-black"></div>
                            <div class="stick bg-black"></div>
                            <div class="stick bg-black"></div>
                            <h1>Wait...</h1>
                        </div>
                        <div class="loading-stick">
                            <div class="stick bg-blue-alt"></div>
                            <div class="stick bg-blue-alt"></div>
                            <div class="stick bg-blue-alt"></div>
                            <div class="stick bg-blue-alt"></div>
                            <div class="stick bg-blue-alt"></div>
                            <div class="stick bg-blue-alt"></div>
                            <h1>Stand by...</h1>
                        </div>
                    </div>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h4 class="title-hero">
        Spinning icons
    </h4>
    <p class="title-lead">Use the markup below to create Spinner icons. Add the respective icon CSS class to the element that has the <code>.glyph-icon</code> CSS class. To add a rotation animation, add the <code>.icon-spin</code> CSS class.</p>
    <div class="example-box-wrapper">

        <div class=" glyph-icon demo-icon tooltip-button icon-spin-1 icon-spin" title="icon-spin-1"></div>
        <div class=" glyph-icon demo-icon tooltip-button icon-spin-2 icon-spin" title="icon-spin-2"></div>
        <div class=" glyph-icon demo-icon tooltip-button icon-spin-3 icon-spin" title="icon-spin-3"></div>
        <div class=" glyph-icon demo-icon tooltip-button icon-spin-4 icon-spin" title="icon-spin-4"></div>
        <div class=" glyph-icon demo-icon tooltip-button icon-spin-5 icon-spin" title="icon-spin-5"></div>
        <div class=" glyph-icon demo-icon tooltip-button icon-spin-6 icon-spin" title="icon-spin-6"></div>

        <div class="clear"></div>
        <div class="example-html">
                <pre>
                    <code class="language-markup">
                        <div class=" glyph-icon demo-icon tooltip-button icon-spin-1 icon-spin" title="icon-spin-1"></div>
                        <div class=" glyph-icon demo-icon tooltip-button icon-spin-2 icon-spin" title="icon-spin-2"></div>
                        <div class=" glyph-icon demo-icon tooltip-button icon-spin-3 icon-spin" title="icon-spin-3"></div>
                        <div class=" glyph-icon demo-icon tooltip-button icon-spin-4 icon-spin" title="icon-spin-4"></div>
                        <div class=" glyph-icon demo-icon tooltip-button icon-spin-5 icon-spin" title="icon-spin-5"></div>
                        <div class=" glyph-icon demo-icon tooltip-button icon-spin-6 icon-spin" title="icon-spin-6"></div>

                        <div class="clear"></div>
                    </code>
                </pre>
        </div>
        {{> docs-buttons  }}
    </div>