---
title: Vector maps

categories: Framework
tags: Maps
---
    <!-- Vector maps -->

    <!--<link rel="stylesheet" type="text/css" href="assets-minified/widgets/maps/vector-maps/vectormaps.css">-->

    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps.js"></script>
    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/world_map.js"></script>
    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/de_merc_en.js"></script>
    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/mall_map.js"></script>
    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps-demo.js"></script>

    <h2 class="title-hero">
        Vector maps
    </h2>
    <p class="title-lead">Use the markup below to create vector maps.</p>

    <div class="divider"></div>

    <div class="row mrg20T remove-production">
        <div class="col-md-6">
            <div class="content-box">
                <h3 class="content-box-header bg-default">
                    <i class="glyph-icon icon-code-fork"></i>
                    Dependencies
                </h3>
                <div class="content-box-wrapper">
                    <h4 class="text-transform-upr font-gray font-size-16">Javascript</h4>
                    <ul>
                        <li>
                            jQuery core - <b>/assets/js-core/jquery-core.js</b>
                        </li>
                        <li>
                            Vectormaps core - <b>/assets/widgets/maps/vector-maps/vectormaps.js</b>
                        </li>
                        <li>
                            Vectormaps demo - <b>/assets/widgets/maps/vector-maps/vectormaps-demo.js</b>
                        </li>
                    </ul>
                    <h4 class="text-transform-upr font-gray font-size-16">CSS</h4>
                    <ul>
                        <li>
                            /assets/widgets/maps/vector-maps/vectormaps.css - Contains the CSS needed for the vector maps structure. Styling is achieved from the color theme CSS file (/assets/themes/../*.css).
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="alert alert-warning mrg15B">
                <p>To see all the available options &amp; configurations, we suggest reading the {{title}} external documentation accessible through the link below.</p>
            </div>
            <a href="http://jvectormap.com/documentation/" title="{{title}} documentation" target="_blank" class="btn display-inline btn-success">
                <i class="glyph-icon icon-external-link"></i>
                {{title}} external documentation
            </a>
        </div>
    </div>

    <h3 class="title-hero">
        World map
    </h3>
    <p class="title-lead">Use the markup below to create a basic word map example.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-12">

                <div id="world-map-gdp" class="col-md-10 center-margin" style="height: 300px;"></div>

            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div id="world-map-gdp" class="col-md-10 center-margin" style="height: 300px;"></div>

                    <!-- Vector maps -->

                    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/maps/vector-maps/vectormaps.css">

                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/world_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/de_merc_en.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/mall_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps-demo.js"></script>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Markers
    </h3>
    <p class="title-lead">Use the markup below to lern how to add markers to vector maps.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-12">

                <div id="world-map-markers" class="col-md-10 center-margin" style="height: 300px;"></div>

            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div id="world-map-markers" class="col-md-10 center-margin" style="height: 300px;"></div>

                    <!-- Vector maps -->

                    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/maps/vector-maps/vectormaps.css">

                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/world_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/de_merc_en.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/mall_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps-demo.js"></script>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Available maps
    </h3>
    <p class="title-lead">You can download more free maps <a href="http://jvectormap.com/maps/world/europe/" target="_blank" title="Download maps">here</a>.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-12">

                <div id="map-hu" class="col-md-10 center-margin" style="height: 300px;"></div>

            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">

                    <div id="map-hu" class="col-md-10 center-margin" style="height: 300px;"></div>

                    <!-- Vector maps -->

                    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/maps/vector-maps/vectormaps.css">

                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/world_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/de_merc_en.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/mall_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps-demo.js"></script>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>

    <h3 class="title-hero">
        Custom maps
    </h3>
    <p class="title-lead">Example of custom build vector map.</p>

    <div class="example-box-wrapper">

        <div class="row">
            <div class="col-md-12">

                <div id="mall-map" class="col-md-10 center-margin" style="height: 300px;"></div>

            </div>
        </div>

		<div class="example-html">
			<pre>
				<code class="language-markup">
                    <div class="row">
                        <div class="col-md-12">

                            <div id="mall-map" class="col-md-10 center-margin" style="height: 300px;"></div>

                        </div>
                    </div>

                    <!-- Vector maps -->

                    <link rel="stylesheet" type="text/css" href="assets-minified/widgets/maps/vector-maps/vectormaps.css">

                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/world_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/de_merc_en.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/mall_map.js"></script>
                    <script type="text/javascript" src="assets-minified/widgets/maps/vector-maps/vectormaps-demo.js"></script>
				</code>
			</pre>
		</div>
        {{> docs-buttons  }}
    </div>